{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% set secondaryFooterLinks = [
  { href: "#", text: "Privacy" },
  { href: "/projects/front-office/global-pages/cookies", text: "Cookies" },
  { href: "#", text: "Accessibility statement" },
  { href: "#", text: "Terms and conditions" }
] %}

{% set footerContactHtml %}
  <h2 class="govuk-heading-s">Contact the Planning Inspectorate</h2>
  <p class="govuk-body">
    <a class="govuk-footer__link" href="tel:03034445000">Customer Support: England 0303 444 5000</a>
  </p>
  <hr class="govuk-footer__section-break">
  <h2 class="govuk-heading-s">Service information</h2>
  <ul class="govuk-footer__inline-list">
    {% for link in secondaryFooterLinks %}
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="{{ link.href }}">{{ link.text }}</a>
      </li>
    {% endfor %}
  </ul>
  <hr class="govuk-footer__section-break">
{% endset %}

{% set allPrototypeLinks = [
  { href: "/manage-prototype", text: "Manage your prototype" },
  { href: "/manage-prototype/clear-data", text: "Clear data" }
] %}

{% if prototypeLinks and prototypeLinks.length %}
  {% set allPrototypeLinks = allPrototypeLinks.concat(prototypeLinks) %}
{% endif %}

{% set prototypeLinksHtml %}
  <h2 class="govuk-heading-s">Prototype links and page states</h2>
  <ul class="govuk-footer__inline-list">
    {% for link in allPrototypeLinks %}
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="{{ link.href }}">{{ link.text }}</a>
      </li>
    {% endfor %}
  </ul>
{% endset %}

{{ govukFooter({
  meta: {
    html: footerContactHtml + prototypeLinksHtml
  }
}) }}
