{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% set footerLinks = [
  { href: "/manage-prototype", text: "Manage your prototype" },
  { href: "/manage-prototype/clear-data", text: "Clear data" }
] %}
{% set footerLinks = footerLinks.concat(prototypeLinks if prototypeLinks else []) %}

{{ govukFooter({
  meta: {
    items: footerLinks
  }
}) }}
