{% include "includes/PINS-header--internal.html" %}

<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <a href="/projects/front-office/plan-details/v1/plan-details" class="govuk-service-navigation__link">Submit a plan for examination</a>
      </span>
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <ul class="govuk-service-navigation__list" id="navigation">
          <!--<li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/projects/front-office/application-details-g2/v2/application-details.html">
              Application details
            </a>
          </li>-->
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              Guidance
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/projects/front-office/application-details-g2/v1/account-settings.html">
              Account settings
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              Manage users
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section> 
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      What do you think of this service? Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
    </span>
  </p>
</div>