{{ govukHeader({
  homepageUrl: "/"
}) }}

{{ govukServiceNavigation({
  serviceName: serviceName,
  serviceUrl: "/projects/front-office/home/v3/homepage",
  navigation: [
    {
      href: "/projects/front-office/guidance/v1/guidance-page",
      text: "Guidance",
      current: activeNav == 'guidance'
    },
    {
      href: "/projects/front-office/start/v1/start",
      text: "Sign out"
    }
  ]
}) }}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}