<footer class="govuk-footer pins-footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta" style="display: flex; justify-content: space-between; align-items: flex-start;">
      <div style="text-align: left;">
        <h2 class="govuk-heading-s">Contact the Planning Inspectorate</h2>
        <p class="govuk-body">
          <a class="govuk-footer__link" href="tel:03034445000">Customer Support: England 0303 444 5000</a>
        </p>
        <hr class="govuk-footer__section-break">

        <h2 class="govuk-heading-s">Service information</h2>
        <ul class="govuk-footer__inline-list" style="margin-left: 0;">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#">Privacy</a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/projects/front-office/global-pages/cookies">Cookies</a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/projects/front-office/global-pages/accessibility-statement">Accessibility statement</a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#">Terms and conditions</a>
          </li>
        </ul>
        <hr class="govuk-footer__section-break">

        <h2 class="govuk-heading-s">Prototype links and page states</h2>
        <ul class="govuk-footer__inline-list" style="margin-left: 0;">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/manage-prototype">Manage your prototype</a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/manage-prototype/clear-data">Clear data</a>
          </li>
          {% if prototypeLinks %}
            {% for link in prototypeLinks %}
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="{{ link.href }}">{{ link.text }}</a>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
      <div style="text-align: right;">
        <span class="govuk-footer__copyright">© Planning Inspectorate</span>
      </div>
    </div>
  </div>
</footer>
