{% extends "layouts/main.html" %}
 
{% set title="Gateway 3" %}
{% set activeNav = 'front-office' %}

{% block header %}
  {% include "includes/PINS-header--internal.html" %}
  {% include "includes/service-navigation.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/front-office.html'
  }) }}
{% endblock %}
 
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    <span class="govuk-caption-l">
      Submit a Local Plan
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>
 
    {% set version = "1" %}
    <h2 class="govuk-heading-m">
      Version {{ version }}
      {{ govukTag({
        classes: 'govuk-tag govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h2>

    <p class="govuk-body">Allows LPAs to submit a Gateway 3 submission. Users upload required documents and confirm their submission.</p>

    <div class="govuk-button-group">

    {{ govukButton({
      text: "Start prototype",
      href: "/projects/front-office/gw3/v1/application-details",
      isStartButton: true
    }) }}
    {{ govukButton({
      text: "See resubmission flow",
      classes: "govuk-button--secondary",
      href: "/projects/front-office/plan-details/v3/plan-details?status=action-needed&stage=gateway-3"
   }) }}
</div>

    <h3 class="govuk-heading-s">Other options</h3>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/projects/front-office/gw3/v-mandatory/application-details">See option with all documents mandatory here</a>
      </li>
      <li>
        <a href="/projects/front-office/gw3/v-optional/application-details">See option with all documents optional here</a>
      </li>
      <li>
        <a href="/projects/front-office/gw3/v2-resubmission/application-details-decision?decision=stop">See resubmission option with documents carried over and flagged for action here</a>
      </li>
      <li>
        <a href="/projects/front-office/gw3/v3-resubmission/application-details?resubmission=true">See resubmission option with direct updates to documents available</a>
      </li>
    </ul>
<!--
    {{ govukButton({
      html: 'View prototype',
      href: '/projects/front-office/gw3/v' ~ version ~ '/application-details?error=',
      isStartButton: true
    }) }}-->

</div>
{% endblock %}