{% extends "layouts/main.html" %}
 
{% set title="Gateway 3" %}
{% set activeNav = 'front-office' %}

{% block header %}
  {% include "includes/PINS-header--internal.html" %}
  {% include "includes/service-navigation.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/front-office.html'
  }) }}
{% endblock %}
 
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    <span class="govuk-caption-l">
      Submit a Local Plan
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>
 
    {% set version = "1" %}
    <h2 class="govuk-heading-m">
      Version {{ version }}
      {{ govukTag({
        classes: 'govuk-tag govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h2>

    <p class="govuk-body">Allows LPAs to submit a Gateway 3 application. Users upload required documents, complete a declaration, and confirm submission.</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/projects/front-office/gw3/v1/application-details">See option with all documents mandatory here</a>
      </li>
      <li>
        <a href="/projects/front-office/gw3/v2/application-details">See option with all documents optional here</a>
      </li>
      <li>
        <a href="/projects/front-office/gw3/v3/application-details">See option with a hybrid of mandatory and optional documents here</a>
      </li>
      <li>
        <a href="/projects/front-office/plan-details/v2/plan-details?status=action-needed&stage=gateway-3">See Gateway 3 stop decision and resubmission flow here</a>
      </li>
    </ul>
<!--
    {{ govukButton({
      html: 'View prototype',
      href: '/projects/front-office/gw3/v' ~ version ~ '/application-details?error=',
      isStartButton: true
    }) }}-->

</div>
{% endblock %}