{% extends "layouts/back-office.html" %}

{% block pageTitle %}
 What is the estimated Gateway 1 date? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">What is the estimated Gateway 1 date?</h1>
            <form class="form" method="post" action="/projects/back-office/manage/GW1/gateway-1-estimated">
                <input type="hidden" name="isEdit" value="{{ isEdit }}">
                <input type="hidden" name="returnUrl" value="{{ returnUrl }}">
                {% set noticeOfIntentionParts = noticeOfIntentionDate.split('/') if noticeOfIntentionDate else ['', '', ''] %}
                <fieldset class="govuk-fieldset govuk-!-margin-bottom-2" role="group" aria-describedby="passport-issued-hint">
                    <div class="govuk-date-input" id="notice-of-intention-date">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="notice-of-intention-date-day">Day</label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="notice-of-intention-date-day" name="notice-of-intention-date-day" type="text" inputmode="numeric" value="{{ noticeOfIntentionParts[0] }}">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="notice-of-intention-date-month">Month</label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="notice-of-intention-date-month" name="notice-of-intention-date-month" type="text" inputmode="numeric" value="{{ noticeOfIntentionParts[1] }}">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="notice-of-intention-date-year">Year</label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="notice-of-intention-date-year" name="notice-of-intention-date-year" type="text" inputmode="numeric" value="{{ noticeOfIntentionParts[2] }}">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Save and continue"
                    }) }}
                    <a href="{{ returnUrl }}" class="govuk-link">Cancel</a>
                </div>
            </form>
        </div>
{% endblock %}
{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
