{% extends "layouts/back-office.html" %}

{% block pageTitle %}
  {% if isEdit %}Edit key dates{% else %}Enter key dates{% endif %} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Is a Digital Sharing Agreement (DSA) in place?</h1>
            <form class="form" method="post" action="/projects/back-office/manage/GW1/gateway-1-dsa-check">
                <input type="hidden" name="returnUrl" value="{{ returnUrl }}">
                {{ govukRadios({
                    name: "dsa-check",
                    items: [
                        { value: "yes", text: "Yes", checked: gateway1DsaCheck == "yes" },
                        { value: "no", text: "No", checked: gateway1DsaCheck == "no" }
                    ]
                }) }}
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Save and continue"
                    }) }}
                    {{ govukButton({
                        text: "Cancel",
                        classes: "govuk-button--secondary",
                        href: returnUrl
                    }) }}
                </div>
            </form>
        </div>
{% endblock %}
{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
