<style>.govuk-table--assessors {
  table-layout: fixed;
  width: 100%;
}

.govuk-table--assessors th:nth-child(1) {
  width: 45%;
}

.govuk-table--assessors th:nth-child(2) {
  width: 28%;
}

.govuk-table--assessors th:nth-child(3),
.govuk-table--assessors td:nth-child(3) {
  width: 30%;
}
</style>

<h2 class="govuk-heading-l">Gateway 2</h2>
<dl class="govuk-summary-list govuk-summary-list-timetable">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Expected</dt>
    <dd class="govuk-summary-list__value">{{ gateway2EstimatedDate or 'Not provided' }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/projects/back-office/manage/GW2/v1/gateway-2-estimated.html?returnUrl=/projects/back-office/manage/GW2/v5/gateway-2">Change<span class="govuk-visually-hidden"> Gateway 2 Estimated Date</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Received</dt>
    <dd class="govuk-summary-list__value">{{ gateway2ActualDate or 'Not provided' }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/projects/back-office/manage/GW2/v1/gateway-2-actual.html?returnUrl=/projects/back-office/manage/GW2/v5/gateway-2">Change<span class="govuk-visually-hidden"> Gateway 2 Actual Date</span></a>
    </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 42%;">
          Expected received documents
          <dd class="govuk-summary-list__value">
            {% if gateway2DocumentsSummary and gateway2DocumentsSummary.hasDocuments %}
              {{ gateway2DocumentsSummary.count }} documents
            {% else %}
              Not provided
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if gateway2DocumentsSummary and gateway2DocumentsSummary.hasDocuments %}
              <a class="govuk-link" href="/projects/back-office/manage/GW2/v5/gateway-2-documents">Review</a>
            {% endif %}
    </dd>
  </div>
</dl>
<h3 class="govuk-heading-l">Assessors</h3>
{% if assessorContacts and assessorContacts.length %}
<table class="govuk-table govuk-table--assessors">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Appointed</th>
      <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for contact in assessorContacts %}
        {% set contactLabel = contact.fullName or contact.name or ((contact.firstName ~ ' ' ~ contact.lastName) | trim) or 'Not provided' %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ contactLabel }}</td>
          <td class="govuk-table__cell">{{ contact.dateAppointedDisplay or 'Not provided' }}</td>
          <td class="govuk-table__cell">
          <a class="govuk-link" href="/projects/back-office/manage/GW2/v5/remove-contact-details-page?edit={{ loop.index0 }}">Remove<span class="govuk-visually-hidden"> {{ contactLabel }}</span></a>
            
          </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<p>
  <a class="govuk-link" href="/projects/back-office/manage/GW2/v5/check-contact-details">Add assessor</a>
</p>
