<header role="banner" class="pins-internal-header">
  <div class="govuk-width-container">
    <div class="back-office-header__logo-group">
      <div class="back-office-header__logo-wrapper">
        <a href="/" title="Home">
          <img class="back-office-header__logo" src="/public/Planning-Inspectorate-logo-landscape-white.png" alt="Planning Inspectorate logo">
        </a>
      </div>
    </div>
        <!-- department name 
		    <span class="pins-internal-header-logo__text govuk-!-margin-left-2 govuk-!-margin-top-1">
          Planning Inspectorate
        </span>
      </a>
    </div> -->

    <!-- service name
    <div class="pins-internal-service-name">
      <a href="/" class="pins-internal-service-name__link">
        Local Plans
      </a>
    </div>-->

  </div>
</header>
