<div class="app-search-form">
  <form>
    {{ govukInput({
      id: "search[keyWords]",
      name: "search[keyWords]",
      label: {
        text: "Search by name or reference number",
        classes: "govuk-label--s app-search-form__label"
      },
      value: data.search.keyWords
    }) }}

    {{ govukButton({
      text: "Search",
      classes: "app-search-form__button"
    }) }}
  </form>

  {% if data.search.keyWords %}
    <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><a class="govuk-link--no-visited-state" href="/applications/clear-search">Clear search</a></p>
  {% endif %}
</div>