
<nav class="back-office-header__service-nav">
  {{ govukServiceNavigation({
    serviceName: "Local plans back office",
    serviceUrl: "#",
    navigation: [
      { text: "Link 1", href: "#"},
      { text: "Link 2", href: "#"},
      { text: "Link 3", href: "#" }
    ]
  }) }}
</nav>
