{% extends "layouts/back-office.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: basePath + "/withdrawal-evidence?returnUrl=" + (returnUrl or (basePath + "/examination.html"))
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check withdrawal details and send notification</h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Withdrawal date</dt>
          <dd class="govuk-summary-list__value">{{ withdrawnDate or 'Not provided' }}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="{{ basePath }}/withdrawn-date?returnUrl={{ returnUrl }}">Change</a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Reason</dt>
          <dd class="govuk-summary-list__value">{{ withdrawalReason or 'Not provided' }}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="{{ basePath }}/withdrawal-reason?returnUrl={{ returnUrl }}">Change</a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Supporting evidence</dt>
          <dd class="govuk-summary-list__value">
            {% if uploadedDocuments and uploadedDocuments.length %}
              <ul class="govuk-list govuk-list--bullet">
                {% for document in uploadedDocuments %}<li>{{ document.name or document.originalname }}</li>{% endfor %}
              </ul>
            {% else %}
              No documents uploaded
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="{{ basePath }}/withdrawal-evidence?returnUrl={{ returnUrl }}">Change</a></dd>
        </div>
      </dl>

      <p class="govuk-body">We’ll send a notification to the planning authority to tell them that the main modifications documents are available.</p>

      <form method="post" action="{{ basePath }}/withdrawal-check-answers">
        <input type="hidden" name="returnUrl" value="{{ returnUrl }}">
        <button type="submit" class="govuk-button">Confirm withdrawal</button>
      </form>
    </div>
  </div>
{% endblock %}
