{% extends "layouts/back-office.html" %}

{% block pageTitle %}
  Check answers - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/projects/back-office/manage/GW2/v4/upload/v3/upload-bo"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">{{ caseRef or 'PLAN/000001' }}</span>
    <h1 class="govuk-heading-l">Check your answers before uploading</h1>

    {{ govukSummaryList({ rows: checkAnswerRows }) }}

    <form method="post" action="/projects/back-office/manage/GW2/v4/upload/v3/check-answers">
      {{ govukButton({ text: "Upload documents" }) }}
    </form>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
