{% extends "layouts/back-office.html" %}

{% block pageTitle %}
	Reason for pause – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
	{{ govukBackLink({
		text: "Back",
		href: returnUrl if pauseIndex is defined else basePath + "/plan-pause.html?returnUrl=" + (returnUrl or (basePath + "/examination.html")) + ("&newPause=true" if newPause else "")
	}) }}
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">Pause details</h1>
			<form class="form" method="post" action="{{ basePath }}/plan-pause-reason">
				<input type="hidden" name="pauseIndex" value="{{ pauseIndex }}">
				<input type="hidden" name="newPause" value="{{ 'true' if newPause else 'false' }}">
				<input type="hidden" name="returnUrl" value="{{ returnUrl }}">

				<label class="govuk-label" for="plan-pause-reason">Add any details about the pause</label>
				<textarea class="govuk-textarea" id="plan-pause-reason" name="plan-pause-reason" rows="8">{{ planPauseReason }}</textarea>

				<div class="govuk-button-group">
					<button type="submit" class="govuk-button" data-module="govuk-button">Submit</button>
					<a href="{{ returnUrl or (basePath + '/examination.html') }}" class="govuk-link">Cancel</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
