{% extends "layouts/back-office.html" %}

{% block pageTitle %}
	{% if pauseResolved %}Reason for ending the pause{% else %}Reason for decision{% endif %} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
	{{ govukBackLink({
		text: "Back",
		href: returnUrl if pauseIndex is defined else ((basePath + "/plan-pause-actual-end?returnUrl=" + (returnUrl or (basePath + "/examination.html"))) if pauseResolved else (basePath + "/plan-pause-decision?returnUrl=" + (returnUrl or (basePath + "/examination.html"))))
	}) }}
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">Restart details </h1>
			<form class="form" method="post" action="{{ basePath }}/plan-pause-decision-reason">
				<input type="hidden" name="pauseIndex" value="{{ pauseIndex }}">
				<input type="hidden" name="returnUrl" value="{{ returnUrl }}">

				<label class="govuk-label" for="plan-pause-decision-reason">Add any details about the restart</label>
				<textarea class="govuk-textarea" id="plan-pause-decision-reason" name="plan-pause-decision-reason" rows="8">{{ planPauseDecisionReason }}</textarea>

				<div class="govuk-button-group">
					<button type="submit" class="govuk-button" data-module="govuk-button">Submit</button>
					<a href="{{ returnUrl or (basePath + '/examination.html') }}" class="govuk-link">Cancel</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
