{% extends "layouts/back-office.html" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  Check Local Planning Authorities – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if error %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: error, href: "#addAnotherLPA" }]
      }) }}
    {% endif %}

    {% set summaryRowsHtml %}
      {%- if lpas and lpas.length > 0 -%}
        {%- for lpa in lpas -%}
          <div class="govuk-summary-list__row">
            <div class="govuk-summary-list__key">Local Planning Authority{% if lpas.length > 1 %} {{ loop.index }}{% endif %}</div>
            <div class="govuk-summary-list__value">{{ lpa }}</div>
            <div class="govuk-summary-list__actions"></div>
          </div>
        {%- endfor -%}
      {%- else -%}
        <div class="govuk-summary-list__row">
          <div class="govuk-summary-list__key">Local Planning Authority</div>
          <div class="govuk-summary-list__value">Not provided</div>
          <div class="govuk-summary-list__actions"></div>
        </div>
      {%- endif -%}
    {% endset %}

    <h1 class="govuk-heading-l">Check Local Planning Authorities</h1>

    <div class="govuk-summary-list">{{ summaryRowsHtml | safe }}</div>

    <p>
      <a href="/projects/back-office/create-case/v5/additional-LPA" class="govuk-link">Add another Local Planning Authority</a>
    </p>

    <form method="post" action="/projects/back-office/create-case/v5/check-lpa">
      <input type="hidden" name="addAnotherLPA" value="no">
      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
