{% extends "layouts/back-office.html" %}

{% block pageTitle %}
  Check contact details – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
{% set totalContacts = (1 if mainContact else 0) + (contacts.length if contacts else 0) %}
{% set summaryRowsHtml %}
  {%- if mainContact -%}
    {% set mainContactLabel = mainContact.fullName or mainContact.name or ((mainContact.firstName ~ ' ' ~ mainContact.lastName) | trim) %}
    {% if not mainContactLabel %}
      {% set mainContactLabel = mainContact.email or 'main contact' %}
    {% endif %}
    <div class="govuk-summary-list__row">
      <div class="govuk-summary-list__key">Main contact</div>
      <div class="govuk-summary-list__value">
        {{ mainContactLabel }}<br>
        {{ mainContact.email }}<br>
        {% if mainContact.phone %}{{ mainContact.phone }}<br>{% endif %}
        {{ mainContact.organisation }}
      </div>
      <div class="govuk-summary-list__actions">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="/projects/back-office/create-case/v5/remove-contact-details-page?type=main">Remove<span class="govuk-visually-hidden"> {{ mainContactLabel }} from the list</span></a>
          </li>
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="/projects/back-office/create-case/v5/main-contact?edit=true&from=check-contact-details">Change<span class="govuk-visually-hidden"> {{ mainContactLabel }}</span></a>
          </li>
        </ul>
      </div>
    </div>
  {%- endif -%}
  {%- if contacts -%}
    {%- for contact in contacts -%}
      {%- if contact.fullName or contact.name or contact.firstName or contact.lastName or contact.email -%}
        {% set contactLabel = contact.fullName or contact.name or ((contact.firstName ~ ' ' ~ contact.lastName) | trim) %}
        {% if not contactLabel %}
          {% set contactLabel = contact.email or ('contact ' ~ loop.index) %}
        {% endif %}
        <div class="govuk-summary-list__row">
          <div class="govuk-summary-list__key">Contact</div>
          <div class="govuk-summary-list__value">
            {{ contactLabel }}<br>
            {{ contact.email }}<br>
            {% if contact.phone %}{{ contact.phone }}<br>{% endif %}
            {{ contact.organisation or 'Not provided' }}
          </div>
          <div class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="/projects/back-office/create-case/v5/remove-contact-details-page?edit={{ loop.index0 }}">Remove<span class="govuk-visually-hidden"> {{ contactLabel }} from the list</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="/projects/back-office/create-case/v5/additional-contact?edit={{ loop.index0 }}&from=check-contact-details">Change<span class="govuk-visually-hidden"> {{ contactLabel }}</span></a>
              </li>
            </ul>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{% endset %}

<h1 class="govuk-heading-l">Check contact details</h1>

<div class="govuk-summary-list">{{ summaryRowsHtml | safe }}</div>

{% if totalContacts > 1 %}
  <p class="govuk-!-margin-bottom-2">
    <a href="/projects/back-office/create-case/v5/change-main-contact" class="govuk-link">Change main contact</a>
  </p>
{% endif %}

<p>
  <a href="/projects/back-office/create-case/v5/additional-contact?from=check-contact-details" class="govuk-link">Add another contact</a>
</p>

<a href="/projects/back-office/create-case/v5/enter-key-dates" class="govuk-button">Continue<span class="govuk-visually-hidden"> to key dates</span></a>
{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}