{% extends "layouts/front-office-v3.html" %}
{% from "macros/multi-file-upload.njk" import uploadArea %}
{% set documentName = "Gateway 1 – Self assessment of readiness" %}
{% set title = "Upload " + documentName %}

{% block questions %}

<span class="govuk-caption-l">Consultation documents</span>
<h1 class="govuk-heading-l">{{ title }}</h1>

{{ uploadArea({
  id: "documents",
  name: "documents",
  dataKey: "documents",
  errorMessage: "The file must be a PDF, DOC, DOCX, PPT, PPTX, XLS, XLSX, MSG, JPG, JPEG, PNG, TIF or TIFF and smaller than 250MB.",
  allowedExtensions: ["pdf", "doc", "docx", "ppt", "pptx", "xls", "xlsx", "msg", "jpg", "jpeg", "png", "tif", "tiff"],
  maxFileSizeMB: 250
}) }}

{% endblock %}
