.govuk-summary-list-timetable .govuk-summary-list__key {
  width: 40%;
}
.govuk-summary-list-timetable .govuk-summary-list__value {
  width: 30%;
}
.govuk-summary-list-timetable .govuk-summary-list__actions {
  width: 20%;
}
