// Custom widths for timetable summary list
.govuk-summary-list-timetable .govuk-summary-list__key {
    width: 55%;
}
.govuk-summary-list-timetable .govuk-summary-list__value {
    width: 25%;
}
.govuk-summary-list-timetable .govuk-summary-list__actions {
    width: 20%;
}
// Override GOV.UK footer background and border
.govuk-footer {
    background-color: #f3f2f1 !important;
    border-top: 4px solid #13a19b !important;
}
// Make main content area full width without overflow
.govuk-main-wrapper {
@import 'secondary-navigation';

    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box;
}
//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here



// Override GOV.UK service navigation border and background
.govuk-service-navigation {
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #b1b4b6 !important;
    background-color: #f3f2f1 !important;
}
.govuk-service-navigation__service-name {
    font-weight: bold !important;
    margin-right: 30px;
    color: #000;
    text-decoration: none;
}
.govuk-service-navigation__item--active .govuk-service-navigation__link {
    text-decoration: underline;
    border-bottom: 4px solid #000;
    }
    
.govuk-service-navigation__link {
    color: #000 !important;
    border-bottom: 4px solid transparent !important;
    transition: color 0.2s, border-bottom-color 0.2s !important;
    }
.govuk-service-navigation__link:hover {
    color: #003078 !important;
    text-decoration: none !important;
    border-bottom-color: #000 !important;
}

// GOV.UK Service Navigation List
.govuk-service-navigation__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
   // Adjust this value for more or less space between links
  align-items: center;
}

// Ensure service name link is bold even if other rules apply
.govuk-service-navigation__service-name,
.govuk-service-navigation__service-name .govuk-service-navigation__link,
.govuk-service-navigation__service-name.govuk-service-navigation__link {
  font-weight: bold !important;
}

// Set the background of the entire page, gutters, and back button to white
html, body {
    background-color: #fff !important;
    overflow-x: hidden;
}
.govuk-main-wrapper {
    background-color: #fff !important;
}
.govuk-back-link {
    background-color: #fff !important;
}


// Additions for the font and the Planning Inspectorate header

@import "settings";                 // font changes are here

@import "PINS-header--internal";    // this imports the styles for the planning inspectorate header
@import "back-office-header";       // this imports the styles for the back office header

$govuk-suppressed-warnings: ("legacy-organisation-colours");
