.pins-internal-header {
        /*padding: 1rem 0;*/
        display: table;
        width: 100% !important;
        /*min-height: 100px !important;*/
        background-color: #0b4f42 !important;
        border-bottom: 10px solid #13a19b !important;
        margin-bottom: 0 !important;
        padding-top: 24px;
        padding-bottom: 24px;
        z-index: 2;
        position: relative;
}

.pins-internal-service-name {
	line-height: 3.3rem;
	padding-top: 1.45rem;
}

.pins-internal-service-name__link,
.pins-internal-service-name__link:active,
.pins-internal-service-name__link:visited {
	font-size: 24px;
	font-weight: 800;
	font-family: helvetica, arial, sans-serif;
	color: white;
	text-decoration: none;
}

.pins-internal-header-logo {
    width: 30%;
    min-width: 26px;
    float: left;
    margin-bottom: 0;
    border-left: 2px solid #008670;
}





