{% extends "layouts/back-office.html" %}

{% block pageTitle %}
Is the workshop virtual or in-person? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Is the workshop in-person, remote or hybrid?</h1>
    <form method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="hearing-virtual-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hearing-virtual-no" name="isVirtual" type="radio" value="In-person" {{ 'checked' if addWorkshop.isVirtual == 'In-person' else '' }}>
              <label class="govuk-label govuk-radios__label" for="hearing-virtual-no">
                In-person
              </label>
            </div>
              <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hearing-virtual-hybrid" name="isVirtual" type="radio" value="Hybrid" {{ 'checked' if addWorkshop.isVirtual == 'Hybrid' else '' }}>
              <label class="govuk-label govuk-radios__label" for="hearing-virtual-hybrid">
                Hybrid
              </label>
              </div>

              <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hearing-virtual-yes" name="isVirtual" type="radio" value="Virtual" {{ 'checked' if addWorkshop.isVirtual == 'Virtual' else '' }}>
              <label class="govuk-label govuk-radios__label" for="hearing-virtual-yes">
                Virtual
              </label>
            </div>
            
          </div>
        </fieldset>
      </div>


      <div class="govuk-button-group">
        <button type="submit" class="govuk-button">Continue</button>
        {% if isEditing %}
          <a href="cancel" class="govuk-link">Cancel</a>
        {% endif %}
      </div>
    </form>
  </div>
</div>
{% endblock %}