
{% extends "layouts/back-office.html" %}

{% block pageTitle %}
	Where is the Gateway 2 workshop being held? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
	{{ govukBackLink({
		text: "Back",
		href: returnUrl or "javascript:window.history.back()"
	}) }}
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">Where is the Gateway 2 workshop being held?</h1>
			<form class="form" method="post" action="/projects/back-office/manage/GW2/gateway-2-workshop-venue">
				<input type="hidden" name="isEdit" value="{{ isEdit }}">
				<input type="hidden" name="returnUrl" value="{{ returnUrl }}">
				<fieldset class="govuk-fieldset govuk-!-margin-bottom-2" role="group" aria-describedby="gateway-2-workshop-date-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<span class="govuk-visually-hidden">Gateway 2 workshop venue</span>
					</legend>
					<input type="hidden" name="isEdit" value="{{ isEdit }}">
				<input type="hidden" name="returnUrl" value="{{ returnUrl }}">
				<div class="govuk-form-group">
					
					<input class="govuk-input govuk-!-width-one-third" id="gateway-2-workshop-venue" name="gateway-2-workshop-venue" type="text" value="{{ gateway2WorkshopVenue }}" >
				</div>
				
			<div class="govuk-button-group">
				<button class="govuk-button" data-module="govuk-button" type="submit">Save and continue</button>
				<a href="{{ returnUrl or '/projects/back-office/manage/GW2/v1/gateway-2.html' }}" class="govuk-link">Cancel</a>
			</div>
			
				</form>
		</div>
	</div>
{% endblock %}
