{% extends "layouts/main.html" %}
 
{% set title="Examination" %}
{% set activeNav = 'front-office' %}

{% block header %}
  {% include "includes/PINS-header--internal.html" %}
  {% include "includes/service-navigation.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/front-office.html'
  }) }}
{% endblock %}
 
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    <span class="govuk-caption-l">
      Submit a local plan
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>
 
    {% set version = "1" %}
    <h2 class="govuk-heading-m">
      Version {{ version }}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'Ready for research'
      }) }}
    </h2>

    <p class="govuk-body">Allows LPAs to submit for examination.</p>

     <h3 class="govuk-heading-s">Prototype states</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="/projects/front-office/plan-details/v3/plan-details?stage=examination&status=ready">Plan details: Examination ready to start</a></li>
        <li><a class="govuk-link" href="/projects/front-office/examination/v1/application-details-submitted?status=under-review&main-mods=false&report=false">Examination submitted</a></li>
        <li><a class="govuk-link" href="/projects/front-office/examination/v1/application-details-submitted?status=completed&report=true">Examination complete</a></li>
      </ul>

     
    {{ govukButton({
      html: 'View prototype',
      href: '/projects/front-office/examination/v' ~ version ~ '/application-details?error=',
      isStartButton: true
    }) }}

      {% set archiveHtml %}
        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="/projects/front-office/examination/archive/v1/application-details">Catch-all submission for new or updated documents only</a></li>
          <li><a class="govuk-link" href="/projects/front-office/examination/archive/v2/application-details">Catch-all per section (procedural, consultation, and plan content, evidence and background)</a></li>
          <li><a class="govuk-link" href="/projects/front-office/examination/archive/v3/application-details">Document requirements divided into sections similar to GW2 with conditional documents tagged</a></li>
          <li><a class="govuk-link" href="/projects/front-office/examination/archive/v4/application-details">Documents split into required and conditional sections</a></li>
        </ul>
      {% endset %}

      {{ govukDetails({
        summaryText: "Other design options",
        html: archiveHtml
      }) }}


</div>
{% endblock %}