{% extends "layouts/back-office.html" %}

{% block pageTitle %}
	When did the panel send its QA response to the Inspector? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
	{{ govukBackLink({
		text: "Back",
		href: returnUrl or "javascript:window.history.back()"
	}) }}
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">When did the panel send its QA response to the Inspector?</h1>
			<form class="form" method="post" action="/projects/back-office/manage/examination/v1/QA-panel-response-sent-date">
				<input type="hidden" name="isEdit" value="{{ isEdit }}">
				<input type="hidden" name="returnUrl" value="{{ returnUrl }}">
				{% set dateParts = qaPanelResponseSentDate.split('/') if qaPanelResponseSentDate else ['', '', ''] %}
				<fieldset class="govuk-fieldset govuk-!-margin-bottom-2" role="group" aria-describedby="qa-panel-response-sent-date-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<span class="govuk-visually-hidden">QA panel response sent date</span>
					</legend>
					<div class="govuk-date-input" id="qa-panel-response-sent-date">
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="qa-panel-response-sent-date-day">Day</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="qa-panel-response-sent-date-day" name="qa-panel-response-sent-date-day" type="text" inputmode="numeric" value="{{ dateParts[0] }}">
							</div>
						</div>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="qa-panel-response-sent-date-month">Month</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="qa-panel-response-sent-date-month" name="qa-panel-response-sent-date-month" type="text" inputmode="numeric" value="{{ dateParts[1] }}">
							</div>
						</div>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="qa-panel-response-sent-date-year">Year</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="qa-panel-response-sent-date-year" name="qa-panel-response-sent-date-year" type="text" inputmode="numeric" value="{{ dateParts[2] }}">
							</div>
						</div>
					</div>
				</fieldset>
			<div class="govuk-button-group">
				<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
				<a href="{{ returnUrl or '/projects/back-office/manage/examination/v1/QA-panel-response-sent-date' }}" class="govuk-link">Cancel</a>
			</div>
			</form>
		</div>
	</div>
{% endblock %}
