<h3 class="govuk-heading-m">Additional documents<!--<strong class="govuk-tag govuk-tag--yellow">For review</strong>--></h3>

  <dl class="govuk-summary-list govuk-summary-list-timetable">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key"><strong>Document</strong></dt>
      <dd class="govuk-summary-list__value"><strong>Status</strong></dd>
      <dd class="govuk-summary-list__value"><strong>Date</strong></dd>
      <dd class="govuk-summary-list__actions"><strong>Action</strong></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Subsequent work towards a draft plan</dt>
      <dd class="govuk-summary-list__value">Received</dd>
      <dd class="govuk-summary-list__value">17 May 2026</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">View</a></dd>
    </div>
  </dl>
