<h2 class="govuk-heading-l">Consultation documents<!--<strong class="govuk-tag govuk-tag--yellow">For review</strong>--></h2>

  <dl class="govuk-summary-list govuk-summary-list-timetable">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key"><strong>Document</strong></dt>
      <dd class="govuk-summary-list__value"><strong>Status</strong></dd>
      <dd class="govuk-summary-list__value"><strong>Date</strong></dd>
      <dd class="govuk-summary-list__actions"><strong>Action</strong></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Consultation statement</dt>
      <dd class="govuk-summary-list__value">Received</dd>
      <dd class="govuk-summary-list__value">17 May 2026</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">View</a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Consultation summary for scoping consultation</dt>
      <dd class="govuk-summary-list__value">Received</dd>
      <dd class="govuk-summary-list__value">17 May 2026</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">View</a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Consultation summary for proposed local plan content and evidence documents</dt>
      <dd class="govuk-summary-list__value">Received</dd>
      <dd class="govuk-summary-list__value">17 May 2026</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">View</a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Notice of intention to commence local plan preparation</dt>
      <dd class="govuk-summary-list__value">Received</dd>
      <dd class="govuk-summary-list__value">17 May 2026</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">View</a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Scoping consultation documents</dt>
      <dd class="govuk-summary-list__value">Received</dd>
      <dd class="govuk-summary-list__value">17 May 2026</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">View</a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Consultation summary of feedback to scoping consultation</dt>
      <dd class="govuk-summary-list__value">Received</dd>
      <dd class="govuk-summary-list__value">17 May 2026</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">View</a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Gateway 1 – Self assessment of readiness</dt>
      <dd class="govuk-summary-list__value">Received</dd>
      <dd class="govuk-summary-list__value">17 May 2026</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">View</a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Consultation on proposed local plan content and evidence documents</dt>
      <dd class="govuk-summary-list__value">Received</dd>
      <dd class="govuk-summary-list__value">17 May 2026</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">View</a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Consultation summary for the above</dt>
      <dd class="govuk-summary-list__value">Received</dd>
      <dd class="govuk-summary-list__value">17 May 2026</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">View</a></dd>
    </div>
  </dl>
