<h2 class="govuk-heading-l">Gateway 2</h2>
<dl class="govuk-summary-list govuk-summary-list-timetable">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Gateway 2 estimated date</dt>
    <dd class="govuk-summary-list__value">{{ gateway2EstimatedDate if gateway2EstimatedDate and gateway2EstimatedDate != '-' else 'Not provided' }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/projects/back-office/manage/GW2/v1/gateway-2-estimated.html?returnUrl=/projects/back-office/manage/GW2/v4/gateway-2-alt">Change<span class="govuk-visually-hidden"> Gateway 2 estimated date</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Gateway 2 actual date</dt>
    <dd class="govuk-summary-list__value">{{ gateway2ActualDate if gateway2ActualDate and gateway2ActualDate != '-' else 'Not provided' }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/projects/back-office/manage/GW2/v1/gateway-2-actual.html?returnUrl=/projects/back-office/manage/GW2/v4/gateway-2-alt">Change<span class="govuk-visually-hidden"> Gateway 2 actual date</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Gateway 2 valid date</dt>
    <dd class="govuk-summary-list__value">{{ gateway2ValidDate if gateway2ValidDate and gateway2ValidDate != '-' else 'Not provided' }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/projects/back-office/manage/GW2/v1/gateway-2-valid.html?returnUrl=/projects/back-office/manage/GW2/v4/gateway-2-alt">Change<span class="govuk-visually-hidden"> Gateway 2 valid date</span></a>
    </dd>
  </div>
</dl>

<dl class="govuk-summary-list govuk-summary-list-timetable">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Gateway 2 assessor name</dt>
    <dd class="govuk-summary-list__value">{{ gateway2AssessorName if gateway2AssessorName and gateway2AssessorName != '-' else 'Not provided' }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/projects/back-office/manage/GW2/v1/gateway-2-assessor-name.html?returnUrl=/projects/back-office/manage/GW2/v4/gateway-2-alt">Change<span class="govuk-visually-hidden"> Gateway 2 assessor name</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Assessor date of appointment</dt>
    <dd class="govuk-summary-list__value">{{ gateway2AssessorAppointmentDate if gateway2AssessorAppointmentDate and gateway2AssessorAppointmentDate != '-' else 'Not provided' }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/projects/back-office/manage/GW2/v1/gateway-2-assessor-appointment.html?returnUrl=/projects/back-office/manage/GW2/v4/gateway-2-alt">Change<span class="govuk-visually-hidden"> Gateway 2 assessor appointment date</span></a>
    </dd>
  </div>
</dl>

<h3 class="govuk-heading-m">Issue Gateway 2 report</h3>
{% if issueReportSummary and issueReportSummary.hasDocuments %}
  <dl class="govuk-summary-list govuk-summary-list-timetable">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Status</dt>
      <dd class="govuk-summary-list__value">Gateway 2 report issued</dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/projects/back-office/manage/GW2/v4/upload/v2/check-answers?returnTo=gateway-2-alt">View<span class="govuk-visually-hidden"> Gateway 2 report details</span></a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Date uploaded</dt>
      <dd class="govuk-summary-list__value">{{ issueReportSummary.latestUploadedAtDisplay if issueReportSummary.latestUploadedAtDisplay and issueReportSummary.latestUploadedAtDisplay != '-' else 'Not provided' }}</dd>
      <dd class="govuk-summary-list__actions"></dd>
    </div>
  </dl>
{% else %}
  <p class="govuk-body">No Gateway 2 report uploaded yet.</p>
  <p class="govuk-body govuk-!-margin-bottom-3">
    <a href="/projects/back-office/manage/GW2/v4/upload/v2/upload-bo?returnTo=gateway-2-alt">Upload Gateway 2 report</a>
  </p>
{% endif %}

<dl class="govuk-summary-list govuk-summary-list-timetable">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Report published by LPA date</dt>
    <dd class="govuk-summary-list__value">{{ gateway2ReportPublishedDate if gateway2ReportPublishedDate and gateway2ReportPublishedDate != '-' else 'Not provided' }}</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/projects/back-office/manage/GW2/v1/gateway-2-report-published.html?returnUrl=/projects/back-office/manage/GW2/v4/gateway-2-alt">Change<span class="govuk-visually-hidden"> Gateway 2 report published by LPA date</span></a>
    </dd>
  </div>
</dl>
