<h2 class="govuk-heading-l">Workshop preferences</h2>
<style>
  .workshop-preferences-table .govuk-summary-list__key {
    width: 40%;
  }

  .workshop-preferences-table .govuk-summary-list__value {
    width: 30%;
  }

  .workshop-preferences-table .govuk-summary-list__value:last-child {
    width: 50%;
    white-space: normal;
  }
</style>
<dl class="govuk-summary-list govuk-summary-list-timetable workshop-preferences-table">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key"><strong>Document</strong></dt>
    <dd class="govuk-summary-list__value"><strong>Status</strong></dd>
    <dd class="govuk-summary-list__value"><strong>Preference</strong></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Suggested workshop venue</dt>
    <dd class="govuk-summary-list__value">Received</dd>
    <dd class="govuk-summary-list__value">Virtual</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Suggested workshop dates</dt>
    <dd class="govuk-summary-list__value">Received</dd>
    <dd class="govuk-summary-list__value">20 - 23rd if July or we're free the week of July 27th</dd>
  </div>
</dl>
