{% extends "layouts/back-office.html" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  Add another contact? – {{ serviceName }}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if error %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: error, href: "#addAnotherContact" }]
      }) }}
    {% endif %}

    <form method="post" action="/projects/back-office/create-case/v2/add-another-contact">
      <div class="govuk-form-group{% if error %} govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset{% if error %} govuk-fieldset--error{% endif %}">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Add another contact?
            </h1>
          </legend>
          {% if error %}
            <p class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ error }}
            </p>
          {% endif %}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="addAnotherContact" name="addAnotherContact" type="radio" value="yes" {% if addAnotherContact == 'yes' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="addAnotherContact">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="addAnotherContact-2" name="addAnotherContact" type="radio" value="no" {% if addAnotherContact == 'no' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="addAnotherContact-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="govuk-form-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </form>
  </div>
</div>

{% endblock %}
{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}