{% set headerCaseRef = headerCaseRef or caseRef or 'PLAN/000001' %}
{% set headerPlanTitle = headerPlanTitle or planTitle or 'Plan title' %}

<span class="govuk-caption-l">{{ headerCaseRef }}</span>
<h1 class="govuk-heading-l">{{ headerPlanTitle }}</h1>