{% include "includes/back-office/plan-header-body.njk" %}
<div class="app-plan-header__meta">
{#	{% include "includes/back-office/plan-stage-caption.njk" %} #}
	{% include "includes/back-office/plan-status-tag.njk" %}
</div>