{% set currentSection = currentSection or "overview" %}
<nav class="moj-sub-navigation govuk-!-margin-top-6 govuk-!-margin-bottom-6" aria-label="Case workflow navigation">
  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item{% if currentSection == 'overview' %} moj-sub-navigation__item--active{% endif %}">
      <a class="moj-sub-navigation__link" href="/projects/back-office/manage/overview/v1/index"{% if currentSection == 'overview' %} aria-current="page"{% endif %}>Overview</a>
    </li>
    <li class="moj-sub-navigation__item{% if currentSection == 'timetable' %} moj-sub-navigation__item--active{% endif %}">
      <a class="moj-sub-navigation__link" href="/projects/back-office/manage/timetable.html"{% if currentSection == 'timetable' %} aria-current="page"{% endif %}>Timetable</a>
    </li>
    <li class="moj-sub-navigation__item{% if currentSection == 'gw1' %} moj-sub-navigation__item--active{% endif %}">
      <a class="moj-sub-navigation__link" href="/projects/back-office/manage/GW1/v1/gateway-1"{% if currentSection == 'gw1' %} aria-current="page"{% endif %}>Gateway 1</a>
    </li>
    <li class="moj-sub-navigation__item{% if currentSection == 'gw2' %} moj-sub-navigation__item--active{% endif %}">
      <a class="moj-sub-navigation__link" href="/projects/back-office/manage/GW2/v2/gateway-2"{% if currentSection == 'gw2' %} aria-current="page"{% endif %}>Gateway 2</a>
    </li>
    <li class="moj-sub-navigation__item{% if currentSection == 'gw3' %} moj-sub-navigation__item--active{% endif %}">
      <a class="moj-sub-navigation__link" href="/projects/back-office/manage/GW3/v2/gateway-3"{% if currentSection == 'gw3' %} aria-current="page"{% endif %}>Gateway 3</a>
    </li>
    <li class="moj-sub-navigation__item{% if currentSection == 'examination' %} moj-sub-navigation__item--active{% endif %}">
      <a class="moj-sub-navigation__link" href="/projects/back-office/manage/examination/v1/examination"{% if currentSection == 'examination' %} aria-current="page"{% endif %}>Examination</a>
    </li>
    <li class="moj-sub-navigation__item{% if currentSection == 'documents' %} moj-sub-navigation__item--active{% endif %}">
      <a class="moj-sub-navigation__link" href="/projects/back-office/manage/documents/upload/v1/documents"{% if currentSection == 'documents' %} aria-current="page"{% endif %}>Documents</a>
    </li>
    <li class="moj-sub-navigation__item{% if currentSection == 'updates' %} moj-sub-navigation__item--active{% endif %}">
      <a class="moj-sub-navigation__link" href="/projects/back-office/manage/updates/v1/updates.html"{% if currentSection == 'updates' %} aria-current="page"{% endif %}>Updates</a>
    </li>
  </ul>
</nav>