{% extends "layouts/front-office-v2.html" %}

{% set reportStatus = data['report'] %}

{% set prototypeLinks =
[
{
href: 'application-details-submitted?report=shared',
text: 'GW2 report shared'
}
]
%}

{% block pageTitle %}
  Application details – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/projects/front-office/plan-details/v3/plan-details?stage=gateway-3&status=ready&report="
  }) }}
{% endblock %}

{% block content %}

{% set supplementaryDocuments %}
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="#">supplementary-doc-1.pdf</a></li>
      <li><a class="govuk-link" href="#">supplementary-doc-2.pdf</a></li>
      <li><a class="govuk-link" href="#">supplementary-doc-3.pdf</a></li>
    </ul>
  {% endset %}

  {% set workshopDocuments %}
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="#">workshop-agenda.pdf</a><br>Shared by the Planning Inspectorate on 8 May 2026</li>
      <li><a class="govuk-link" href="#">workshop-questions.pdf</a><br>Shared by the Planning Inspectorate on 8 May 2026</li>
    </ul>
  {% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

        <!--{% if reportStatus == 'shared' %}

        {{ govukNotificationBanner({
      html: "
        <h3 class='govuk-notification-banner__heading'>
          Your Gateway 2 report has been shared by the Planning Inspectorate
        </h3>
      "
    }) }}

        {% else %}

        {{ govukNotificationBanner({
      html: "
        <h3 class='govuk-notification-banner__heading'>
          Your Gateway 2 submission is with the Planning Inspectorate
        </h3>

        <p class='govuk-body'>
          Gateway 2 assessment usually takes 6 weeks. You will be notified by email if any action is required.
        </p>
      "
    }) }}

        {% endif %}-->

    {% include "./workshop-metadata.html" %}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

    <p class="govuk-body">
      Your submission was sent on 25 April 2026 at 12:00pm by Laura Thornton.
    </p>

    <!--<p class="govuk-body">
      If you need to make any changes, send an email to:
      <a href="mailto:support@planninginspectorate.gov.uk" class="govuk-link">
        support@planninginspectorate.gov.uk
      </a>
    </p>-->

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Procedural documents</h2>

    {{ govukSummaryList({
      classes: "app-summary-list--narrow-key",
      rows: [
        {
          key: { text: "Gateway 2 covering letter" },
          value: {
            html: '<ul class="govuk-list"><li><a class="govuk-link" href="#" target="_blank" rel="noopener">cover-letter.pdf <span class="govuk-visually-hidden">(opens in a new tab)</span></a></li></ul>'
          }
        },
        {
          key: { text: "Local plan timetable" },
          value: {
            html: '<ul class="govuk-list"><li><a class="govuk-link" href="#" target="_blank" rel="noopener">timetable.pdf <span class="govuk-visually-hidden">(opens in a new tab)</span></a></li></ul>'
          }
        },
        {
          key: { text: "Project initiation document" },
          value: {
            html: '<ul class="govuk-list"><li><a class="govuk-link" href="#" target="_blank" rel="noopener">pid.pdf <span class="govuk-visually-hidden">(opens in a new tab)</span></a></li></ul>'
          }
        },
        {
          key: { text: "Draft statement of compliance" },
          value: {
            html: '<ul class="govuk-list"><li><a class="govuk-link" href="#" target="_blank" rel="noopener">compliance.pdf <span class="govuk-visually-hidden">(opens in a new tab)</span></a></li></ul>'
          }
        },
        {
          key: { text: "Draft statement of soundness" },
          value: {
            html: '<ul class="govuk-list"><li><a class="govuk-link" href="#" target="_blank" rel="noopener">soundness.pdf <span class="govuk-visually-hidden">(opens in a new tab)</span></a></li></ul>'
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Consultation documents</h2>

    {{ govukSummaryList({
      classes: "app-summary-list--narrow-key",
      rows: [
        {
          key: { text: "Notice of intention to commence local plan preparation" },
          value: {
            html: '<ul class="govuk-list"><li><a class="govuk-link" href="#" target="_blank" rel="noopener">notice-of-intention.pdf <span class="govuk-visually-hidden">(opens in a new tab)</span></a></li></ul>'
          }
        },
        {
          key: { text: "Scoping consultation documents" },
          value: {
            html: '<ul class="govuk-list"><li><a class="govuk-link" href="#" target="_blank" rel="noopener">scoping-full.pdf <span class="govuk-visually-hidden">(opens in a new tab)</span></a></li></ul>'
          }
        },
        {
          key: { text: "Consultation summary of feedback to scoping consultation" },
          value: {
            html: '<ul class="govuk-list"><li><a class="govuk-link" href="#" target="_blank" rel="noopener">scoping-feedback-summary.pdf <span class="govuk-visually-hidden">(opens in a new tab)</span></a></li></ul>'
          }
        },
        {
          key: { text: "Gateway 1 – Self assessment of readiness" },
          value: {
            html: '<ul class="govuk-list"><li><a class="govuk-link" href="#" target="_blank" rel="noopener">gateway1.pdf <span class="govuk-visually-hidden">(opens in a new tab)</span></a></li></ul>'
          }
        },
        {
          key: { text: "Consultation on proposed local plan content and evidence documents" },
          value: {
            html: '<ul class="govuk-list"><li><a class="govuk-link" href="#" target="_blank" rel="noopener">proposed-plan-full.pdf <span class="govuk-visually-hidden">(opens in a new tab)</span></a></li></ul>'
          }
        },
        {
          key: { text: "Summary of consultation on proposed local plan content and evidence documents" },
          value: {
            html: '<ul class="govuk-list"><li><a class="govuk-link" href="#" target="_blank" rel="noopener">consultation-summary.pdf <span class="govuk-visually-hidden">(opens in a new tab)</span></a></li></ul>'
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Additional documents</h2>

    {{ govukSummaryList({
      classes: "app-summary-list--narrow-key",
      rows: [
        {
          key: { text: "Subsequent work towards a draft Plan" },
          value: {
            html: supplementaryDocuments
          }
        }
      ]
    }) }}

        <h2 class="govuk-heading-m govuk-!-margin-top-6">Workshop preferences</h2>

    {{ govukSummaryList({
      classes: "app-summary-list--narrow-key",
      rows: [
        {
          key: { text: "Suggested workshop venue" },
          value: { text: "East Borough Civic Centre" }
        },
        {
          key: { text: "Suggested workshop dates" },
          value: { text: "19 - 21st of May or we're free the week of May 26th" }
        }
      ]
    }) }}


  </div>
</div>

{% endblock %}