{% extends "layouts/front-office-v2.html" %}
{% set back = false %}

{% block pageTitle %}
Application complete – {{ serviceName }}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
    titleText: "Gateway 2 submission complete"    }) }}

    <p class="govuk-body">We've sent you a confirmation email.</p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        An assessor will be appointed to your case in the next few days
      </li>
      <li>
        They will confirm the workshop arrangements based on your preferences
      </li>
      <li>
        They will contact you if they need further information before or after the workshop
      </li>
      <li>
        They will send the assessment report within 2 weeks of the workshop
      </li>
      <li>
        At any point you can <a class="govuk-link" href="/projects/front-office/plan-details/v3/plan-details?status=with-pins&stage=gateway-2">check your submission status</a>
      </li>
    </ul>

    <p class="govuk-body">
     <a href="#" class="govuk-link">Contact us</a> if you need to adjust your submission or change your workshop preferences.
    </p>

  </div>
</div>
{% endblock %}

{% block footer %}
{% include "includes/front-office/footer.njk" %}
{% endblock %}