          {% call govukInsetText({ classes: "govuk-!-margin-0 guidance-panel" }) %}
          <h2 class="govuk-heading-s">Summary of changes required:</h2>
          <p class="govuk-body">Please provide an updated Summary of Scoping Consultation and Environmental Report addressing the issues identified in the report. We also require you to submit a summary of how Gateway 2 issues have been addressed.</p>
          {% endcall %}