<div class="govuk-!-margin-bottom-6" id="feedback-summary">
  <h2 class="govuk-heading-m">Feedback from the inspector</h2>
  <p class="govuk-body">These documents did not meet the requirements and are marked <strong class="govuk-tag govuk-tag--orange">Needs updating</strong> below. You must replace them before you resubmit.</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Statement of Soundness</li>
    <li>Environmental report</li>
    <li>Summary of how issues raised at Gateway 2 have been addressed</li>
  </ul>
</div>
