{% extends "layouts/back-office.html" %}

{% block pageTitle %}
  {% if isEdit %}What is the plan title?{% else %}What is the plan title?{% endif %} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
     
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/projects/back-office/create-case-v2/1-plan-title" method="post">
      
      <input type="hidden" name="isEdit" value="{{ isEdit }}">

{{ govukInput({
  label: {
    text: "What is the plan title?" if not isEdit else "What is the plan title?",
    classes: "govuk-label--l"
  },
  id: "plan-title",
  name: "plan-title",
  type: "text",
  classes: "govuk-!-width-two-thirds",
  value: planTitle
}) }}

      <div class="govuk-button-group">
         {% if isEdit %}
        {{ govukButton({
          text: "Save and continue"
        }) }}
        {% else %}
        {{ govukButton({
          text: "Continue"
        }) }}
        {% endif %}
        
        {% if isEdit %}
        {{ govukButton({
          text: "Cancel",
          classes: "govuk-button--secondary",
          href: "/projects/back-office/create-case-v2/check-answers"
        }) }}
        {% endif %}
      </div>

      </form>
    </div>
</div>

{% endblock %}
{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}

