{% extends "layouts/back-office.html" %}

{% block pageTitle %}
  {% if isEdit %}What is the plan type?{% else %}What is the plan type?{% endif %} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
     
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/projects/back-office/create-case-v2/2-plan-type" method="post">
      
      <input type="hidden" name="isEdit" value="{{ isEdit }}">

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set textHtml %}
{{ govukInput({
  id: "other-plan-type",
  name: "otherPlanType",
  type: "text",
  autocomplete: "off",
  classes: "govuk-!-width-one-third",
  label: {
    text: "What is the plan type?"
  }
}) }}
{% endset -%}
{{ govukRadios({
  name: "plan-type",
  fieldset: {
    legend: {
      text: "What is the plan type?" if not isEdit else "What is the plan type?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "local-plan",
      text: "Local Plan",
      checked: planType == "local-plan"
    },
    {
      value: "other",
      text: "Other",
      checked: planType == "other",
      conditional: {
        html: textHtml
      }
    }
  ]
}) }}

      <div class="govuk-button-group">
         {% if isEdit %}
        {{ govukButton({
          text: "Save and continue"
        }) }}
        {% else %}
        {{ govukButton({
          text: "Continue"
        }) }}
        {% endif %}
        
        {% if isEdit %}
        <a href="/projects/back-office/create-case-v2/check-answers" class="govuk-link">Cancel</a>
        {% endif %}
      </div>

      </form>
    </div>
</div>

{% endblock %}
{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}

