{% extends "layouts/back-office.html" %}

{% block pageTitle %}
  Comment on the Local Plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="/projects/back-office/create-case-v2/additional-LPA">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="lpa">
            Select local planning authority
          </label>
        </h1>
        <div class="autocomplete__wrapper">
          <div class="autocomplete__status"
            style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
            <div id="lpaId__status--A" role="status" aria-atomic="true" aria-live="polite"></div>
            <div id="lpaId__status--B" role="status" aria-atomic="true" aria-live="polite"></div>
          </div>
          <ul aria-labelledby="lpaId" id="lpaId__listbox" role="listbox"
            class="autocomplete__menu autocomplete__menu--inline autocomplete__menu--hidden"></ul>
          <span id="lpaId__assistiveHint" style="display: none;">When autocomplete results are available use up and
            down arrows to review and enter to select. Touch device users, explore by touch or with swipe
            gestures.</span>
            <select class="govuk-select" id="lpa" name="lpa" data-module="autocomplete" data-autoselect=""
              data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
              <option value="" selected disabled>Select an option</option>
              <option value="Adur District Council">Adur District Council</option>
              <option value="Allerdale Borough Council">Allerdale Borough Council</option>
              <option value="Alnwick District Council">Alnwick District Council</option>
              <option value="Amber Valley Borough Council">Amber Valley Borough Council</option>
              <option value="Arun District Council">Arun District Council</option>
              <option value="Ashfield District Council">Ashfield District Council</option>
              <option value="Ashford Borough Council">Ashford Borough Council</option>
              <option value="Babergh District Council">Babergh District Council</option>
              <option value="Barnsley Metropolitan Borough Council">Barnsley Metropolitan Borough Council</option>
              <option value="Barrow-in- Furness Borough Council">Barrow-in- Furness Borough Council</option>
              <option value="Basildon Borough Council">Basildon Borough Council</option>
              <option value="Basingstoke and Deane Borough Council">Basingstoke and Deane Borough Council</option>
              <option value="Bassetlaw District Council">Bassetlaw District Council</option>
              <option value="Bath and North East Somerset Council">Bath and North East Somerset Council</option>
              <option value="Bedford Borough Council">Bedford Borough Council</option>
              <option value="Bedfordshire County Council">Bedfordshire County Council</option>
              <option value="Berwick-Upon-Tweed Borough Council">Berwick-Upon-Tweed Borough Council</option>
              <option value="Birmingham City Council">Birmingham City Council</option>
              <option value="Blaby District Council">Blaby District Council</option>
              <option value="Black Country Urban Development Corporation">Black Country Urban Development Corporation</option>
              <option value="Blackburn with Darwen Borough Council">Blackburn with Darwen Borough Council</option>
              <option value="Blackpool Council">Blackpool Council</option>
              <option value="Blyth Valley Borough Council">Blyth Valley Borough Council</option>
              <option value="Bolsover District Council">Bolsover District Council</option>
              <option value="Bolton Metropolitan Borough Council">Bolton Metropolitan Borough Council</option>
              <option value="Borough of Poole Council">Borough of Poole Council</option>
              <option value="Boston Borough Council">Boston Borough Council</option>
              <option value="Bournemouth Borough Council">Bournemouth Borough Council</option>
              <option value="Bournemouth Christchurch and Poole Council">Bournemouth Christchurch and Poole Council</option>
              <option value="Bracknell Forest Borough Council">Bracknell Forest Borough Council</option>
              <option value="Braintree District Council">Braintree District Council</option>
              <option value="Breckland Council">Breckland Council</option>
              <option value="Brentwood Borough Council">Brentwood Borough Council</option>
              <option value="Bridgnorth District Council">Bridgnorth District Council</option>
              <option value="Brighton & Hove City Council">Brighton & Hove City Council</option>
              <option value="Bristol City Council">Bristol City Council</option>
              <option value="Bristol Urban District Council">Bristol Urban District Council</option>
              <option value="Broadland District Council">Broadland District Council</option>
              <option value="Broads Authority">Broads Authority</option>
              <option value="Bromsgrove District Council">Bromsgrove District Council</option>
              <option value="Broxbourne Borough Council">Broxbourne Borough Council</option>
              <option value="Broxtowe Borough Council">Broxtowe Borough Council</option>
              <option value="Buckinghamshire Council - East Area (Chiltern)">Buckinghamshire Council - East Area (Chiltern)</option>
              <option value="Buckinghamshire Council - Minerals and Waste (County wide)">Buckinghamshire Council - Minerals and Waste (County wide)</option>
              <option value="Buckinghamshire Council - North Area (Aylesbury)">Buckinghamshire Council - North Area (Aylesbury)</option>
              <option value="Buckinghamshire Council - South Area (South Bucks)">Buckinghamshire Council - South Area (South Bucks)</option>
              <option value="Buckinghamshire Council - West Area (Wycombe)">Buckinghamshire Council - West Area (Wycombe)</option>
              <option value="Burnley Borough Council">Burnley Borough Council</option>
              <option value="Bury Metropolitan Borough Council">Bury Metropolitan Borough Council</option>
              <option value="Calderdale Metropolitan Borough Council">Calderdale Metropolitan Borough Council</option>
              <option value="Cambridge City Council">Cambridge City Council</option>
              <option value="Cambridgeshire County Council">Cambridgeshire County Council</option>
              <option value="Cannock Chase District Council">Cannock Chase District Council</option>
              <option value="Canterbury City Council">Canterbury City Council</option>
              <option value="Caradon District Council">Caradon District Council</option>
              <option value="Carlisle City Council">Carlisle City Council</option>
              <option value="Carrick District Council">Carrick District Council</option>
              <option value="Castle Morpeth Borough Council">Castle Morpeth Borough Council</option>
              <option value="Castle Point Borough Council">Castle Point Borough Council</option>
              <option value="Central Bedfordshire Council">Central Bedfordshire Council</option>
              <option value="Central Manchester Urban Development Corporation">Central Manchester Urban Development Corporation</option>
              <option value="Charnwood Borough Council">Charnwood Borough Council</option>
              <option value="Chelmsford City Council">Chelmsford City Council</option>
              <option value="Cheltenham Borough Council">Cheltenham Borough Council</option>
              <option value="Cherwell District Council">Cherwell District Council</option>
              <option value="Cheshire County Council">Cheshire County Council</option>
              <option value="Cheshire East Council">Cheshire East Council</option>
              <option value="Cheshire West and Chester Council">Cheshire West and Chester Council</option>
              <option value="Chester-le-Street District Council">Chester-le-Street District Council</option>
              <option value="Chesterfield Borough Council">Chesterfield Borough Council</option>
              <option value="Chichester District Council">Chichester District Council</option>
              <option value="Chorley Borough Council">Chorley Borough Council</option>
              <option value="Christchurch Borough Council">Christchurch Borough Council</option>
              <option value="City of Bradford Metropolitan District Council">City of Bradford Metropolitan District Council</option>
              <option value="City of Lincoln Council">City of Lincoln Council</option>
              <option value="City of London Council">City of London Council</option>
              <option value="City of Westminster Council">City of Westminster Council</option>
              <option value="City of York Council">City of York Council</option>
              <option value="Colchester Borough Council">Colchester Borough Council</option>
              <option value="Congleton Borough Council">Congleton Borough Council</option>
              <option value="Copeland Borough Council">Copeland Borough Council</option>
              <option value="Corby Borough Council">Corby Borough Council</option>
              <option value="Cornwall Council">Cornwall Council</option>
              <option value="Cotswold District Council">Cotswold District Council</option>
              <option value="Coventry City Council">Coventry City Council</option>
              <option value="Craven District Council">Craven District Council</option>
              <option value="Crawley Borough Council">Crawley Borough Council</option>
              <option value="Crewe and Nantwich Borough Council">Crewe and Nantwich Borough Council</option>
              <option value="Cumbria County Council">Cumbria County Council</option>
              <option value="Dacorum Borough Council">Dacorum Borough Council</option>
              <option value="Darlington Borough Council">Darlington Borough Council</option>
              <option value="Dartford Borough Council">Dartford Borough Council</option>
              <option value="Dartmoor National Park Authority">Dartmoor National Park Authority</option>
              <option value="Daventry District Council">Daventry District Council</option>
              <option value="Denbighshire County Council">Denbighshire County Council</option>
              <option value="Derby City Council">Derby City Council</option>
              <option value="Derbyshire County Council">Derbyshire County Council</option>
              <option value="Derbyshire Dales District Council">Derbyshire Dales District Council</option>
              <option value="Derwentside District Council">Derwentside District Council</option>
              <option value="Devon County Council">Devon County Council</option>
              <option value="Doncaster Metropolitan Borough Council">Doncaster Metropolitan Borough Council</option>
              <option value="Dorset Council">Dorset Council</option>
              <option value="Dover District Council">Dover District Council</option>
              <option value="Dudley Metropolitan Borough Council">Dudley Metropolitan Borough Council</option>
              <option value="Durham County Council">Durham County Council</option>
              <option value="East Cambridgeshire District Council">East Cambridgeshire District Council</option>
              <option value="East Devon District Council">East Devon District Council</option>
              <option value="East Hampshire District Council">East Hampshire District Council</option>
              <option value="East Hertfordshire District Council">East Hertfordshire District Council</option>
              <option value="East Lindsey District Council">East Lindsey District Council</option>
              <option value="East Northamptonshire Council">East Northamptonshire Council</option>
              <option value="East Riding of Yorkshire Council">East Riding of Yorkshire Council</option>
              <option value="East Staffordshire Borough Council">East Staffordshire Borough Council</option>
              <option value="East Suffolk Council">East Suffolk Council</option>
              <option value="East Sussex County Council">East Sussex County Council</option>
              <option value="Eastbourne Borough Council">Eastbourne Borough Council</option>
              <option value="Eastleigh Borough Council">Eastleigh Borough Council</option>
              <option value="Ebbsfleet Development Corporation">Ebbsfleet Development Corporation</option>
              <option value="Eden District Council">Eden District Council</option>
              <option value="Ellesmere Port and Neston Borough Council">Ellesmere Port and Neston Borough Council</option>
              <option value="Elmbridge Borough Council">Elmbridge Borough Council</option>
              <option value="Epping Forest District Council">Epping Forest District Council</option>
              <option value="Epsom and Ewell Borough Council">Epsom and Ewell Borough Council</option>
              <option value="Erewash Borough Council">Erewash Borough Council</option>
              <option value="Essex County Council">Essex County Council</option>
              <option value="Exeter City Council">Exeter City Council</option>
              <option value="Exmoor National Park Authority">Exmoor National Park Authority</option>
              <option value="Fareham Borough Council">Fareham Borough Council</option>
              <option value="Fenland District Council">Fenland District Council</option>
              <option value="Folkestone and Hythe District Council">Folkestone and Hythe District Council</option>
              <option value="Forest of Dean District Council">Forest of Dean District Council</option>
              <option value="Fylde Borough Council">Fylde Borough Council</option>
              <option value="Gateshead Metropolitan Borough Council">Gateshead Metropolitan Borough Council</option>
              <option value="Gedling Borough Council">Gedling Borough Council</option>
              <option value="Gloucester City Council">Gloucester City Council</option>
              <option value="Gloucestershire County Council">Gloucestershire County Council</option>
              <option value="Gosport Borough Council">Gosport Borough Council</option>
              <option value="Gravesham Borough Council">Gravesham Borough Council</option>
              <option value="Greater London Authority">Greater London Authority</option>
              <option value="Great Yarmouth Borough Council">Great Yarmouth Borough Council</option>
              <option value="Guildford Borough Council">Guildford Borough Council</option>
              <option value="Halton Borough Council">Halton Borough Council</option>
              <option value="Hambleton District Council">Hambleton District Council</option>
              <option value="Hampshire County Council">Hampshire County Council</option>
              <option value="Harborough District Council">Harborough District Council</option>
              <option value="Harlow District Council">Harlow District Council</option>
              <option value="Harrogate Borough Council">Harrogate Borough Council</option>
              <option value="Hart District Council">Hart District Council</option>
              <option value="Hartlepool Borough Council">Hartlepool Borough Council</option>
              <option value="Hastings Borough Council">Hastings Borough Council</option>
              <option value="Havant Borough Council">Havant Borough Council</option>
              <option value="Herefordshire Council">Herefordshire Council</option>
              <option value="Hertfordshire County Council">Hertfordshire County Council</option>
              <option value="Hertsmere Borough Council">Hertsmere Borough Council</option>
              <option value="High Peak Borough Council">High Peak Borough Council</option>
              <option value="Hinckley and Bosworth Borough Council">Hinckley and Bosworth Borough Council</option>
              <option value="Horsham District Council">Horsham District Council</option>
              <option value="Huntingdonshire District Council">Huntingdonshire District Council</option>
              <option value="Hyndburn Borough Council">Hyndburn Borough Council</option>
              <option value="Ipswich Borough Council">Ipswich Borough Council</option>
              <option value="Isle of Wight Council">Isle of Wight Council</option>
              <option value="Kennet District Council">Kennet District Council</option>
              <option value="Kent County Council">Kent County Council</option>
              <option value="Kerrier District Council">Kerrier District Council</option>
              <option value="Kettering Borough Council">Kettering Borough Council</option>
              <option value="King's Lynn and West Norfolk Borough Council">King's Lynn and West Norfolk Borough Council</option>
              <option value="Kingston-Upon-Hull City Council">Kingston-Upon-Hull City Council</option>
              <option value="Kirklees Metropolitan Council">Kirklees Metropolitan Council</option>
              <option value="Knowsley Metropolitan Borough Council">Knowsley Metropolitan Borough Council</option>
              <option value="Lake District National Park Authority">Lake District National Park Authority</option>
              <option value="Lancashire County Council">Lancashire County Council</option>
              <option value="Lancaster City Council">Lancaster City Council</option>
              <option value="Leeds City Council">Leeds City Council</option>
              <option value="Leeds Urban Development Corporation">Leeds Urban Development Corporation</option>
              <option value="Leicester City Council">Leicester City Council</option>
              <option value="Leicestershire County Council">Leicestershire County Council</option>
              <option value="Lewes District Council">Lewes District Council</option>
              <option value="Lichfield District Council">Lichfield District Council</option>
              <option value="Lincolnshire County Council">Lincolnshire County Council</option>
              <option value="Liverpool City Council">Liverpool City Council</option>
              <option value="London Borough of Barking and Dagenham Council">London Borough of Barking and Dagenham Council</option>
              <option value="London Borough of Barnet">London Borough of Barnet</option>
              <option value="London Borough of Bexley">London Borough of Bexley</option>
              <option value="London Borough of Brent">London Borough of Brent</option>
              <option value="London Borough of Bromley">London Borough of Bromley</option>
              <option value="London Borough of Camden">London Borough of Camden</option>
              <option value="London Borough of Croydon">London Borough of Croydon</option>
              <option value="London Borough of Ealing">London Borough of Ealing</option>
              <option value="London Borough of Enfield">London Borough of Enfield</option>
              <option value="London Borough of Hackney">London Borough of Hackney</option>
              <option value="London Borough of Hammersmith and Fulham">London Borough of Hammersmith and Fulham</option>
              <option value="London Borough of Haringey">London Borough of Haringey</option>
              <option value="London Borough of Harrow">London Borough of Harrow</option>
              <option value="London Borough of Havering">London Borough of Havering</option>
              <option value="London Borough of Hillingdon">London Borough of Hillingdon</option>
              <option value="London Borough of Hounslow">London Borough of Hounslow</option>
              <option value="London Borough of Islington">London Borough of Islington</option>
              <option value="London Borough of Lambeth">London Borough of Lambeth</option>
              <option value="London Borough of Lewisham">London Borough of Lewisham</option>
              <option value="London Borough of Merton">London Borough of Merton</option>
              <option value="London Borough of Newham">London Borough of Newham</option>
              <option value="London Borough of Redbridge">London Borough of Redbridge</option>
              <option value="London Borough of Southwark">London Borough of Southwark</option>
              <option value="London Borough of Sutton">London Borough of Sutton</option>
              <option value="London Borough of Tower Hamlets">London Borough of Tower Hamlets</option>
              <option value="London Borough of Wandsworth">London Borough of Wandsworth</option>
              <option value="London Docklands Urban Development Corporation">London Docklands Urban Development Corporation</option>
              <option value="London Legacy Development Corporation">London Legacy Development Corporation</option>
              <option value="Luton Borough Council">Luton Borough Council</option>
              <option value="Macclesfield Borough Council">Macclesfield Borough Council</option>
              <option value="Maidstone Borough Council">Maidstone Borough Council</option>
              <option value="Maldon District Council">Maldon District Council</option>
              <option value="Malvern Hills District Council">Malvern Hills District Council</option>
              <option value="Manchester City Council">Manchester City Council</option>
              <option value="Mansfield District Council">Mansfield District Council</option>
              <option value="Medway Council">Medway Council</option>
              <option value="Melton Borough Council">Melton Borough Council</option>
              <option value="Mendip District Council">Mendip District Council</option>
              <option value="Mid Bedfordshire District Council">Mid Bedfordshire District Council</option>
              <option value="Mid Devon District Council">Mid Devon District Council</option>
              <option value="Mid Suffolk District Council">Mid Suffolk District Council</option>
              <option value="Mid Sussex District Council">Mid Sussex District Council</option>
              <option value="Middlesbrough Council">Middlesbrough Council</option>
              <option value="Milton Keynes Council">Milton Keynes Council</option>
              <option value="Mole Valley District Council">Mole Valley District Council</option>
              <option value="Newark & Sherwood District Council">Newark & Sherwood District Council</option>
              <option value="Newcastle Upon Tyne City Council">Newcastle Upon Tyne City Council</option>
              <option value="Newcastle-under-Lyme Borough Council">Newcastle-under-Lyme Borough Council</option>
              <option value="New Forest District Council">New Forest District Council</option>
              <option value="New Forest National Park Authority">New Forest National Park Authority</option>
              <option value="Norfolk County Council">Norfolk County Council</option>
              <option value="Northampton Borough Council">Northampton Borough Council</option>
              <option value="Northamptonshire County Council">Northamptonshire County Council</option>
              <option value="Northamptonshire Council">Northamptonshire Council</option>
              <option value="North Cornwall District Council">North Cornwall District Council</option>
              <option value="North Devon District Council">North Devon District Council</option>
              <option value="North East Derbyshire District Council">North East Derbyshire District Council</option>
              <option value="North East Lincolnshire Council">North East Lincolnshire Council</option>
              <option value="North Herts Council">North Herts Council</option>
              <option value="North Kesteven District Council">North Kesteven District Council</option>
              <option value="North Lincolnshire Council">North Lincolnshire Council</option>
              <option value="North Norfolk District Council">North Norfolk District Council</option>
              <option value="North Northamptonshire Council">North Northamptonshire Council</option>
              <option value="North Shropshire District Council">North Shropshire District Council</option>
              <option value="North Somerset Council">North Somerset Council</option>
              <option value="North Tyneside Council">North Tyneside Council</option>
              <option value="Northumberland County Council">Northumberland County Council</option>
              <option value="Northumberland National Park Authority">Northumberland National Park Authority</option>
              <option value="North Warwickshire Borough Council">North Warwickshire Borough Council</option>
              <option value="North West Leicestershire District Council">North West Leicestershire District Council</option>
              <option value="North Wiltshire District Council">North Wiltshire District Council</option>
              <option value="North York Moors National Park Authority">North York Moors National Park Authority</option>
              <option value="North Yorkshire County Council">North Yorkshire County Council</option>
              <option value="Norwich City Council">Norwich City Council</option>
              <option value="Nottingham City Council">Nottingham City Council</option>
              <option value="Nottinghamshire County Council">Nottinghamshire County Council</option>
              <option value="Nuneaton and Bedworth Borough Council">Nuneaton and Bedworth Borough Council</option>
              <option value="Oadby and Wigston Borough Council">Oadby and Wigston Borough Council</option>
              <option value="Oldham Metropolitan Borough Council">Oldham Metropolitan Borough Council</option>
              <option value="Old Oak and Park Royal Development Corporation">Old Oak and Park Royal Development Corporation</option>
              <option value="Oswestry Borough Council">Oswestry Borough Council</option>
              <option value="Oxford City Council">Oxford City Council</option>
              <option value="Oxfordshire County Council">Oxfordshire County Council</option>
              <option value="Peak District National Park Authority">Peak District National Park Authority</option>
              <option value="Pendle Borough Council">Pendle Borough Council</option>
              <option value="Penwith District Council">Penwith District Council</option>
              <option value="Peterborough City Council">Peterborough City Council</option>
              <option value="Plymouth City Council">Plymouth City Council</option>
              <option value="Plymouth Urban Development Corporation">Plymouth Urban Development Corporation</option>
              <option value="Portsmouth City Council">Portsmouth City Council</option>
              <option value="Preston City Council">Preston City Council</option>
              <option value="Purbeck District Council">Purbeck District Council</option>
              <option value="Reading Borough Council">Reading Borough Council</option>
              <option value="Redcar and Cleveland Borough Council">Redcar and Cleveland Borough Council</option>
              <option value="Redditch Borough Council">Redditch Borough Council</option>
              <option value="Reigate and Banstead Borough Council">Reigate and Banstead Borough Council</option>
              <option value="Restormel Borough Council">Restormel Borough Council</option>
              <option value="Ribble Valley Borough Council">Ribble Valley Borough Council</option>
              <option value="Richmond Upon Thames London Borough Council">Richmond Upon Thames London Borough Council</option>
              <option value="Richmondshire District Council">Richmondshire District Council</option>
              <option value="Rochdale Metropolitan Borough Council">Rochdale Metropolitan Borough Council</option>
              <option value="Rochford District Council">Rochford District Council</option>
              <option value="Rossendale Borough Council">Rossendale Borough Council</option>
              <option value="Rother District Council">Rother District Council</option>
              <option value="Rotherham Metropolitan Borough Council">Rotherham Metropolitan Borough Council</option>
              <option value="Royal Borough of Greenwich">Royal Borough of Greenwich</option>
              <option value="Royal Borough of Kensington and Chelsea">Royal Borough of Kensington and Chelsea</option>
              <option value="Royal Borough of Kingston Upon Thames">Royal Borough of Kingston Upon Thames</option>
              <option value="Royal Borough of Windsor and Maidenhead">Royal Borough of Windsor and Maidenhead</option>
              <option value="Rugby Borough Council">Rugby Borough Council</option>
              <option value="Runnymede Borough Council">Runnymede Borough Council</option>
              <option value="Rushcliffe Borough Council">Rushcliffe Borough Council</option>
              <option value="Rushmoor Borough Council">Rushmoor Borough Council</option>
              <option value="Rutland County Council">Rutland County Council</option>
              <option value="Ryedale District Council">Ryedale District Council</option>
              <option value="Salford City Council">Salford City Council</option>
              <option value="Salisbury District Council">Salisbury District Council</option>
              <option value="Sandwell Metropolitan Borough Council">Sandwell Metropolitan Borough Council</option>
              <option value="Scarborough Borough Council">Scarborough Borough Council</option>
              <option value="Sedgefield Borough Council">Sedgefield Borough Council</option>
              <option value="Sedgemoor District Council">Sedgemoor District Council</option>
              <option value="Sefton Metropolitan Borough Council">Sefton Metropolitan Borough Council</option>
              <option value="Selby District Council">Selby District Council</option>
              <option value="Sevenoaks District Council">Sevenoaks District Council</option>
              <option value="Sheffield City Council">Sheffield City Council</option>
              <option value="Sheffield Urban District Council">Sheffield Urban District Council</option>
              <option value="Shrewsbury and Atcham Borough Council">Shrewsbury and Atcham Borough Council</option>
              <option value="Shropshire Council">Shropshire Council</option>
              <option value="Slough Borough Council">Slough Borough Council</option>
              <option value="Solihull Metropolitan Borough Council">Solihull Metropolitan Borough Council</option>
              <option value="Somerset County Council">Somerset County Council</option>
              <option value="Somerset West and Taunton Council">Somerset West and Taunton Council</option>
              <option value="South Bedfordshire District Council">South Bedfordshire District Council</option>
              <option value="South Cambridgeshire District Council">South Cambridgeshire District Council</option>
              <option value="South Derbyshire District Council">South Derbyshire District Council</option>
              <option value="South Downs National Park Authority">South Downs National Park Authority</option>
              <option value="South Gloucestershire Council">South Gloucestershire Council</option>
              <option value="South Hams District Council">South Hams District Council</option>
              <option value="South Holland District Council">South Holland District Council</option>
              <option value="South Kesteven District Council">South Kesteven District Council</option>
              <option value="South Lakeland District Council">South Lakeland District Council</option>
              <option value="South Norfolk District Council">South Norfolk District Council</option>
              <option value="South Northamptonshire District Council">South Northamptonshire District Council</option>
              <option value="South Oxfordshire District Council">South Oxfordshire District Council</option>
              <option value="South Ribble Borough Council">South Ribble Borough Council</option>
              <option value="South Shropshire District Council">South Shropshire District Council</option>
              <option value="South Somerset District Council">South Somerset District Council</option>
              <option value="South Staffordshire District Council">South Staffordshire District Council</option>
              <option value="South Tyneside Council">South Tyneside Council</option>
              <option value="Southampton City Council">Southampton City Council</option>
              <option value="Southend-on-Sea Borough Council">Southend-on-Sea Borough Council</option>
              <option value="Spelthorne Borough Council">Spelthorne Borough Council</option>
              <option value="St Albans City Council">St Albans City Council</option>
              <option value="St Helens Metropolitan Borough Council">St Helens Metropolitan Borough Council</option>
              <option value="Stafford Borough Council">Stafford Borough Council</option>
              <option value="Staffordshire County Council">Staffordshire County Council</option>
              <option value="Staffordshire Moorlands District Council">Staffordshire Moorlands District Council</option>
              <option value="Stevenage Borough Council">Stevenage Borough Council</option>
              <option value="Stockport Metropolitan Borough Council">Stockport Metropolitan Borough Council</option>
              <option value="Stockton-on-Tees Borough Council">Stockton-on-Tees Borough Council</option>
              <option value="Stoke-on-Trent City Council">Stoke-on-Trent City Council</option>
              <option value="Stratford-on-Avon District Council">Stratford-on-Avon District Council</option>
              <option value="Stroud District Council">Stroud District Council</option>
              <option value="Suffolk Coastal District Council">Suffolk Coastal District Council</option>
              <option value="Suffolk County Council">Suffolk County Council</option>
              <option value="Sunderland City Council">Sunderland City Council</option>
              <option value="Surrey County Council">Surrey County Council</option>
              <option value="Surrey Heath Borough Council">Surrey Heath Borough Council</option>
              <option value="Swale Borough Council">Swale Borough Council</option>
              <option value="Swindon Borough Council">Swindon Borough Council</option>
              <option value="System Test Borough Council">System Test Borough Council</option>
              <option value="System Test District Council">System Test District Council</option>
              <option value="Tameside Metropolitan Borough Council">Tameside Metropolitan Borough Council</option>
              <option value="Tamworth Borough Council">Tamworth Borough Council</option>
              <option value="Tandridge District Council">Tandridge District Council</option>
              <option value="Taunton Deane Borough Council">Taunton Deane Borough Council</option>
              <option value="Teesdale District Council">Teesdale District Council</option>
              <option value="Teeside Urban Development Corporation">Teeside Urban Development Corporation</option>
              <option value="Teignbridge District Council">Teignbridge District Council</option>
              <option value="Telford and Wrekin Council">Telford and Wrekin Council</option>
              <option value="Tendring District Council">Tendring District Council</option>
              <option value="Test Valley Borough Council">Test Valley Borough Council</option>
              <option value="Tewkesbury Borough Council">Tewkesbury Borough Council</option>
              <option value="Thanet District Council">Thanet District Council</option>
              <option value="The Isles of Scilly Council">The Isles of Scilly Council</option>
              <option value="Three Rivers District Council">Three Rivers District Council</option>
              <option value="Thurrock Borough Council">Thurrock Borough Council</option>
              <option value="Thurrock Thames Gateway Development Corporation">Thurrock Thames Gateway Development Corporation</option>
              <option value="Tonbridge and Malling Borough Council">Tonbridge and Malling Borough Council</option>
              <option value="Torbay Council">Torbay Council</option>
              <option value="Torridge District Council">Torridge District Council</option>
              <option value="Trafford Metropolitan Borough Council">Trafford Metropolitan Borough Council</option>
              <option value="Trafford Park Urban Development Corp">Trafford Park Urban Development Corp</option>
              <option value="Tunbridge Wells Borough Council">Tunbridge Wells Borough Council</option>
              <option value="Tyne and Wear Urban Development Corp">Tyne and Wear Urban Development Corp</option>
              <option value="Tynedale District Council">Tynedale District Council</option>
              <option value="Uttlesford District Council">Uttlesford District Council</option>
              <option value="Vale of White Horse District Council">Vale of White Horse District Council</option>
              <option value="Vale Royal Borough Council">Vale Royal Borough Council</option>
              <option value="Wakefield Metropolitan District Council">Wakefield Metropolitan District Council</option>
              <option value="Walsall Metropolitan Borough Council">Walsall Metropolitan Borough Council</option>
              <option value="Waltham Forest London Borough Council">Waltham Forest London Borough Council</option>
              <option value="Wansbeck District Council">Wansbeck District Council</option>
              <option value="Warrington Borough Council">Warrington Borough Council</option>
              <option value="Warwick District Council">Warwick District Council</option>
              <option value="Warwickshire County Council">Warwickshire County Council</option>
              <option value="Watford Borough Council">Watford Borough Council</option>
              <option value="Waveney District Council">Waveney District Council</option>
              <option value="Waverley Borough Council">Waverley Borough Council</option>
              <option value="Wealden District Council">Wealden District Council</option>
              <option value="Wear Valley District Council">Wear Valley District Council</option>
              <option value="Wellingborough Borough Council">Wellingborough Borough Council</option>
              <option value="Welwyn Hatfield Council">Welwyn Hatfield Council</option>
              <option value="West Berkshire District Council">West Berkshire District Council</option>
              <option value="West Devon Borough Council">West Devon Borough Council</option>
              <option value="West Lancashire Borough Council">West Lancashire Borough Council</option>
              <option value="West Lindsey District Council">West Lindsey District Council</option>
              <option value="West Northamptonshire Council">West Northamptonshire Council</option>
              <option value="West Northamptonshire Development Corporation">West Northamptonshire Development Corporation</option>
              <option value="West Oxfordshire District Council">West Oxfordshire District Council</option>
              <option value="West Somerset Council">West Somerset Council</option>
              <option value="West Suffolk Council">West Suffolk Council</option>
              <option value="West Sussex County Council">West Sussex County Council</option>
              <option value="West Wiltshire District Council">West Wiltshire District Council</option>
              <option value="Weymouth and Portland Borough Council">Weymouth and Portland Borough Council</option>
              <option value="Wigan Metropolitan Borough Council">Wigan Metropolitan Borough Council</option>
              <option value="Wiltshire Council">Wiltshire Council</option>
              <option value="Winchester City Council">Winchester City Council</option>
              <option value="Wirral Metropolitan Borough Council">Wirral Metropolitan Borough Council</option>
              <option value="Woking Borough Council">Woking Borough Council</option>
              <option value="Wokingham Borough Council">Wokingham Borough Council</option>
              <option value="Wolverhampton City Council">Wolverhampton City Council</option>
              <option value="Worcester City Council">Worcester City Council</option>
              <option value="Worcestershire County Council">Worcestershire County Council</option>
              <option value="Worthing Borough Council">Worthing Borough Council</option>
              <option value="Wychavon District Council">Wychavon District Council</option>
              <option value="Wyre Borough Council">Wyre Borough Council</option>
              <option value="Wyre Forest District Council">Wyre Forest District Council</option>
              <option value="Yorkshire Dales National Park Authority">Yorkshire Dales National Park Authority</option>
            </select>
          </div>
    </div>

     <div class="govuk-form-group">
        {{ govukButton({
          text: "Continue"
        }) }}
        </div>
      </form>
    </div>
  </div>


{% endblock %}
{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}