{% extends "layouts/back-office.html" %}


{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/projects/back-office/create-case/0-case-officer-name" method="POST" novalidate="">
      <input type="hidden" name="_csrf" value="">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="caseOfficer">
            Case officer
          </label>
        </h1>
        <div>
          <div class="autocomplete__wrapper">
            <div class="autocomplete__status"
              style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
              <div id="lpaId__status--A" role="status" aria-atomic="true" aria-live="polite"></div>
              <div id="lpaId__status--B" role="status" aria-atomic="true" aria-live="polite"></div>
            </div>
            <ul aria-labelledby="lpaId" id="lpaId__listbox" role="listbox"
              class="autocomplete__menu autocomplete__menu--inline autocomplete__menu--hidden"></ul>
            <span id="lpaId__assistiveHint" style="display: none;">When autocomplete results are available use up and
              down arrows to review and enter to select. Touch device users, explore by touch or with swipe
              gestures.</span>

            <select class="govuk-select" id="caseOfficer" name="caseOfficer" data-module="autocomplete" data-autoselect=""
              data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
              <option value="" selected disabled>Select an option</option>
              <option value="Case officer 1">Case officer 1</option>
              <option value="Case officer 2">Case officer 2</option>
              <option value="Case officer 3">Case officer 3</option>
              <option value="Case officer 4">Case officer 4</option>
              <option value="Case officer 5">Case officer 5</option>
              <option value="Case officer 6">Case officer 6</option>
              <option value="Case officer 7">Case officer 7</option>
              <option value="Case officer 8">Case officer 8</option>
            </select>
          </div>
        </div>
      </div>
      <div class="govuk-form-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>

      </form>



      {% endblock %}
      {% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
  
