{% extends "layouts/main.html" %}
 
{% set title="All cases" %}
{% set activeNav = 'back-office' %}

{% block header %}
  {% include "includes/PINS-header--internal.html" %}
  {% include "includes/service-navigation.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/back-office.html'
  }) }}
{% endblock %}
 
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    <span class="govuk-caption-l">
      Manage a plan examination
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>
 {% set version = "4" %}
    <h2 class="govuk-heading-m">Version {{ version }}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h2>

    <p class="govuk-!-margin-bottom-2">Changes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Updates from previous testing round and feedback from stakeholders</li>
    </ul>

    {{ govukButton({
      text: "View prototype",
      href: "/projects/back-office/create-case/v2/index",
      isStartButton: true
    }) }}

    {% set v3HTML %}
    {% set version = "3" %}
    <p class="govuk-body">
      Manage a case testing with Ops managers, Leads, Case Officers and Inspectors - July 2026.
    </p>
    <p class="govuk-!-margin-bottom-2">Changes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Side navigation version containing the same content as the standard navigation version to gather feedback</li>
    </ul>

    {{ govukButton({
      text: "View prototype",
      href: "/projects/back-office/create-case/v3/index?journey=side",
      isStartButton: true
    }) }}
    {% endset -%}

    {% set v2HTML %}
    {% set version = "2" %}
    <p class="govuk-body">
      Manage a case testing with Ops managers, Leads, Case Officers and Inspectors - July 2026.
    </p>
 
    <p class="govuk-!-margin-bottom-2">Changes:</p>
 
    <ul class="govuk-list govuk-list--bullet">
      <li>Added different statuses on to the all cases page</li>
    </ul> 
 
     {{ govukInsetText({
        html: '<p class="govuk-body"><a href="https://app.mural.co/t/allpins6990/m/allpins6990/1762788535163/3a2c841844dbb96c1cd802902aafd1d9c74d2108?wid=0-1772544795774">Design Mural board</a></p>'
      }) }}
 
    {{ govukButton({
      html: 'View prototype',
      href: '/projects/back-office/create-case/v' ~ version ~ '/index',
      isStartButton: true
  }) }}
    {% endset -%}
 
    {% set v1HTML %}
 
      {% set version = "1" %}
 
      <p class="govuk-body">
        Create a case prototype for testing with Case Officers - June 2026.
      </p>
 
      {{ govukInsetText({
        html: '<p class="govuk-body"><a href="https://app.mural.co/t/allpins6990/m/allpins6990/1762788535163/3a2c841844dbb96c1cd802902aafd1d9c74d2108?wid=0-1772544994853">Design Mural board</a></p>'
      }) }}
 
      {{ govukButton({
        html: 'View prototype',
        href: '/projects/back-office/create-case/v' ~ version ~ '/index',
        isStartButton: true
      }) }}
    {% endset -%}
 
    {{ govukAccordion({
      id: 'previous',
      classes: 'govuk-!-margin-top-9',
      items: [
      {
          heading: {
            html: 'Version 3 <strong class="govuk-tag govuk-tag--blue govuk-!-margin-left-2">Research complete</strong>'
          },
          content: {
            html: v3HTML
          }
        },
        {
          heading: {
            html: 'Version 2 <strong class="govuk-tag govuk-tag--blue govuk-!-margin-left-2">Research complete</strong>'
          },
          content: {
            html: v2HTML
          }
        },
        {
          heading: {
            html: 'Version 1 <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-2">Superseded</strong>'
          },
          content: {
            html: v1HTML
          }
        }
      ]
    }) }}
 
  </div>
</div>
{% endblock %}