{% extends "layouts/main.html" %}

{% set title = "Plan details" %}
{% set activeNav = 'front-office' %}

{% block header %}
  {% include "includes/PINS-header--internal.html" %}
  {% include "includes/service-navigation.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to all prototypes",
    href: "/front-office"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Dashboards</span>

    <h1 class="govuk-heading-l">{{ title }}</h1>

    {# ===================== VERSION 3 ===================== #}

    {% set v3NotesHtml %}
    <h3 class="govuk-heading-s">Prototype states</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="/projects/front-office/plan-details/v3/plan-details?status=ready">GW2 ready to start</a></li>
        <li><a class="govuk-link" href="/projects/front-office/plan-details/v3/plan-details?status=validated&stage=gateway-2">GW2 workshop scheduled</a></li>
        <li><a class="govuk-link" href="/projects/front-office/plan-details/v3/plan-details?status=workshop-docs-added&stage=gateway-2">GW2 workshop documents added</a></li>
        <li><a class="govuk-link" href="/projects/front-office/plan-details/v3/plan-details?report=shared&status=ready&stage=gateway-3">GW2 report shared</a></li>
        <li><a class="govuk-link" href="/projects/front-office/plan-details/v3/plan-details?status=ready&stage=gateway-3">GW3 ready to start</a></li>
        <li><a class="govuk-link" href="/projects/front-office/plan-details/v3/plan-details?status=action-needed&stage=gateway-3">GW3 action needed</a></li>
        <li><a class="govuk-link" href="/projects/front-office/plan-details/v3/plan-details?status=ready&stage=examination">Examination ready to start</a></li>
    </ul>

      <h3 class="govuk-heading-s">Key changes</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Links through to gateway 2 v4 and gateway 3 v3 prototypes instead of older versions</li>
        <li>Added prototype states covering gateway 3 and examination stages with new notification banners</li>
        <li>Implemented Accessibility Lab feedback by applying aria-hidden="true" to the decorative horizontal splitter</li>
      </ul>

    {% endset %}

    <h2 class="govuk-heading-m">
      Version 3
      {{ govukTag({
        classes: 'govuk-tag--blue govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h2>

    <p class="govuk-body">
      Designed to give LPAs a clear understanding of the current stage of a plan, its status, and what comes next.
    </p>

    {{ govukButton({
      text: "View prototype",
      href: '/projects/front-office/plan-details/v3/plan-details?status=ready',
      isStartButton: true
    }) }}

    {{ govukDetails({
      summaryText: "Version 3 notes",
      html: v3NotesHtml
    }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    {# ===================== VERSION 2 ===================== #}

    {% set v2NotesHtml %}
    <h3 class="govuk-heading-s">Prototype states</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="/projects/front-office/plan-details/v2/plan-details?status=ready">Ready to start</a></li>
        <li><a class="govuk-link" href="/projects/front-office/plan-details/v2/plan-details?status=in-progress">In progress</a></li>
        <li><a class="govuk-link" href="/projects/front-office/plan-details/v2/plan-details?status=with-pins">With PINS</a></li>
        <li><a class="govuk-link" href="/projects/front-office/plan-details/v2/plan-details?status=validated&stage=gateway-2">With PINS: Workshop scheduled</a></li>
        <li><a class="govuk-link" href="/projects/front-office/plan-details/v2/plan-details?status=workshop-docs-added&stage=gateway-2">With PINS: Workshop documents shared</a></li>
    </ul>

      <h3 class="govuk-heading-s">Key changes</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Removed guidance content and added a guidance tab to header instead</li>
        <li>Removed references to 'joint plans' - stripped back metadata</li>
        <li>Removed Gateway 1 from tasklist to test</li>
        <li>Notification banners added when PINS add workshop information</li>
      </ul>

    {% endset %}

    {% set v2HTML %}

      <p class="govuk-body">
        Designed to give LPAs a clear understanding of the current stage of a plan, its status, and what comes next.
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="https://app.mural.co/t/allpins6990/m/allpins6990/1765884601123/237bc418b7dd56fd74fe7b0ce600936fbf9aba46">Design Mural board</a></li>
        <li><a class="govuk-link" href="https://app.mural.co/t/allpins6990/m/allpins6990/1776240173187/3c951bd1e9c81a3c6506f51abab0d859c1ff7e10">User research assumption mapping mural</a></li>
        <li><a class="govuk-link" href="https://app.mural.co/t/allpins6990/m/allpins6990/1781087329494/450608632532f9f252540e6e24da657510944428">Insights into decisions mural</a></li>
        <li><a class="govuk-link" href="https://pins-ds.atlassian.net/wiki/spaces/LO/pages/2688188440/Gateway+2+submission+-+changes+after+round+1+testing">Design History Confluence page</a></li>
      </ul>

      {{ govukButton({
        text: "View prototype",
        href: '/projects/front-office/plan-details/v2/plan-details?status=ready',
        isStartButton: true
      }) }}

      {{ govukDetails({
        summaryText: "Version 2 notes",
        html: v2NotesHtml
      }) }}

    {% endset %}

    {# ===================== VERSION 1 NOTES (DEFINE FIRST) ===================== #}

    {% set v1NotesHtml %}

      <h3 class="govuk-heading-s">Prototype states</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="/projects/front-office/plan-details/v1/plan-details?status=ready">Ready</a></li>
        <li><a class="govuk-link" href="/projects/front-office/plan-details/v1/plan-details?status=in-progress">In progress</a></li>
        <li><a class="govuk-link" href="/projects/front-office/plan-details/v1/plan-details?status=with-pins">With PINS</a></li>
        <li><a class="govuk-link" href="/projects/front-office/plan-details/v1/plan-details?status=action-needed">Action needed</a></li>
      </ul>

      <h3 class="govuk-heading-s">What this prototype explores</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Gateway stages shown in a tasklist with clear statuses</li>
        <li>Key metadata like dates, descriptions and actions</li>
        <li>Reducing uncertainty around whether users can proceed</li>
      </ul>

      <h3 class="govuk-heading-s">Key questions</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Do users understand what each status means?</li>
        <li>Is it clear why some stages are blocked?</li>
        <li>Can users identify their next action?</li>
        <li>Do users understand the role of PINS?</li>
        <li>Is progression through gateways intuitive?</li>
      </ul>

      <h3 class="govuk-heading-s">Open questions</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>LPA linking in joint plans</li>
        <li>Handling missing or incomplete submissions</li>
        <li>What happens when deadlines are missed</li>
      </ul>

      <h3 class="govuk-heading-s">Other variations not brought to user testing:</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="/projects/front-office/plan-details/archive/plan-details7">Riskier option with bespoke timeline component</a></li>
        <li><a class="govuk-link" href="/projects/front-office/plan-details/archive/plan-details8">Tasklist + guidance in details component</a></li>
        <li><a class="govuk-link" href="/projects/front-office/plan-details/archive/plan-details9">Accordion-based version</a></li>
      </ul>

    {% endset %}

    {# ===================== VERSION 1 MAIN CONTENT ===================== #}

    {% set v1HTML %}

      <p class="govuk-body">
        First iteration of the plan details dashboard used for research (May/June 2026).
      </p>

      {{ govukButton({
        text: "View prototype",
        href: '/projects/front-office/plan-details/v1/plan-details?status=ready',
        isStartButton: true
      }) }}

      {{ govukDetails({
        summaryText: "Version 1 notes",
        html: v1NotesHtml
      }) }}

    {% endset %}

    {{ govukAccordion({
      id: "plan-details-accordion",
      items: [
        {
          heading: {
            html: 'Version 2 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Research complete</strong>'
          },
          content: {
            html: v2HTML
          }
        },
        {
          heading: {
            html: 'Version 1 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Research complete</strong>'
          },
          content: {
            html: v1HTML
          }
        }
      ]
    }) }}

  </div>
</div>

{% endblock %}