{% extends "layouts/front-office-v3.html" %}
{% from "macros/multi-file-upload.njk" import uploadArea %}
{% set documentName = "any subsequent work towards a draft Plan" %}
{% set title = "Upload " + documentName %}

{% block questions %}

<span class="govuk-caption-l">Additional documents</span>
<h1 class="govuk-heading-l">{{ title }}</h1>

<p class="govuk-body">This may include the following:</p>
<ul class="govuk-list govuk-list--bullet">
        <li>Up to 5 issues of soundness topic papers (2,000 word limit per paper)</li>
        <li>Full list of evidence base documents (dates for completion)</li>
        <li>Draft vision, aims and objectives, 10 draft outcomes</li>
        <li>Latest version of a draft plan and/or policies map</li>
        <li>Spatial strategy options or draft spatial strategy</li>
        <li>Progress towards setting a housing requirement and associated evidence a such as a housing needs assessment and strategic housing market assessment</li>
        <li>Progress towards identifying needs for Traveller accommodation and associated evidence such as accommodation assessment</li>
        <li>Progress towards setting other development needs and supply (employment, retail etc)</li>
        <li>Site selection approach / evidence</li>
        <li>Draft Green Belt Review</li>
        <li>Evidence relevant to the matters of soundness to be discussed</li>
        <li>Evidence on engagement between plan making authorities and relevant bodies</li>
        <li>Progress on assessments required by the Habitats Regulations and the Environmental Assessment Regulations</li>
      </ul>
    <p class="govuk-body">The document name must describe what it is, for example "Draft Green Belt Review - 2025".</p>
<!--{{ govukDetails({
  summaryText: "What you can upload",
  html: '<ul class="govuk-list govuk-list--bullet">
        <li>Up to 5 issues of soundness topic papers (2,000 word limit per paper)</li>
        <li>Full list of evidence base documents (dates for completion)</li>
        <li>Draft vision, aims and objectives, 10 draft outcomes</li>
        <li>Latest version of a draft plan and/or policies map</li>
        <li>Spatial strategy options or draft spatial strategy</li>
        <li>Progress towards setting a housing requirement and associated evidence a such as a housing needs assessment and strategic housing market assessment</li>
        <li>Progress towards identifying needs for Traveller accommodation and associated evidence such as accommodation assessment</li>
        <li>Progress towards setting other development needs and supply (employment, retail etc)</li>
        <li>Site selection approach / evidence</li>
        <li>Draft Green Belt Review</li>
        <li>Evidence relevant to the matters of soundness to be discussed</li>
        <li>Evidence on engagement between plan making authorities and relevant bodies</li>
        <li>Progress on assessments required by the Habitats Regulations and the Environmental Assessment Regulations</li>
      </ul>'
    }) }}-->

{{ uploadArea({
  id: "documents",
  name: "documents",
  dataKey: "documents",
  errorMessage: "The file must be a PDF, DOC, DOCX, PPT, PPTX, XLS, XLSX, MSG, JPG, JPEG, PNG, TIF or TIFF and smaller than 250MB.",
  allowedExtensions: ["pdf", "doc", "docx", "ppt", "pptx", "xls", "xlsx", "msg", "jpg", "jpeg", "png", "tif", "tiff"],
  maxFileSizeMB: 250
}) }}

{% endblock %}