{% extends "layouts/back-office.html" %}

{% block pageTitle %}
Case deleted – {{ serviceName }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

     {{ govukPanel({
        titleText: "Case deleted",
        html: "The case has been marked as deleted. It will no longer appear in the system, but it will still be available for audit purposes."
      }) }}
      <p>
        <a href="/projects/back-office/create-case-v2/index.html">
          Go to the back office homepage
        </a>
      </p>

  </div>
</div>
{% endblock %}  
 {% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
