{% extends "layouts/back-office.html" %}

{% block pageTitle %}
Are you sure you want to delete this case? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/projects/back-office/manage/index-side.html"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Are you sure you want to delete this case?</h1>
    <p class="govuk-body">This will mark the case as deleted. It will no longer appear in the system, but it will still be available for audit purposes.</p>
    <h2 class="govuk-heading-m">Case details</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Case reference</dt>
        <dd class="govuk-summary-list__value">{{ caseRef }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Plan title</dt>
        <dd class="govuk-summary-list__value">{{ planTitle }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Plan type</dt>
        <dd class="govuk-summary-list__value">{{ planType }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">LPA</dt>
        <dd class="govuk-summary-list__value">{{ lpaName }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Case officer</dt>
        <dd class="govuk-summary-list__value">{{ caseOfficer }}</dd>
      </div>
    </dl>
    <form method="post" action="/projects/back-office/manage/delete-case-complete.html">
      <input type="hidden" name="caseRef" value="{{ caseRef }}">
      <div class="govuk-button-group">
      <button type="submit" class="govuk-button govuk-button--warning">Yes, delete this case</button>
      <a href="/projects/back-office/manage/index-side.html" class="govuk-link">Cancel</a>
        </div>
    </form>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
