{% extends "layouts/back-office.html" %}

{% block pageTitle %}
GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<style>
  .layout-slots__divider{
    color: #ffffff
  }
  a {
    color: #1d70b8;
  }
  .grey-box {
    display: none;
  }

  

  .govuk-header, .govuk-header__container {
    background-color: rgb(7, 71, 69);
    border-bottom: none;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .govuk-header {
    border-bottom: 10px solid #13a19b;
  }

  .greybg {
    box-shadow: #f3f2f1 800px 0px, #f3f2f1 -800px 0px;
  }

  .side-nav {
        padding-right: 20px;
      }

      .side-nav ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
      }

      .side-nav li {
        margin-bottom: 5px;
      }

      .side-nav a {
        display: block;
        padding: 12px 8px;
        font-size: 16px;
        text-decoration: none;
        color: #1d70b8;
        border-left: 5px solid transparent;
      }

      .side-nav a:hover {
        background-color: #f3f2f1;
      }

      .side-nav a.selected {
        background-color: #f3f2f1;
        font-weight: bold;
        border-left: 6px solid #00847f;
        color: #0b0c0c;
      }

      .govuk-details__summary::before {
    clip-path: polygon(6.38% 22.63%, 49.5% 65.75%, 92.63% 22.63%, 100% 30%, 50% 80%, 0% 30%);
    background-color: black;
    color: black;
    width: 3px;
    height: 3px;
    background-color: black;
    color: black;
  }

  .filters {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b1b4b6;
  }

  .document-item {
    padding-top: 12px;
    padding-bottom: 0px;
  }

  .filters .govuk-details__summary {
    margin-left: 15px;
  }

  .filters .govuk-details__summary-text {
    text-decoration: none;
  }

  .filters .govuk-details__text {
    border: none;
    padding-left: 0px;
    margin-left: 15px;

  }


  .govuk-details[open] > .govuk-details__summary::before {
    clip-path: polygon(0% 71.88%, 49.5% 22.63%, 98.5% 71.88%, 91.63% 78.71%, 50% 36.88%, 7.37% 79.29%);
    width: 3px;
    height: 3px;
  }

</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <span class="govuk-caption-l">PLAN/000001</span>
	<h1 class="govuk-heading-l">Central City Local Plan</h1>
	{{govukTag({
      text: "New",
      classes: "govuk-tag--turquoise"
    })}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav class="x-govuk-secondary-navigation app-secondary-nav govuk-!-margin-top-6 govuk-!-margin-bottom-6" aria-label="Secondary menu">
        <ul class="x-govuk-secondary-navigation__list">
    <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/index.html">
        Overview
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/timetable.html">
        Timetable
      </a>
    </li>  
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/gateway-1.html">
        Gateway 1
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/gateway-2.html">
        Gateway 2
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/gateway-3.html">
        Gateway 3
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/examination.html">
        Examination
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/documents.html">
        Documents
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/updates.html">
        Updates
      </a>
    </li>
        </ul>
      </nav>
    </div>
  </div>
<div class="govuk-grid-column-one-third" style="padding-left: 0px;">
<h2 class="govuk-heading-m">Filter</h2>
    <p class="govuk-link govuk-body-s">Show all sections</p>

    <dl class="govuk-summary-list">
      <details class="govuk-details filters">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text filtersText">
            Sort by
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios" data-govuk-radios-init="">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month">
                  <label class="govuk-label govuk-radios__label" for="changedName">
                    Name (ascending)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month">
                  <label class="govuk-label govuk-radios__label" for="changedName">
                    Name (descending)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month">
                  <label class="govuk-label govuk-radios__label" for="changedName">
                    Author (ascending)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month">
                  <label class="govuk-label govuk-radios__label" for="changedName">
                    Author (descending)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
                  <label class="govuk-label govuk-radios__label" for="changedName-2">
                    Updated (newest)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
                  <label class="govuk-label govuk-radios__label" for="changedName-2">
                    Updated (oldest)
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </details>
      <details class="govuk-details filters">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text filtersText">
            Examination library (28)
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <a class="govuk-body-s govuk-link" style="color: #1d70b8;">Select all filters</a>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" data-govuk-checkboxes-init="">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Application documents (APP)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Adequecy of Consultation responses (AoC)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Procedural decisions and notifications from Examining Authority (PD)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Additional submissions (AS)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Events and hearings 1 (EV1)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Events and hearings 2 (EV2)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Events and hearings 3 (EV3)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Events and hearings 4 (EV4)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Events and hearings 5 (EV5)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Events and hearings 6 (EV6)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Other documents (OD)
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </details>
      <details class="govuk-details filters">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text filtersText">
            Date published
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend">
                From
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend">
                To
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </details>
    </dl>
    <button class="govuk-button">Apply filters</button>


  </div>
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--m" for="event-name">
        Search documents
      </label>
      <div id="event-name-hint" class="govuk-hint">
        Search by author, description, document type or examination library reference.
      </div>

      <input class="govuk-input govuk-!-width-two-thirds" id="two-thirds" name="oneHalf" type="text">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Search
      </button>
    </div>
<p class="govuk-body">Showing <strong>1</strong> to <strong>25</strong> of <strong>676</strong> documents, newest first.</p>    
    <p class="govuk-body"><strong style="padding-right: 16px;">Results per page</strong> 25&#10240;&VerticalLine;&#10240;<a>50</a>&#10240;&VerticalLine;&#10240;<a>100</a></p>

    



    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="document-item">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="govuk-body"><a class="govuk-link"><strong>New proposed document format &#10240; (PDF, 149KB)</strong></a>
            <br><span class="govuk-body-s">From Highways England on 13 December 2025</span></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">REF-001</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">Post decision</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">Development Consent Order as made</p>
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    </div>
    <div class="document-item">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="govuk-body"><a class="govuk-link"><strong>New proposed document format &#10240; (PDF, 149KB)</strong></a>
            <br><span class="govuk-body-s">From Highways England on 13 September 2025</span></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">REF-001</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">Post decision</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">Development Consent Order as made</p>
        </div>
      </div>
      <div class="govuk-inset-text" style="margin-top: 0px;">
        This document has been superseded, <a href="Project_documentHistory">view all updates</a>
      </div>
      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    </div>
    <div class="document-item">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="govuk-body"><a class="govuk-link"><strong>Current document format &#10240; (PDF, 149KB)</strong></a>
            <br><span class="govuk-body-s">From Highways England</span></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">20 May 2025</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">Post decision</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">Development Consent Order as made</p>
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    </div>
    <div class="document-item">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="govuk-body"><a class="govuk-link"><strong>Current document format &#10240; (PDF, 149KB)</strong></a>
            <br><span class="govuk-body-s">From Highways England</span></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">20 May 2025</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">Post decision</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">Development Consent Order as made</p>
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    </div>
    <div class="document-item">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="govuk-body"><a class="govuk-link"><strong>Current document format &#10240; (PDF, 149KB)</strong></a>
            <br><span class="govuk-body-s">From Highways England</span></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">20 May 2025</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">Post decision</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-body-s" style="color: #505a5f;">Development Consent Order as made</p>
        </div>
      </div>
    </div>

    <nav class="govuk-pagination" aria-label="Pagination">
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
            1
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next">
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> page</span>
          </span>
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
        </a>
      </div>
    </nav>
  </div>
</div>
    
{% endblock %}
{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}