{% extends "layouts/back-office.html" %}

{% block pageTitle %}
GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <span class="govuk-caption-l">PLAN/000001</span>
	<h1 class="govuk-heading-l">Central City Local Plan</h1>
	{{govukTag({
      text: "New",
      classes: "govuk-tag--turquoise"
    })}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav class="x-govuk-secondary-navigation app-secondary-nav govuk-!-margin-top-6 govuk-!-margin-bottom-6" aria-label="Secondary menu">
        <ul class="x-govuk-secondary-navigation__list">
    <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/index.html" aria-current="page">
        Overview
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/timetable.html">
        Timetable
      </a>
    </li>  
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/gateway-2.html">
        Gateway 2
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/gateway-3.html">
        Gateway 3
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/examination.html">
        Examination
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/documents.html">
        Documents
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/updates.html">
        Updates
      </a>
    </li>
        </ul>
      </nav>
    </div>
  </div>

  
      <form method="post" action="/projects/back-office/create-case-v2/check-answers">

      <h2 class="govuk-heading-m">Overview</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Plan title</dt>
          <dd class="govuk-summary-list__value">Central City Local Plan</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> Change the plan title</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Plan type</dt>
          <dd class="govuk-summary-list__value">Local plan</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> Change the plan type</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">LPA 1</dt>
          <dd class="govuk-summary-list__value">Central City Council</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> Change LPA 1</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Region for LPA 1</dt>
          <dd class="govuk-summary-list__value">Midlands</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> Change region for LPA 1</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Case officer</dt>
          <dd class="govuk-summary-list__value">Jane Smith</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> Change the case officer</span></a>
          </dd>
        </div>
          </dl>
      </dl>


      <h2 class="govuk-heading-m">Contacts</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Main contact</dt>
          <dd class="govuk-summary-list__value">
            Jamie Lee<br>
            jamie.lee@example.com<br>
            07700 900123<br>
            Central City Council
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> main contact</span></a>
              </li>
            </ul>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Contact 2</dt>
          <dd class="govuk-summary-list__value">
            Morgan Smith<br>
            morgan.smith@example.com<br>
            07700 900456<br>
            Central City Council
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> contact 2</span></a>
              </li>
            </ul>
          </dd>
        </div>
      </dl>
      </dl>
      <h2 class="govuk-heading-m">Dates</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Notice of Intention date</dt>
          <dd class="govuk-summary-list__value">12 March 2026</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> Notice of Intention date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 1 estimated date</dt>
          <dd class="govuk-summary-list__value">28 March 2026</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> Gateway 1 Estimated Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 2 estimated date</dt>
          <dd class="govuk-summary-list__value">15 April 2026</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> Gateway 2 Estimated Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 3 estimated date</dt>
          <dd class="govuk-summary-list__value">2 May 2026</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden">Gateway 3 Estimated Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Submission for examination date</dt>
          <dd class="govuk-summary-list__value">20 May 2026</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden">Submission for Examination date</span></a>
          </dd>
        </div>
      </dl>
      </dl>
      </form>
      <div class="govuk-!-margin-top-6">
        <form method="get" action="/projects/back-office/manage/delete-case-confirmation.html">
          <button type="submit" class="govuk-button govuk-button--warning">
            Delete this case
          </button>
        </form>
      </div>
    </div>
  </div>
    </div>
  </div>
{% endblock %}
{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}