{% extends "layouts/back-office.html" %}

{% block pageTitle %}
Filter search – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<style>
  .layout-slots__divider{
    color: #ffffff
  }
  a {
    color: #1d70b8;
  }
  .grey-box {
    display: none;
  }

  

  .govuk-header, .govuk-header__container {
    background-color: rgb(7, 71, 69);
    border-bottom: none;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .govuk-header {
    border-bottom: 10px solid #13a19b;
  }

  .greybg {
    box-shadow: #f3f2f1 800px 0px, #f3f2f1 -800px 0px;
  }

  .side-nav {
        padding-right: 20px;
      }

      .side-nav ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
      }

      .side-nav li {
        margin-bottom: 5px;
      }

      .side-nav a {
        display: block;
        padding: 12px 8px;
        font-size: 16px;
        text-decoration: none;
        color: #1d70b8;
        border-left: 5px solid transparent;
      }

      .side-nav a:hover {
        background-color: #f3f2f1;
      }

      .side-nav a.selected {
        background-color: #f3f2f1;
        font-weight: bold;
        border-left: 6px solid #00847f;
        color: #0b0c0c;
      }

      .govuk-details__summary::before {
    clip-path: polygon(6.38% 22.63%, 49.5% 65.75%, 92.63% 22.63%, 100% 30%, 50% 80%, 0% 30%);
    background-color: black;
    color: black;
    width: 3px;
    height: 3px;
    background-color: black;
    color: black;
  }

  .filters {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b1b4b6;
  }

  .document-item {
    padding-top: 12px;
    padding-bottom: 0px;
  }

  .filters .govuk-details__summary {
    margin-left: 15px;
  }

  .filters .govuk-details__summary-text {
    text-decoration: none;
  }

  .filters .govuk-details__text {
    border: none;
    padding-left: 0px;
    margin-left: 15px;

  }


  .govuk-details[open] > .govuk-details__summary::before {
    clip-path: polygon(0% 71.88%, 49.5% 22.63%, 98.5% 71.88%, 91.63% 78.71%, 50% 36.88%, 7.37% 79.29%);
    width: 3px;
    height: 3px;
  }

</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<h1 class="govuk-heading-l">Search all cases</h1>
<div class="govuk-form-group">
      
      <div id="event-name-hint" class="govuk-hint">
        Search by plan title, LPA, Inspector, Case Officer, region or reference number.
      </div>

      <input class="govuk-input govuk-!-width-two-thirds" id="two-thirds" name="oneHalf" type="text">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Search
      </button>
    </div>
  
<div class="govuk-grid-column-one-third" style="padding-left: 0px;">
<h2 class="govuk-heading-m">Filter</h2>
    <p class="govuk-link govuk-body-s">Show all sections</p>

    <dl class="govuk-summary-list">
      <details class="govuk-details filters">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text filtersText">
            Sort by
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios" data-govuk-radios-init="">
                
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
                  <label class="govuk-label govuk-radios__label" for="changedName-2">
                    Updated (newest)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
                  <label class="govuk-label govuk-radios__label" for="changedName-2">
                    Updated (oldest)
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </details>
      <details class="govuk-details filters">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text filtersText">
            Case officer
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <a class="govuk-body-s govuk-link" style="color: #1d70b8;">Select all filters</a>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" data-govuk-checkboxes-init="">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Abi
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Louie
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Matt
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Nabiha
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Rebecca
                  </label>
                </div>
                
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Unassigned
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </details>
      <details class="govuk-details filters">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text filtersText">
            Inspector
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <a class="govuk-body-s govuk-link" style="color: #1d70b8;">Select all filters</a>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" data-govuk-checkboxes-init="">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Inspector 1
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Inspector 2
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Inspector 3
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Inspector 4
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Inspector 5
                  </label>
                </div>
                
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Unassigned
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </details>
      <details class="govuk-details filters">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text filtersText">
            Region
          </span>
        </summary>
       <div class="govuk-details__text">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <a class="govuk-body-s govuk-link" style="color: #1d70b8;">Select all filters</a>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" data-govuk-checkboxes-init="">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    East of England
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    East Midlands
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    London
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    North East
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    North West
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    South East
                  </label>
                </div>    
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    South West
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    West Midlands
                  </label>
                </div>  
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Yorkshire and the Humber
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Unassigned
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </details>
    </dl>
    <button class="govuk-button">Apply filters</button>


  </div>
  <div class="govuk-grid-column-two-thirds">

<p class="govuk-body">Showing <strong>1</strong> to <strong>25</strong> of <strong>676</strong> documents, newest first.</p>    
    <p class="govuk-body"><strong style="padding-right: 16px;">Results per page</strong> 25&#10240;&VerticalLine;&#10240;<a>50</a>&#10240;&VerticalLine;&#10240;<a>100</a></p>

    



    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case reference</th>
          <th scope="col" class="govuk-table__header">Plan title</th>
          <th scope="col" class="govuk-table__header">Plan type</th>
          <th scope="col" class="govuk-table__header">Case officer</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for case in cases %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/projects/back-office/create-case-v2/{{ case.caseRef }}" class="govuk-link">{{ case.caseRef }}</a>
          </td>
          <td class="govuk-table__cell">{{ case.planTitle or '-' }}</td>
          <td class="govuk-table__cell">{{ case.planType or '-' }}</td>
          <td class="govuk-table__cell">{{ case.caseOfficer or '-' }}</td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">{{ case.status }}</strong>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <nav class="govuk-pagination" aria-label="Pagination">
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
            1
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next">
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> page</span>
          </span>
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
        </a>
      </div>
    </nav>
  </div>
</div>
    
{% endblock %}
{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}