{% extends "layouts/back-office.html" %}

{% block pageTitle %}
Plan overview – {{ serviceName }}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <span class="govuk-caption-l">{{ caseRef or 'PLAN/000001' }}</span>
	<h1 class="govuk-heading-l">{{ planTitle or '-' }}</h1>
	{{govukTag({
      text: "New",
      classes: "govuk-tag--turquoise"
    })}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav class="x-govuk-secondary-navigation app-secondary-nav govuk-!-margin-top-6 govuk-!-margin-bottom-6" aria-label="Secondary menu">
        <ul class="x-govuk-secondary-navigation__list">
    <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/index.html" aria-current="page">
        Overview
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/timetable.html">
        Timetable
      </a>
    </li>  
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/gateway-2.html">
        Gateway 1
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/gateway-2.html">
        Gateway 2
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/gateway-3.html">
        Gateway 3
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/examination.html">
        Examination
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/documents.html">
        Documents
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/updates.html">
        Updates
      </a>
    </li>
        </ul>
      </nav>
    </div>
  </div>

  
      <form method="post" action="/projects/back-office/manage/index.html">

      <h2 class="govuk-heading-m">Overview</h2>
      <dl class="govuk-summary-list govuk-summary-list-timetable">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Plan title</dt>
          <dd class="govuk-summary-list__value">{{ planTitle or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/overview/plan-title?returnUrl=/projects/back-office/manage/index.html">Change<span class="govuk-visually-hidden"> Change the plan title</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Plan type</dt>
          <dd class="govuk-summary-list__value">{% if planType == 'local-plan' %}Local Plan{% else %}{{ planType or '-' }}{% endif %}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/overview/plan-type">Change<span class="govuk-visually-hidden"> Change the plan type</span></a>
          </dd>
        </div>
        {% if lpas and lpas.length > 0 %}
          {% for lpa in lpas %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Local Planning Authority{% if lpas.length > 1 %} {{ loop.index }}{% endif %}</dt>
          <dd class="govuk-summary-list__value">
            {{ lpa }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/overview/select-LPA?index={{ loop.index0 }}">Change<span class="govuk-visually-hidden"> Change LPA {{ loop.index }}</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Region{% if lpas.length > 1 %} for LPA {{ loop.index }}{% endif %}</dt>
          <dd class="govuk-summary-list__value">
            {{ lpaRegions[lpa] or '-' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/overview/LPA-region?index={{ loop.index0 }}">Change<span class="govuk-visually-hidden"> Change region for LPA {{ loop.index }}</span></a>
          </dd>
        </div>
          {% endfor %}
        {% else %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Local Planning Authority</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/overview/select-LPA">Change<span class="govuk-visually-hidden"> Change LPA</span></a>
          </dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Case officer</dt>
          <dd class="govuk-summary-list__value">{{ caseOfficer or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/overview/case-officer-name">Change<span class="govuk-visually-hidden"> Change the case officer</span></a>
          </dd>
        </div>
          </dl>
      </dl>


      <h2 class="govuk-heading-m">Contacts</h2>
      <dl class="govuk-summary-list govuk-summary-list-timetable">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Main contact</dt>
          <dd class="govuk-summary-list__value">
            {% if mainContactName %}
              {{ mainContactName }}<br>
              {{ mainContactEmail }}<br>
              {% if mainContactPhone %}{{ mainContactPhone }}<br>{% endif %}
              {{ mainContactOrg }}
            {% else %}
              -
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="/projects/back-office/manage/overview/main-contact">Change<span class="govuk-visually-hidden"> main contact</span></a>
              </li>
            </ul>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Additional contact 1</dt>
          <dd class="govuk-summary-list__value">
            {% if contacts[0] and contacts[0].name %}
              {{ contacts[0].name }}<br>
              {{ contacts[0].email }}<br>
              {% if contacts[0].phone %}{{ contacts[0].phone }}<br>{% endif %}
              {{ contacts[0].organisation or '' }}
            {% else %}
              -
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="/projects/back-office/manage/overview/additional-contact?index=0">Change<span class="govuk-visually-hidden"> Additional contact 1</span></a>
              </li>
            </ul>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Additional contact 2</dt>
          <dd class="govuk-summary-list__value">
            {% if contacts[1] and contacts[1].name %}
              {{ contacts[1].name }}<br>
              {{ contacts[1].email }}<br>
              {% if contacts[1].phone %}{{ contacts[1].phone }}<br>{% endif %}
              {{ contacts[1].organisation or '' }}
            {% else %}
              -
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="/projects/back-office/manage/overview/additional-contact?index=1">Change<span class="govuk-visually-hidden"> Additional contact 2</span></a>
              </li>
            </ul>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Additional contact 3</dt>
          <dd class="govuk-summary-list__value">
            {% if contacts[2] and contacts[2].name %}
              {{ contacts[2].name }}<br>
              {{ contacts[2].email }}<br>
              {% if contacts[2].phone %}{{ contacts[2].phone }}<br>{% endif %}
              {{ contacts[2].organisation or '' }}
            {% else %}
              -
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="/projects/back-office/manage/overview/additional-contact?index=2">Change<span class="govuk-visually-hidden"> Additional contact 3</span></a>
              </li>
            </ul>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Additional contact 4</dt>
          <dd class="govuk-summary-list__value">
            {% if contacts[3] and contacts[3].name %}
              {{ contacts[3].name }}<br>
              {{ contacts[3].email }}<br>
              {% if contacts[3].phone %}{{ contacts[3].phone }}<br>{% endif %}
              {{ contacts[3].organisation or '' }}
            {% else %}
              -
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="/projects/back-office/manage/overview/additional-contact?index=3">Change<span class="govuk-visually-hidden"> Additional contact 4</span></a>
              </li>
            </ul>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Additional contact 5</dt>
          <dd class="govuk-summary-list__value">
            {% if contacts[4] and contacts[4].name %}
              {{ contacts[4].name }}<br>
              {{ contacts[4].email }}<br>
              {% if contacts[4].phone %}{{ contacts[4].phone }}<br>{% endif %}
              {{ contacts[4].organisation or '' }}
            {% else %}
              -
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="/projects/back-office/manage/overview/additional-contact?index=4">Change<span class="govuk-visually-hidden"> Additional contact 5</span></a>
              </li>
            </ul>
          </dd>
        </div>
        </dl>
          <dl class="govuk-summary-list govuk-summary-list-timetable">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Programme Officer</dt>
          <dd class="govuk-summary-list__value">
            {% if gateway3PoContact and (gateway3PoContact.firstName or gateway3PoContact.lastName) %}
              {{ gateway3PoContact.firstName }} {{ gateway3PoContact.lastName }}<br>
              {% if gateway3PoContact.email %}{{ gateway3PoContact.email }}<br>{% endif %}
              {% if gateway3PoContact.phone %}{{ gateway3PoContact.phone }}{% endif %}
            {% else %}
              -
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="/projects/back-office/manage/GW3/gateway-3-po-details.html?returnUrl=/projects/back-office/manage/index.html">Change<span class="govuk-visually-hidden"> Programme Officer</span></a>
              </li>
            </ul>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Examination website</dt>
          <dd class="govuk-summary-list__value">
            {{ examinationWebsite or '-' }}<br>
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="/projects/back-office/manage/examination/examination-website.html?returnUrl=/projects/back-office/manage/index.html">Change<span class="govuk-visually-hidden"> Examination website</span></a>
              </li>
            </ul>
          </dd>
        </div>
        </dl>
        <dl class="govuk-summary-list govuk-summary-list-timetable">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Assessor Gateway 2</dt>
          <dd class="govuk-summary-list__value">{{ gateway2AssessorName }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW2/gateway-2-assessor-name.html?returnUrl=/projects/back-office/manage/index.html">Change<span class="govuk-visually-hidden"> Gateway 2 Assessor Name</span></a>
          </dd>
      
        </div>
       <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Assessor Gateway 3</dt>
          <dd class="govuk-summary-list__value">
            {{ gateway3AssessorName }}<br>
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="/projects/back-office/manage/GW3/gateway-3-assessor-name.html?returnUrl=/projects/back-office/manage/index.html">Change<span class="govuk-visually-hidden"> Assessor Gateway 3</span></a>
              </li>
            </ul>
          </dd>
       </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Examining Inspector 1</dt>
          <dd class="govuk-summary-list__value">
            {{ examiningInspector1Name or '-' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/examining-inspector-1.html?returnUrl=/projects/back-office/manage/index.html">Change<span class="govuk-visually-hidden"> Examining Inspector 1</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Examining Inspector 2</dt>
          <dd class="govuk-summary-list__value">
            {{ examiningInspector2Name or '-' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/examining-inspector-2.html?returnUrl=/projects/back-office/manage/index.html">Change<span class="govuk-visually-hidden"> Examining Inspector 2</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Examining Inspector 3</dt>
          <dd class="govuk-summary-list__value">
            {{ examiningInspector3Name or '-' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/examining-inspector-3.html?returnUrl=/projects/back-office/manage/index.html">Change<span class="govuk-visually-hidden"> Examining Inspector 3</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">QA Inspector 1</dt>
          <dd class="govuk-summary-list__value">
            {{ qaInspector1Name or '-' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/QA-inspector-1.html?returnUrl=/projects/back-office/manage/index.html">Change<span class="govuk-visually-hidden"> QA Inspector 1</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">QA Inspector 2</dt>
          <dd class="govuk-summary-list__value">
            {{ qaInspector2Name or '-' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/QA-inspector-2.html?returnUrl=/projects/back-office/manage/index.html">Change<span class="govuk-visually-hidden"> QA Inspector 2</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">QA Inspector 3</dt>
          <dd class="govuk-summary-list__value">
            {{ qaInspector3Name or '-' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/QA-inspector-3.html?returnUrl=/projects/back-office/manage/index.html">Change<span class="govuk-visually-hidden"> QA Inspector 3</span></a>
          </dd>
        </div>
      </dl>
      </dl>
      </form>
      <div class="govuk-!-margin-top-6">
        <form method="get" action="/projects/back-office/manage/delete-case-confirmation.html" style="display: inline-block;">
          <input type="hidden" name="caseRef" value="{{ caseRef }}">
          <button type="submit" class="govuk-button govuk-button--warning">
            Delete case
          </button>
        </form>
        <form method="get" action="/projects/back-office/manage/clear-data.html" style="display: inline-block; margin-right: 10px;">
          <button type="submit" class="govuk-button govuk-button--secondary">
            Clear prototype data
          </button>
        </form>
      </div>
    </div>
  </div>
    </div>
  </div>
{% endblock %}
{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}