{% extends "layouts/back-office.html" %}

{% block pageTitle %}
Plan timetable – {{ serviceName }}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


  <style>
    .side-nav {
      padding-right: 20px;
    }

    .side-nav ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }

    .side-nav li {
      margin-bottom: 5px;
    }

    .side-nav a {
      display: block;
      padding: 10px 15px;
      text-decoration: none;
      color: #1d70b8;
      border-left: 5px solid transparent;
    }

    .side-nav a:hover {
      background-color: #f3f2f1;
    }

    .side-nav a.selected {
      background-color: #f3f2f1;
      font-weight: bold;
      border-left: 5px solid #1d70b8;
      color: #0b0c0c;
    }
    .grey-box {
    background-color: #f3f2f1;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}
  </style>
   <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="grey-box">
  <span class="govuk-caption-xl">PLAN/000001</span>
  <h1 class="govuk-heading-xl">Central City Local Plan</h1>
  {{govukTag({
      text: "New",
      classes: "govuk-tag--turquoise"
    })}}
  
</div>

  <div class="govuk-grid-column-one-quarter">
    <nav class="side-nav">
      <ul class="govuk-list">
        <li><a href="/projects/back-office/manage/index-side.html">Overview</a></li>
        <li><a href="/projects/back-office/manage/timetable-side.html" class="selected">Timetable</a></li>
        <li><a href="/projects/back-office/manage/gateway-1-side.html">Gateway 1</a></li>
        <li><a href="/projects/back-office/manage/gateway-2-side.html">Gateway 2</a></li>
        <li><a href="/projects/back-office/manage/gateway-3-side.html">Gateway 3</a></li>
        <li><a href="/projects/back-office/manage/examination-side.html">Examination</a></li>
        <li><a href="/projects/back-office/manage/documents-side.html">Documents</a></li>
        <li><a href="/projects/back-office/manage/updates-side.html">Updates</a></li>
      </ul>
    </nav>
  </div>

  <div class="govuk-grid-column-three-quarters">

      <h2 class="govuk-heading-m">Timetable</h2>
      <dl class="govuk-summary-list govuk-summary-list-timetable">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Notice of Intention date</dt>
          <dd class="govuk-summary-list__value">12 March 2026</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Notice of Intention date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 1 estimated date</dt>
          <dd class="govuk-summary-list__value">28 March 2026</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Gateway 1 Estimated Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 1 actual date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Gateway 1 Actual Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">SLA sent date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> SLA Sent Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">SLA received date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> SLA Received Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">DSA check</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> DSA Check</span></a>
          </dd>
        </div>
        </dl>
        <h2 class="govuk-heading-m">Gateway 2</h2>
      <dl class="govuk-summary-list govuk-summary-list-timetable" >
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 2 estimated date</dt>
          <dd class="govuk-summary-list__value">15 April 2026</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Gateway 2 Estimated Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 2 actual date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Gateway 2 Actual Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 2 valid date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Gateway 2 Valid Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 2 dates for workshop</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Gateway 2 Dates for Workshop</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 2 assessor date of appointment</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Gateway 2 Assessor Date of Appointment</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 2 report issued date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Gateway 2 Report Issued Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 2 report published by LPA date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Gateway 2 Report Published by LPA Date</span></a>
          </dd>
        </div>
        </dl>
        <h2 class="govuk-heading-m">Gateway 3</h2>
      <dl class="govuk-summary-list govuk-summary-list-timetable">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 3 estimated date</dt>
          <dd class="govuk-summary-list__value">2 May 2026</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Gateway 3 Estimated Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 3 actual date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Submission for Examination date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 3 assessor date of appointment</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Gateway 3 Assessor Date of Appointment</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 3 completion date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Gateway 3 Completion Date</span></a>
          </dd>
        </div>
      </dl>
    <h2 class="govuk-heading-m">Examination</h2>
      <dl class="govuk-summary-list govuk-summary-list-timetable">
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Estimated submission date</dt>
          <dd class="govuk-summary-list__value">20 May 2026</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Estimated Submission Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Actual submission date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Actual Submission Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Examining Inspector date of appointment</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Examining Inspector Date of Appointment</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Hearing start date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Hearing Start Date</span></a>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Further hearing dates</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Further Hearing Dates</span></a>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Hearing close date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Hearing Close Date</span></a>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Letter sent to MHCLG date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Letter Sent to MHCLG Date</span></a>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Letter issue date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Letter Issue Date</span></a>
        </div>
        </dl>
         <h2 class="govuk-heading-m">QA</h2>
         <dl class="govuk-summary-list govuk-summary-list-timetable">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">QA date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">QA Date</span></a>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Sent to panel date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Sent to Panel Date</span></a>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">QA panel response sent to Inspector</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">QA Panel Response Sent to Inspector</span></a>
        </div>
        </dl>
            <h2 class="govuk-heading-m">Fact Check</h2>
            <dl class="govuk-summary-list govuk-summary-list-timetable">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Fact Check date received from Inspector</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Fact Check Date Received from Inspector</span></a>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Fact Check due date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Fact Check Due Date</span></a>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Fact Check actual date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Fact Check Actual Date</span></a>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Fact Check received back from LPA</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Fact Check Received Back from LPA</span></a>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Final report issue date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Final Report Issue Date</span></a>
        </div>
        </dl>
        <h2 class="govuk-heading-m">Important dates for this plan</h2>
        <dl class="govuk-summary-list govuk-summary-list-timetable">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Plan pause date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Plan Pause Date</span></a>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Plan pause end date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Plan Pause End Date</span></a>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Withdrawn date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Withdrawn Date</span></a>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Sound / unsound date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Sound / Unsound Date</span></a>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Adoption date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Adoption Date</span></a>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Approved for CIL date</dt>
          <dd class="govuk-summary-list__value">-</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Approved for CIL Date</span></a>
        </div>
      </dl>

    </div>
  </div>



{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}