{% extends "layouts/main.html" %}
 
{% set title="Gateway 2" %}
{% set activeNav = 'front-office' %}

{% block header %}
  {% include "includes/PINS-header--internal.html" %}
  {% include "includes/service-navigation.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/front-office.html'
  }) }}
{% endblock %}
 
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    <span class="govuk-caption-l">
      Submit a local plan
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>
 
    {% set version = "2" %}
    <h2 class="govuk-heading-m">
      Version {{ version }}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h2>

    <p class="govuk-body">Allows LPAs to submit a Gateway 2 application. Users upload required documents, complete a declaration, and confirm submission.</p>

    {% set appDetailsNotesHtml %}

    <h3 class="govuk-heading-s">Changes</h3>
 
    <ul class="govuk-list govuk-list--bullet">
      <li>Updated application structure to follow the Appeals pattern with individual upload steps</li>
      <li>Merged declaration into a single page</li>
      <li>Added a view-only ‘application submitted’ page</li>
      <li>Added a progress indicator (for example, “You have completed 0 of 2 sections”)</li>
</ul>
    </ul>

    <h3 class="govuk-heading-s">Things to test</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>Whether users understand what documents they need to upload</li>
  <li>Whether users need to upload multiple files at once or one file per step</li>
  <li>Whether the application pattern is easy to follow</li>
  <li>Whether next steps after submission are clear</li>
  <li>Where users expect to go after submitting e.g. plan details page or submitted application view</li>
  <li>Whether users expect to save progress and return later</li>
  <li>Whether users need to upload additional (optional) documents</li>
  <li>Whether users need to add comments or supporting information alongside uploads</li>
  <li>Whether users need to access or download their submitted application</li>
  <li>Whether users understand what happens when they submit (for example, can they edit after submission)</li>
</ul>

    <h3 class="govuk-heading-s">Open questions</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>What documents are mandatory for each Gateway</li>
  <li>If there are no mandated documents, could other options work such as one multi-file upload + tagging journey</li>
  <li>Whether document requirements differ by plan type or complexity</li>
  <li>How validation should work for missing or incorrect documents</li>
  <li>How multiple users accessing the service should be managed</li>
</ul>

{% endset %}

{{ govukDetails({
  summaryText: "Version 2 notes",
  html: appDetailsNotesHtml
}) }}

 
    {{ govukButton({
      html: 'View prototype',
      href: '/projects/front-office/application-details-g2/v' ~ version ~ '/application-details',
      isStartButton: true
    }) }}
 
    {% set v1HTML %}
 
      {% set version = "1" %}
 
      <p class="govuk-body">
        A basic task list page with an upload files flow and application submission flow. Not fully end-to-end functional - only key steps were built out and content was not finalised. Built for early demoing purposes only.
      </p>
 
      {{ govukInsetText({
        html: '<p class="govuk-body"><a href="https://app.mural.co/t/allpins6990/m/allpins6990/1765884601123/237bc418b7dd56fd74fe7b0ce600936fbf9aba46">Design Mural board</a></p>'
      }) }}
 
      {{ govukButton({
        html: 'View prototype',
        href: '/projects/front-office/application-details-g2/v' ~ version ~ '/application-details',
        isStartButton: true
      }) }}

      <p class="govuk-body"><a href="/projects/front-office/application-details-g2/archive/test-1/application-details.html">View v1.1</a> with updated tasklist functionality.</p>
 
    {% endset -%}
 
    {{ govukAccordion({
      id: 'previous',
      classes: 'govuk-!-margin-top-9',
      items: [
        {
          heading: {
            html: 'Version 1 <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-2">Superseded</strong>'
          },
          content: {
            html: v1HTML
          }
        }
      ]
    }) }}
 
  </div>
</div>
{% endblock %}