{% extends "layouts/main.html" %}
 
{% set title="Gateway 2" %}
{% set activeNav = 'front-office' %}

{% block header %}
  {% include "includes/PINS-header--internal.html" %}
  {% include "includes/service-navigation.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/front-office.html'
  }) }}
{% endblock %}
 
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    <span class="govuk-caption-l">
      Submit a local plan
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>
 
    {% set version = "2" %}
    <h2 class="govuk-heading-m">
      Version {{ version }}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h2>
 
    <p class="govuk-!-margin-bottom-2">Changes:</p>
 
    <ul class="govuk-list govuk-list--bullet">
      <li>updated layout of application details to match Appeals pattern and loop through each upload page</li>
      <li>declaration pages merged into 1 declaration page</li>
      <li>view-only 'application submitted' page added</li>
      <li>progress tracker added i.e. "You have completed 0 of 3 sections.</li>
    </ul>
 
    {{ govukButton({
      html: 'View prototype',
      href: '/projects/front-office/application-details-g2/v' ~ version ~ '/application-details',
      isStartButton: true
    }) }}
 
    {% set v1HTML %}
 
      {% set version = "1" %}
 
      <p class="govuk-body">
        A basic task list page with an upload files flow and application submission flow. Not fully end-to-end functional - only key steps were built out and content was not finalised. Built for early demoing purposes only.
      </p>
 
      {{ govukInsetText({
        html: '<p class="govuk-body"><a href="https://app.mural.co/t/allpins6990/m/allpins6990/1765884601123/237bc418b7dd56fd74fe7b0ce600936fbf9aba46">Design Mural board</a></p>'
      }) }}
 
      {{ govukButton({
        html: 'View prototype',
        href: '/projects/front-office/application-details-g2/v' ~ version ~ '/application-details',
        isStartButton: true
      }) }}

      <p class="govuk-body"><a href="/projects/front-office/application-details-g2/archive/test-1/application-details.html">View version 1.1</a> with updated tasklist functionality.</p>
 
    {% endset -%}
 
    {{ govukAccordion({
      id: 'previous',
      classes: 'govuk-!-margin-top-9',
      items: [
        {
          heading: {
            html: 'Version 1 <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-2">Superseded</strong>'
          },
          content: {
            html: v1HTML
          }
        }
      ]
    }) }}
 
  </div>
</div>
{% endblock %}