{% extends "layouts/back-office.html" %}

{% block pageTitle %}
 Additional contact details – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Additional contact details
      </h1>

      <form method="post" action="/projects/back-office/manage/overview/additional-contact">
        <input type="hidden" name="editIndex" value="{{ editIndex }}">
        <input type="hidden" name="fromCheckAnswers" value="{{ fromCheckAnswers }}">
        <input type="hidden" name="contactIndex" value="{{ contactIndex }}">
        <input type="hidden" name="returnUrl" value="{{ returnUrl }}">
        
        <fieldset class="govuk-fieldset">
          <div class="govuk-form-group">
            <label class="govuk-label" for="additional-contact-first-name">
              First name
            </label>
            <input class="govuk-input" id="additional-contact-first-name" name="firstName" type="text" autocomplete="given-name" value="{{ contact.firstName | default('') }}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="additional-contact-last-name">
              Last name
            </label>
            <input class="govuk-input" id="additional-contact-last-name" name="lastName" type="text" autocomplete="family-name" value="{{ contact.lastName | default('') }}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="additional-contact-email">
              Email address
            </label>
            <input class="govuk-input" id="additional-contact-email" name="email" type="email" autocomplete="email" value="{{ contact.email | default('') }}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="additional-contact-phone">
              Phone number (optional)
            </label>
            <input class="govuk-input govuk-!-width-one-half" id="additional-contact-phone" name="phone" type="text" autocomplete="tel" value="{{ contact.phone | default('') }}">
          </div>
        </fieldset>
        <div class="govuk-button-group">
           {% if isEdit %}
        {{ govukButton({
          text: "Save and continue"
        }) }}
        {% else %}
        {{ govukButton({
          text: "Save and continue"
        }) }}
        {% endif %}
          
          {% if editIndex !== '' or fromCheckAnswers %}
          <a href="/projects/back-office/manage/index.html" class="govuk-link">Cancel</a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}