{% extends "layouts/back-office.html" %}

{% block pageTitle %}
Additional contact details – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/projects/back-office/manage/overview/contact-2" method="post">
      <input type="hidden" name="isEdit" value="{{ isEdit }}">
      <input type="hidden" name="returnUrl" value="{{ returnUrl }}">
      {{ govukInput({
        label: {
          text: "Additional contact details",
          classes: "govuk-label--l"
        },
        id: "contact-2-first-name",
        name: "contact-2-first-name",
        type: "text",
        classes: "govuk-!-width-two-thirds",
        value: contact2FirstName
      }) }}
      {{ govukInput({
        label: {
          text: "Contact 2 last name",
          classes: "govuk-label--l"
        },
        id: "contact-2-last-name",
        name: "contact-2-last-name",
        type: "text",
        classes: "govuk-!-width-two-thirds",
        value: contact2LastName
      }) }}
      {{ govukInput({
        label: {
          text: "Contact 2 email",
          classes: "govuk-label--m"
        },
        id: "contact-2-email",
        name: "contact-2-email",
        type: "email",
        classes: "govuk-!-width-two-thirds",
        value: contact2Email
      }) }}
      {{ govukInput({
        label: {
          text: "Contact 2 phone",
          classes: "govuk-label--m"
        },
        id: "contact-2-phone",
        name: "contact-2-phone",
        type: "tel",
        classes: "govuk-!-width-two-thirds",
        value: contact2Phone
      }) }}
      <div class="govuk-form-group">
          <label class="govuk-label" for="contact-organisation">
            Select the organisation for this contact
          </label>
          <div class="govuk-radios" data-module="govuk-radios">
            {% for lpa in lpas %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="lpa-{{ loop.index }}" name="contactOrganisation" type="radio" value="{{ lpa }}"
                  {% if contact.organisation == lpa %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="lpa-{{ loop.index }}">
                  {{ lpa }}
                </label>
              </div>
            {% endfor %}
          </div>
        </div>
      <div class="govuk-button-group">
        {% if isEdit %}
          {{ govukButton({ text: "Save and continue", type: "submit" }) }}
          <a href="/projects/back-office/manage/index.html" class="govuk-button govuk-button--secondary" role="button">Cancel</a>
        {% else %}
          {{ govukButton({ text: "Save and continue", type: "submit" }) }}
        {% endif %}
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
