{% extends "layouts/main.html" %}

{% set title = "Guidance" %}
{% set activeNav = 'front-office' %}
{% set version = "1" %}

{% block header %}
  {% include "includes/PINS-header--internal.html" %}
  {% include "includes/service-navigation.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to all prototypes",
    href: "/front-office"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Service-wide pages</span>

    <h1 class="govuk-heading-l">{{ title }}</h1>

    <h2 class="govuk-heading-m">
      Version {{ version }}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'Ready for research'
      }) }}
    </h2>

    <p class="govuk-body">
      New tab added to front-office header after user research feedback. This prototype explores the design of a guidance page for LPAs, with links to relevant guidance and resources.
    </p>

    {{ govukButton({
      text: "View prototype",
      href: "/projects/front-office/guidance/v" ~ version ~ "/guidance-page",
      isStartButton: true
    }) }}

  </div>
</div>

{% endblock %}