
{% extends "layouts/back-office.html" %}

{% block pageTitle %}
	Who is the Gateway 3 assessor? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
	{{ govukBackLink({
		text: "Back",
		href: returnUrl or "javascript:window.history.back()"
	}) }}
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">Who is the Gateway 3 assessor?</h1>
			<form class="form" method="post" action="/projects/back-office/manage/GW3/v1/gateway-3-assessor-name">
				<input type="hidden" name="isEdit" value="{{ isEdit }}">
				<input type="hidden" name="returnUrl" value="{{ returnUrl }}">
				<div class="govuk-form-group">
					<input class="govuk-input govuk-!-width-two-thirds" id="gateway-3-assessor-name" name="gateway-3-assessor-name" type="text" value="{{ gateway3AssessorName }}">
				</div>
			<div class="govuk-button-group">
				<button class="govuk-button" data-module="govuk-button" type="submit">Save and continue</button>
				<a href="{{ returnUrl or '/projects/back-office/manage/GW3/v1/gateway-3.html' }}" class="govuk-link">Cancel</a>
			</div>
			</form>
		</div>
	</div>
{% endblock %}
