{% extends "layouts/back-office.html" %}

{% block pageTitle %}
Gateway 3 overview – {{ serviceName }}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <span class="govuk-caption-l">{{ caseRef or 'PLAN/000001' }}</span>
	<h1 class="govuk-heading-l">{{ planTitle or '-' }}</h1>
	{{govukTag({
      text: "New",
      classes: "govuk-tag--turquoise"
    })}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav class="x-govuk-secondary-navigation app-secondary-nav govuk-!-margin-top-6 govuk-!-margin-bottom-6" aria-label="Secondary menu">
        <ul class="x-govuk-secondary-navigation__list">
    <li class="x-govuk-secondary-navigation__list-item">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/overview/v1/index">
        Overview
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/timetable.html">
        Timetable
      </a>
    </li>  
    
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/GW1/v1/gateway-1">
        Gateway 1
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/GW2/v1/gateway-2">
        Gateway 2
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/GW3/v1/gateway-3" aria-current="page">
        Gateway 3
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/examination/v1/examination">
        Examination
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/documents/v1/documents">
        Documents
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/updates/v1/updates.html">
        Updates
      </a>
    </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="post" action="">

      <h2 class="govuk-heading-m">Gateway 3</h2>
      <dl class="govuk-summary-list govuk-summary-list-timetable">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 3 estimated date</dt>
          <dd class="govuk-summary-list__value">{{ gateway3EstimatedDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW3/v1/gateway-3-estimated.html?returnUrl=/projects/back-office/manage/GW3/v1/gateway-3.html">Change<span class="govuk-visually-hidden">Gateway 3 estimated date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 3 actual date</dt>
          <dd class="govuk-summary-list__value">{{ gateway3ActualDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW3/v1/gateway-3-actual.html?returnUrl=/projects/back-office/manage/GW3/v1/gateway-3.html">Change<span class="govuk-visually-hidden"> Gateway 3 actual date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 3 assessor date of appointment</dt>
          <dd class="govuk-summary-list__value">{{ gateway3AssessorAppointmentDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW3/v1/gateway-3-assessor-appointment.html?returnUrl=/projects/back-office/manage/GW3/v1/gateway-3.html">Change<span class="govuk-visually-hidden"> Gateway 3 assessor date of appointment</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 3 completion date</dt>
          <dd class="govuk-summary-list__value">{{ gateway3CompletionDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW3/v1/gateway-3-completion-date.html?returnUrl=/projects/back-office/manage/GW3/v1/gateway-3.html">Change<span class="govuk-visually-hidden"> Gateway 3 completion date</span></a>
          </dd>
        </div>
        </dl> 
        <dl class="govuk-summary-list govuk-summary-list-timetable">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 3 assessor name</dt>
          <dd class="govuk-summary-list__value">{{ gateway3AssessorName or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW3/v1/gateway-3-assessor-name.html?returnUrl=/projects/back-office/manage/GW3/v1/gateway-3.html">Change<span class="govuk-visually-hidden"> Gateway 3 assessor name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Programme officer details</dt>
          <dd class="govuk-summary-list__value">
            {% if gateway3PoContact.firstName or gateway3PoContact.lastName %}
              {{ gateway3PoContact.firstName }} {{ gateway3PoContact.lastName }}<br>
              {% if gateway3PoContact.email %}{{ gateway3PoContact.email }}<br>{% endif %}
              {% if gateway3PoContact.phone %}{{ gateway3PoContact.phone }}{% endif %}
            {% else %}
              -
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW3/v1/gateway-3-po-details.html?returnUrl=/projects/back-office/manage/GW3/v1/gateway-3.html">Change<span class="govuk-visually-hidden"> Gateway 3 programme officer details</span></a>
          </dd>
        </div>
      </dl>
{% endblock %}
{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}