
{% extends "layouts/back-office.html" %}

{% block pageTitle %}
	When was the Gateway 3 assessor appointed? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
	{{ govukBackLink({
		text: "Back",
		href: returnUrl or "javascript:window.history.back()"
	}) }}
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">When was the Gateway 3 assessor appointed?</h1>
                
			<form class="form" method="post" action="/projects/back-office/manage/GW3/v1/gateway-3-assessor-appointment">
				<input type="hidden" name="isEdit" value="{{ isEdit }}">
				<input type="hidden" name="returnUrl" value="{{ returnUrl }}">
				{% set dateParts = noticeOfIntentionDate.split('/') if noticeOfIntentionDate else ['', '', ''] %}
				<fieldset class="govuk-fieldset govuk-!-margin-bottom-2" role="group" aria-describedby="gateway-3-assessor-appointment-date-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<span class="govuk-visually-hidden">Gateway 3 assessor appointment date</span>
					</legend>
					<div class="govuk-date-input" id="gateway-3-assessor-appointment-date">
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="gateway-3-assessor-appointment-date-day">Day</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gateway-3-assessor-appointment-date-day" name="notice-of-intention-date-day" type="text" inputmode="numeric" value="{{ dateParts[0] }}">
							</div>
						</div>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="gateway-3-assessor-appointment-date-month">Month</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gateway-3-assessor-appointment-date-month" name="notice-of-intention-date-month" type="text" inputmode="numeric" value="{{ dateParts[1] }}">
							</div>
						</div>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="gateway-3-assessor-appointment-date-year">Year</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="gateway-3-assessor-appointment-date-year" name="notice-of-intention-date-year" type="text" inputmode="numeric" value="{{ dateParts[2] }}">
							</div>
						</div>
					</div>
				</fieldset>
			<div class="govuk-button-group">
				<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
				<a href="{{ returnUrl or '/projects/back-office/manage/GW3/v1/gateway-3.html' }}" class="govuk-link">Cancel</a>
			</div>
			</form>
		</div>
	</div>
{% endblock %}
