{% extends "layouts/front-office.html" %}

{% block pageTitle %} Home – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "homepage"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">PLAN/000005</span>
    <h1 class="govuk-heading-xl">East Borough Local Plan</h1>
    <!--<p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua.</p>-->

      {% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{{ govukTaskList({
  idPrefix: "to-do",
  items: [
    {
      title: {
        text: "Gateway 2 application"
      },
      hint: {
      text: "Due date: 25 April 2026"
      },
      href: "../../application-details-g2/v2/application-details",
      status: {
          tag: {
          text: "In progress"        }        
      }
    },
    {
      title: {
        text: "Gateway 3 application"
      },
      hint: {
      text: "Due date: 26 May 2026"
      },
      href: "#",
      status: {
        tag: {
          text: "Cannot start yet",
          classes: "govuk-tag--grey"
        }
      }
    },
    {
      title: {
        text: "Final submission"
      },
      hint: {
        text: "Due date: 25 June 2026"
      },
      href: "#",
      status: {
        tag: {
          text: "Cannot start yet",
          classes: "govuk-tag--grey"
        }
      }
    }
  ]
}) }}
  </div>


</div>

{% endblock %}