{% extends "layouts/back-office.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Upload a document – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
  

    <h1 class="govuk-heading-xl">Upload files</h1>

    <form>
      <div class="moj-multi-file-upload moj-multi-file-upload--enhanced" data-module="moj-multi-file-upload">
        <div class="moj-multi-file__uploaded-files">
          <h2 class="govuk-heading-m">Files added</h2>
          <div class="govuk-summary-list moj-multi-file-upload__list"></div>
        </div>

        <div class="moj-multi-file-upload__upload">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="documents">
              Upload a file
            </label>
            <input class="govuk-file-upload moj-multi-file-upload__input" id="documents" name="documents" type="file" multiple="">
          </div>
        </div>
      </div>

      <button type="submit" class="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const MultiFileUpload = window.MOJFrontend && window.MOJFrontend.MultiFileUpload;
  if (MultiFileUpload) {
    const $multiFileUpload = document.querySelector('[data-module="moj-multi-file-upload"]');
    if ($multiFileUpload) {
      new MultiFileUpload($multiFileUpload, {
        uploadUrl: '/projects/back-office/manage/ajax-upload',
        deleteUrl: '/projects/back-office/manage/delete-upload'
      });
    }
  }
});
</script>

{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
