<h2 class="govuk-heading-m govuk-!-margin-top-6">Documents from the Planning Inspectorate</h2>

{{ govukSummaryList({
  rows: [
    {
      key: { text: "Gateway 2 workshop agenda" },
      value: { html: "<a class='govuk-link' href='#'>workshop-agenda.pdf (1.2KB)</a><br><span class='govuk-hint'>Shared 8 April 2026</span>" }
    },
    {
      key: { text: "Gateway 2 workshop questions" },
      value: { html: "<a class='govuk-link' href='#'>workshop-questions.pdf (6.4KB)</a><br><span class='govuk-hint'>Shared 8 April 2026</span>" }
    }
  ]
}) }}