<h2 class="govuk-heading-m">Documents shared by the Planning Inspectorate</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Document</th>
      <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header">Date shared</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">workshop-agenda.pdf (1.2KB)</a>
      </td>
      <td class="govuk-table__cell">Gateway 2 workshop</td>
      <td class="govuk-table__cell">8 April 2026</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">workshop-questions.pdf (5.3KB)</a>
      </td>
      <td class="govuk-table__cell">Gateway 2 workshop</td>
      <td class="govuk-table__cell">8 April 2026</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">gw2-report.pdf (7.4KB)</a>
      </td>
      <td class="govuk-table__cell">Gateway 2 report</td>
      <td class="govuk-table__cell">31 May 2026</td>
    </tr>
  </tbody>
</table>