<h2 class="govuk-heading-m govuk-!-margin-top-6">Documents from PINS</h2>

{{ govukSummaryList({
  rows: [
    {
      key: { text: "Workshop agenda" },
      value: { html: "<a class='govuk-link' href='#'>workshop-agenda.pdf</a><br><span class='govuk-hint'>Shared 3 May 2026</span>" }
    },
    {
      key: { text: "Gateway 2 report" },
      value: { html: "<a class='govuk-link' href='#'>gw2-report.pdf</a><br><span class='govuk-hint'>Shared 12 May 2026</span>" }
    }
  ]
}) }}