{% extends "layouts/front-office-v2.html" %}

{% block pageTitle %}
Application details – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/projects/front-office/plan-details/v3/plan-details?stage=examination&status=with-pins"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

    {% include "./_includes/completed-metadata.njk" %}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

    <p class="govuk-body">
      Your submission was sent on 8 August 2026 at 12:00pm by Laura Thornton.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Examination details</h2>

    {{ govukSummaryList({
      classes: "app-summary-list--narrow-key",
      rows: [

        {
          key: { text: 'Examination website' },
          value: { html: "<a class='govuk-link' href='#' target='_blank' rel='noopener'>" + (data['examination-website-link'] or 'https://www.example.gov.uk/examination-library') + "</a>" }
        },

        {
          key: { text: 'Statement of changes since gateway 3' },
          value:
            { html: "<a class='govuk-link' href='#' target='_blank' rel='noopener'>changes-statement.pdf</a>" } if data['changes-statement-upload-complete']
            else { html: '<span class="govuk-hint">Not added</span>' }
        }

      ]
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Procedural documents</h2>

    {{ govukSummaryList({
      classes: "app-summary-list--narrow-key",
      rows: [

        {
          key: { text: 'New or updated documents' },
          value:
            { html: '<ul class="govuk-list"><li><a class="govuk-link" href="#" target="_blank" rel="noopener">procedural-document.pdf</a></li></ul>' } if data['procedural-documents-upload-complete']
            else { html: '<span class="govuk-hint">Not added</span>' }
        }

      ]
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Consultation documents</h2>

    {{ govukSummaryList({
      classes: "app-summary-list--narrow-key",
      rows: [

        {
          key: { text: 'New or updated documents' },
          value: { html: '<ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="#" target="_blank" rel="noopener">consultation-statement.pdf</a></li>
            <li><a class="govuk-link" href="#" target="_blank" rel="noopener">consultation-responses-summary.pdf</a></li>
            <li><a class="govuk-link" href="#" target="_blank" rel="noopener">consultation-scheme.pdf</a></li>
          </ul>' }
        }

      ]
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Plan content, evidence and background</h2>

    {{ govukSummaryList({
      classes: "app-summary-list--narrow-key",
      rows: [

        {
          key: { text: 'New or updated documents' },
          value:
            { html: '<ul class="govuk-list"><li><a class="govuk-link" href="#" target="_blank" rel="noopener">plan-content-evidence-document.pdf</a></li></ul>' } if data['plan-content-evidence-upload-complete']
            else { html: '<span class="govuk-hint">Not added</span>' }
        }

      ]
    }) }}

  </div>
</div>

{% endblock %}
