{% extends "layouts/front-office-v2.html" %}
{% set errorStatus = data['error'] %}
{% set resubmission = data['resubmission'] %}
{% from "macros/multi-file-upload.njk" import uploadArea %}

{% block pageTitle %} Application details – {{ serviceName }}
{% endblock %}

{% set prototypeLinks =
[
{
href: 'application-details?error=true',
text: 'Error message'
},
{
href: 'application-declaration',
text: 'Skip to declaration'
},
{
href: 'application-submission-success',
text: 'Skip to confirmation'
}
]
%}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/projects/front-office/plan-details/v3/plan-details?status=in-progress&stage=gateway-3&report="
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="app-header">
      <h1 class="govuk-heading-xl app-header__title">
        <span class="govuk-caption-xl">East Borough Local Plan</span>
        Gateway 3 submission 3
      </h1>
      {% if decision == 'go' %}
      <strong class="govuk-tag app-header__tag">Completed</strong>
      {% else %}
      <strong class="govuk-tag govuk-tag--red app-header__tag">Resubmission required</strong>
      {% endif %}
    </div>
    {% set showSubmissionHistory = true %}
    {% include "./_includes/decision-metadata.njk" %}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break" />
    <p class="govuk-body"><a href="#">Save and come back later</a></p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

    <style>
      .app-task-list>li {
        position: relative;
      }

      .app-task-list__section .govuk-tag {
        position: absolute;
        top: 3px;
        right: 0;
      }

      .app-task-list .govuk-summary-list {
        border-top: 1px solid #b1b4b6;
      }

      .app-task-list .govuk-summary-list__key {
        width: 50%;
      }

      .app-task-list .govuk-summary-list__value {
        width: 40%;
      }

      .app-task-list .govuk-summary-list__actions {
        width: 10%;
      }

      .app-task-list__section {
        padding-right: 140px;
      }
    </style>


    <h2 class="app-task-list__section" id="optional-documents">
      New or updated documents
    </h2>
    <p class="govuk-body">Add any new documents or updated documents that are relevant to your resubmission as outlined in the inspector's report.</p>

    {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9',
    rows: [

    {
    key: { text: 'Documents' },
    value:
    { html: '<ul class="govuk-list govuk-list--bullet"><li><a href="#">new-document-1.pdf</a></li><li><a href="#">new-document-2.pdf</a></li><li><a href="#">new-document-3.pdf</a></li><li><a href="#">new-document-4.pdf</a></li><li><a href="#">new-document-5.pdf</a></li></ul>' } if data['resubmission-upload-complete']
    else { html: '<span class="govuk-hint">Not added</span>' },
    actions: { items: [
    { href: 'supplementary-documents/resubmission-upload?cya=true', html: 'Change', visuallyHiddenText: 'resubmission documents' } if data['resubmission-upload-complete']
    else { href: 'supplementary-documents/resubmission-upload', html: 'Add', visuallyHiddenText: 'resubmission documents' }
    ]}
    }
    ]
    }) }}

    {{ govukButton({
    text: "Submit",
    href: "application-declaration"
    }) }}


  </div>
</div>

{% endblock %}