{% extends "layouts/back-office.html" %}


{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/projects/back-office/create-case/v1/0-case-officer-name" method="POST" novalidate="">
      <input type="hidden" name="_csrf" value="">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="caseOfficer">
            Case officer
          </label>
        </h1>
        <select class="govuk-select govuk-!-width-two-thirds" id="caseOfficer" name="caseOfficer">
          <option value="" selected disabled>Select an option</option>
          <option value="Case officer 1">Case officer 1</option>
          <option value="Case officer 2">Case officer 2</option>
          <option value="Case officer 3">Case officer 3</option>
          <option value="Case officer 4">Case officer 4</option>
          <option value="Case officer 5">Case officer 5</option>
          <option value="Case officer 6">Case officer 6</option>
          <option value="Case officer 7">Case officer 7</option>
          <option value="Case officer 8">Case officer 8</option>
        </select>
      </div>
      <div class="govuk-form-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>

      </form>



      {% endblock %}
      {% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
  
