
{% extends "layouts/back-office.html" %}

{% block pageTitle %}
	What is the plan band? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
	{{ govukBackLink({
		text: "Back",
		href: returnUrl or "javascript:window.history.back()"
	}) }}
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">What is the plan band?</h1>
			<form class="form" method="post" action="/projects/back-office/manage/overview/v1/plan-band">
				<input type="hidden" name="isEdit" value="{{ isEdit }}">
				<input type="hidden" name="returnUrl" value="{{ returnUrl }}">
				{{ govukRadios({
					items: [
						{
							value: "1",
							text: "1",
							checked: planBand == "1"
						},
						{
							value: "2",
							text: "2",
							checked: planBand == "2"
						},
						{
							value: "3",
							text: "3",
							checked: planBand == "3"
						}
					],
					name: "plan-band"
				}) }}
			<div class="govuk-button-group">
				<button class="govuk-button" data-module="govuk-button" type="submit">Save and continue</button>
				<a href="{{ returnUrl or '/projects/back-office/manage/overview/v1/plan-band.html' }}" class="govuk-link">Cancel</a>
			</div>
			</form>
		</div>
	</div>
{% endblock %}
