{% extends "layouts/back-office.html" %}

{% block pageTitle %}
	Fact Check due date – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
	{{ govukBackLink({
		text: "Back",
		href: returnUrl or "javascript:window.history.back()"
	}) }}
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">Fact Check due date</h1>
			<form class="form" method="post" action="/projects/back-office/manage/examination/fact-check-due-date">
				<input type="hidden" name="isEdit" value="{{ isEdit }}">
				<input type="hidden" name="returnUrl" value="{{ returnUrl }}">
				{% set dateParts = factCheckDueDate.split('/') if factCheckDueDate else ['', '', ''] %}
				<fieldset class="govuk-fieldset govuk-!-margin-bottom-2" role="group" aria-describedby="fact-check-due-date-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<span class="govuk-visually-hidden">Fact check due date</span>
					</legend>
					<div class="govuk-date-input" id="fact-check-due-date">
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="fact-check-due-date-day">Day</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="fact-check-due-date-day" name="fact-check-due-date-day" type="text" inputmode="numeric" value="{{ dateParts[0] }}">
							</div>
						</div>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="fact-check-due-date-month">Month</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="fact-check-due-date-month" name="fact-check-due-date-month" type="text" inputmode="numeric" value="{{ dateParts[1] }}">
							</div>
						</div>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="fact-check-due-date-year">Year</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="fact-check-due-date-year" name="fact-check-due-date-year" type="text" inputmode="numeric" value="{{ dateParts[2] }}">
							</div>
						</div>
					</div>
				</fieldset>
				<button class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">Save and continue</button>
				<a href="{{ returnUrl or '/projects/back-office/manage/examination.html' }}" class="govuk-button govuk-button--secondary govuk-!-margin-right-2" role="button">Cancel</a>
			</form>
		</div>
	</div>
{% endblock %}
