{% extends "layouts/front-office.html" %}

{% block pageTitle %} Home – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Southampton City Council</span>
    <h1 class="govuk-heading-xl">My plans</h1>

    {{ govukTable({
      firstCellIsHeader: false,
      head: [
        {
          text: "Reference number"
        },
        {
          text: "Lead local planning authority"
        },
        {
          text: "Plan title"
        },
        {
          text: "Type"
        },
        {
          text: "Current stage"
        },
        {
          text: "Status"
        }
      ],
      rows: [
      [
          {
            html: '<b><a href="/projects/front-office/plan-details/v1/plan-details">PLAN/000005</a></b>'
          },
          {
          text: "Southampton City Council"
        },
          {
            text: "East Borough Local Plan"
          },
          {
            text: "Local Plan"
          },
          {
            text: "Gateway 2"
          },
        {
          html: '<strong class="govuk-tag govuk-tag--green">Ready to start</strong>'
        }
        ],
        [
          {
            html: '<b><a href="#">PLAN/000004</a></b>'
          },
          {
          text: "Southampton City Council"
        },
          {
            text: "West End Local Plan"
          },
          {
            text: "Local Plan"
          },
          {
            text: "Gateway 2"
          },
        {
          html: '<strong class="govuk-tag govuk-tag--teal">In progress</strong>'
        }
        ],
      [
          {
            html: '<b><a href="#">PLAN/000003</a></b>'
          },
          {
          text: "Southampton City Council"
        },
          {
            text: "Southside Local Plan"
          },
          {
            text: "Local Plan"
          },
          {
            text: "Gateway 3"
          },
        {
          html: '<strong class="govuk-tag govuk-tag--blue">With case officer</strong>'
        }
        ],
      [
          {
            html: '<b><a href="#">PLAN/000002</a></b>'
          },
          {
          text: "Southampton City Council"
        },
          {
            text: "	North District Local Plan"
          },
          {
            text: "Local Plan"
          },
          {
            text: "Gateway 3"
          },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Invalid</strong>'
        }
        ],
        [
          {
            html: '<b><a href="#">PLAN/000001</a></b>'
          },
          {
          text: "Southampton City Council"
        },
          {
            text: "Central City Local Plan"
          },
          {
            text: "Local Plan"
          },
          {
            text: "Examination"
          },
        {
          html: '<div class="govuk-task-list__status">
      Completed
    </div>'
        }
        ]
      ]
    }) }}
  </div>


</div>

{% endblock %}