{% extends "layouts/front-office.html" %}

{% block pageTitle %} Home – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "homepage"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Submit local plans 2026</h1>
    <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua.</p>

      <p class="govuk-body"><a href="#" class="govuk-link">See submission guidance here</a></p>

      
  </div>


</div>

{% endblock %}