{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/input/macro.njk" import govukInput %}

<!-- // Error summary -->

    <!-- <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#">Error summary</a>
            </li>
          </ul>
        </div>
      </div>
    </div> -->

<!-- // Error message -->

    <!-- <div class="govuk-form-group govuk-form-group--error">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="event-name">
          What is your email address?
        </label>
      </h1>
      <p id="email-address-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Error message
      </p>
      <input class="govuk-input govuk-!-width-two-thirds govuk-input--error" id="two-thirds" name="twoThirds" type="text">
    </div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/tasklist" method="post">
        {{ govukButton({
          text: "Continue"
        }) }}
    </form>
    </div>
</div> -->

<!-- // Happy path -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/portal/email-address" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="event-name">
            What is your email address?
          </label>
        </h1>
        <input class="govuk-input govuk-!-width-two-thirds" id="event-name" name="email" type="text">
      </div>

      <div class="govuk-form-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>

      </form>
    </div>
</div>

    
{% endblock %}
  {% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
  