{% extends "layouts/back-office.html" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  Check contact details – {{ serviceName }} 
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<style>
  .contact-list-summary .govuk-summary-list__key {
    width: 20%;
  }

  .contact-list-summary .govuk-summary-list__value {
    width: 50%;
    white-space: normal;
  }

  .contact-list-summary .govuk-summary-list__actions {
    width: 30%;
  }
</style>

{% set totalContacts = (1 if mainContact else 0) + (contacts.length if contacts else 0) %}
{% set additionalContactsCount = contacts.length if contacts else 0 %}

<h1 class="govuk-heading-xl">You have added {{ totalContacts }} contact{% if totalContacts != 1 %}s{% endif %}</h1>

{% if error %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: error,
        href: "#add-another-contact"
      }
    ]
  }) }}
{% endif %}

<div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
  <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short contact-list-summary">
    {%- if mainContact -%}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
          Main contact
        </dt>
        <dd class="govuk-summary-list__value">
          <div>{{ mainContact.firstName }} {{ mainContact.lastName }}</div>
          <div class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-0">{{ mainContact.email }}</div>
          <div class="govuk-hint govuk-!-margin-bottom-0">{{ mainContact.phone or 'Phone not provided' }}</div>
          <div class="govuk-hint govuk-!-margin-bottom-0">{{ mainContact.organisation or 'LPA not provided' }}</div>
        </dd>
        <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="/projects/back-office/create-case/v4/main-contact?edit=true&from=check-contact-details">Change<span class="govuk-visually-hidden"> {{ mainContact.firstName }} {{ mainContact.lastName }}</span></a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="/projects/back-office/create-case/v4/remove-contact-details-page?type=main">Remove<span class="govuk-visually-hidden"> {{ mainContact.firstName }} {{ mainContact.lastName }} from the list</span></a>
            </li>
          </ul>
        </dd>
      </div>
    {%- endif -%}

    {%- if contacts -%}
      {%- for contact in contacts -%}
        {%- if contact.firstName or contact.lastName or contact.email -%}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              Additional contact{% if additionalContactsCount > 1 %} {{ loop.index }}{% endif %}
            </dt>
            <dd class="govuk-summary-list__value">
              <div>{{ contact.firstName }} {{ contact.lastName }}</div>
              <div class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-0">{{ contact.email }}</div>
              <div class="govuk-hint govuk-!-margin-bottom-0">{{ contact.phone or 'Phone not provided' }}</div>
              <div class="govuk-hint govuk-!-margin-bottom-0">{{ contact.organisation or 'LPA not provided' }}</div>
            </dd>
            <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="/projects/back-office/create-case/v4/additional-contact?edit={{ loop.index0 }}&from=check-contact-details">Change<span class="govuk-visually-hidden"> {{ contact.firstName }} {{ contact.lastName }}</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="/projects/back-office/create-case/v4/remove-contact-details-page?edit={{ loop.index0 }}">Remove<span class="govuk-visually-hidden"> {{ contact.firstName }} {{ contact.lastName }} from the list</span></a>
                </li>
              </ul>
            </dd>
          </div>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  </dl>
</div>

<form method="post" action="/projects/back-office/create-case/v4/check-contact-details" novalidate>
  <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset" aria-describedby="add-another-hint{% if error %} add-another-contact-error{% endif %}">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        Do you need to add another contact?
      </legend>
      <div id="add-another-hint" class="govuk-hint">
        You must tell us about all your contacts.
      </div>

      {% if error %}
        <p id="add-another-contact-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ error }}
        </p>
      {% endif %}

      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios" id="add-another-contact">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another-contact-yes" name="addAnotherContact" type="radio" value="yes" {% if addAnotherContact == 'yes' %}checked{% endif %}>
          <label class="govuk-label govuk-radios__label" for="add-another-contact-yes">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another-contact-no" name="addAnotherContact" type="radio" value="no" {% if addAnotherContact == 'no' %}checked{% endif %}>
          <label class="govuk-label govuk-radios__label" for="add-another-contact-no">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  {{ govukButton({ text: 'Continue' }) }}
</form>
{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}