{% extends "layouts/back-office.html" %}

{% block pageTitle %}
Plan timetable – {{ serviceName }}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <span class="govuk-caption-l">{{ caseRef or 'PLAN/000001' }}</span>
	<h1 class="govuk-heading-l">{{ planTitle or '-' }}</h1>
	{{govukTag({
      text: "New",
      classes: "govuk-tag--turquoise"
    })}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav class="x-govuk-secondary-navigation app-secondary-nav govuk-!-margin-top-6 govuk-!-margin-bottom-6" aria-label="Secondary menu">
        <ul class="x-govuk-secondary-navigation__list">
    <li class="x-govuk-secondary-navigation__list-item">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/overview/v1/index">
        Overview
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/timetable/v1/timetable.html" aria-current="page">
        Timetable
      </a>
    </li>  
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/GW1/v1/gateway-1">
        Gateway 1
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/GW2/v1/gateway-2">
        Gateway 2
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/GW3/v1/gateway-3">
        Gateway 3
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/examination/v1/examination">
        Examination
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/documents/v1/documents">
        Documents
      </a>
    </li>
    <li class="x-govuk-secondary-navigation__list-item ">
      <a class="x-govuk-secondary-navigation__link" href="/projects/back-office/manage/updates/v1/updates.html">
        Updates
      </a>
    </li>
        </ul>
      </nav>
    </div>
  </div>

  

      <h2 class="govuk-heading-m">Timetable</h2>
      <dl class="govuk-summary-list govuk-summary-list-timetable">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Notice of Intention publish date</dt>
          <dd class="govuk-summary-list__value">{{ noticeOfIntentionDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/overview/v1/change-notice-date.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden"> Notice of Intention date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 1 estimated date</dt>
          <dd class="govuk-summary-list__value">{{ gateway1EstimatedDate }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW1/v1/gateway-1-estimated.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden"> Gateway 1 Estimated Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 1 actual date</dt>
          <dd class="govuk-summary-list__value">{{ gateway1ActualDate }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW1/v1/gateway-1-actual.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden"> Gateway 1 Actual Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">SLA sent date</dt>
          <dd class="govuk-summary-list__value">{{ gateway1SlaSentDate }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW1/v1/gateway-1-sla-sent.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden"> Date SLA Sent to LPA</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">SLA received date</dt>
          <dd class="govuk-summary-list__value">{{ gateway1SlaReceivedDate }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW1/v1/gateway-1-sla-received.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden"> Date SLA Received from LPA</span></a>
          </dd>
        </div>
        
        </dl>
        <h2 class="govuk-heading-m">Gateway 2</h2>
      <dl class="govuk-summary-list govuk-summary-list-timetable">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 2 estimated date</dt>
          <dd class="govuk-summary-list__value">{{ gateway2EstimatedDate }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW2/v1/gateway-2-estimated.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden"> Gateway 2 Estimated Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 2 actual date</dt>
          <dd class="govuk-summary-list__value">{{ gateway2ActualDate }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW2/v1/gateway-2-actual.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden"> Gateway 2 Actual Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 2 valid date</dt>
          <dd class="govuk-summary-list__value">{{ gateway2ValidDate }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW2/v1/gateway-2-valid.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden"> Gateway 2 Valid Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 2 dates for workshop</dt>
          <dd class="govuk-summary-list__value">{{ gateway2WorkshopDate }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW2/v1/gateway-2-workshop-date.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden"> Gateway 2 Dates for Workshop</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 2 assessor date of appointment</dt>
          <dd class="govuk-summary-list__value">{{ gateway2AssessorAppointmentDate }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW2/v1/gateway-2-assessor-appointment.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden"> Gateway 2 Assessor Date of Appointment</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 2 report issued date</dt>
          <dd class="govuk-summary-list__value">{{ gateway2ReportIssuedDate }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW2/v1/gateway-2-report-issued.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden"> Gateway 2 Report Issued Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 2 report published by LPA date</dt>
          <dd class="govuk-summary-list__value">{{ gateway2ReportPublishedDate }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW2/v1/gateway-2-report-published.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden"> Gateway 2 Report Published by LPA Date</span></a>
          </dd>
        </div>
        </dl>
        <h2 class="govuk-heading-m">Gateway 3</h2>
      <dl class="govuk-summary-list govuk-summary-list-timetable">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Estimated submission date for examination</dt>
          <dd class="govuk-summary-list__value">{{ gateway3EstimatedDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW3/v1/gateway-3-estimated.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Estimated Submission Date for Examination</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 3 actual date</dt>
          <dd class="govuk-summary-list__value">{{ gateway3ActualDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW3/v1/gateway-3-actual.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Submission for Examination date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 3 assessor date of appointment</dt>
          <dd class="govuk-summary-list__value">{{ gateway3AssessorAppointmentDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW3/v1/gateway-3-assessor-appointment.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden"> Gateway 3 Assessor Date of Appointment</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Gateway 3 completion date</dt>
          <dd class="govuk-summary-list__value">{{ gateway3CompletionDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW3/v1/gateway-3-completion-date.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden"> Gateway 3 Completion Date</span></a>
          </dd>
        </div>
      </dl>
    <h2 class="govuk-heading-m">Examination</h2>
      <dl class="govuk-summary-list govuk-summary-list-timetable">
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Estimated submission date</dt>
          <dd class="govuk-summary-list__value">{{ examinationEstimatedDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/examination-estimated.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Estimated Submission Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Actual submission date</dt>
          <dd class="govuk-summary-list__value">{{ examinationActualDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/examination-actual.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Actual Submission Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Examining Inspector appointment date</dt>
          <dd class="govuk-summary-list__value">{{ examiningInspectorAppointmentDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/examining-inspector-date.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Examining Inspector Appointment Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Hearing start date</dt>
          <dd class="govuk-summary-list__value">{{ hearingStartDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/hearing-start-date.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Hearing Start Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Further hearing dates</dt>
          <dd class="govuk-summary-list__value">{{ furtherHearingDates or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/further-hearing-dates.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Further Hearing Dates</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Hearing close date</dt>
          <dd class="govuk-summary-list__value">{{ hearingCloseDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/hearing-close-date.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Hearing Close Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Letter sent to MHCLG date</dt>
          <dd class="govuk-summary-list__value">{{ letterSentToMhclgDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/letter-sent-to-mhclg-date.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Letter Sent to MHCLG Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Letter issue date</dt>
          <dd class="govuk-summary-list__value">{{ letterIssueDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/letter-issue-date.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Letter Issue Date</span></a>
          </dd>
        </div>
        </dl>
         <h2 class="govuk-heading-m">QA</h2>
         <dl class="govuk-summary-list govuk-summary-list-timetable">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">QA date</dt>
          <dd class="govuk-summary-list__value">{{ qaDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/qa-date.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">QA Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Sent to panel date</dt>
          <dd class="govuk-summary-list__value">{{ qaReportSentDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/QA-sent-to-panel-date.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Sent to Panel Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">QA panel response sent to Inspector</dt>
          <dd class="govuk-summary-list__value">{{ qaPanelResponseDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/QA-panel-response-sent-date.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">QA Panel Response Sent to Inspector</span></a>
          </dd>
        </div>
        </dl>
            <h2 class="govuk-heading-m">Fact Check</h2>
            <dl class="govuk-summary-list govuk-summary-list-timetable">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Fact Check date received from Inspector</dt>
          <dd class="govuk-summary-list__value">{{ factCheckReceivedDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/fact-check-received-from-inspector.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Fact Check Date Received from Inspector</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Fact Check due date</dt>
          <dd class="govuk-summary-list__value">{{ factCheckDueDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/fact-check-due-date.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Fact Check Due Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Fact Check actual date</dt>
          <dd class="govuk-summary-list__value">{{ factCheckActualDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/fact-check-actual-date.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Fact Check Actual Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Fact Check received back from LPA</dt>
          <dd class="govuk-summary-list__value">{{ factCheckReceivedFromLpaDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/fact-check-received-back-from-lpa.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Fact Check Received Back from LPA</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Final report issue date</dt>
          <dd class="govuk-summary-list__value">{{ finalReportIssueDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/final-report-issue-date.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Final report issue date</span></a>          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Plan pause date</dt>
          <dd class="govuk-summary-list__value">{{ planPauseDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/plan-pause.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Plan Pause Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Plan pause end date</dt>
          <dd class="govuk-summary-list__value">{{ planPauseEndDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/plan-pause-end.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Plan Pause End Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Withdrawn date</dt>
          <dd class="govuk-summary-list__value">{{ withdrawnDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/withdrawn-date.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Withdrawn Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Sound/Unsound</dt>
          <dd class="govuk-summary-list__value">{{ planSoundness or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/sound-unsound.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Sound/Unsound</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Sound/Unsound date</dt>
          <dd class="govuk-summary-list__value">{{ soundUnsoundDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/sound-unsound-date.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Sound/Unsound Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Adoption date</dt>
          <dd class="govuk-summary-list__value">{{ adoptionDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/adoption-date.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Adoption Date</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Approved for CIL date</dt>
          <dd class="govuk-summary-list__value">{{ approvedForCilDate or '-' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/examination/v1/approved-for-CIL-date.html?returnUrl=/projects/back-office/manage/timetable/v1/timetable.html">Change<span class="govuk-visually-hidden">Approved for CIL Date</span></a>
          </dd>
        </div>
        </dl>

    </div>
  </div>



{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}