
{% extends "layouts/front-office.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Your documents</span>
  <h1 class="govuk-heading-l">Document section</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
If the files did not upload successfully or you want to change them, first remove them from the list and upload them again.
  </div>
</div>


<table class="govuk-table govuk-table--small-text-until-tablet">
  <caption class="govuk-table__caption govuk-table__caption--m">Uploaded files</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">File</th>
      <th scope="col" class="govuk-table__header">Type</th>
      <!-- <th scope="col" class="govuk-table__header">Date uploaded</th> -->
      <th scope="col" class="govuk-table__header">Virus check status</th>
      <th scope="col" class="govuk-table__header"> </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="/uploads/LocalPlanTimetable2.pdf" target="_blank" rel="noopener">
          LocalPlanTimetable1.pdf
        </a>
      </th>
      <td class="govuk-table__cell">Local Plan Timetable</td>
      <!-- <td class="govuk-table__cell">5(2)(b)</td>
      <td class="govuk-table__cell">Certified</td> -->
      <!-- <td class="govuk-table__cell">13/10/2025 11:30</td> -->
      <td class="govuk-table__cell">
        <p class="govuk-grid-column-full govuk-tag govuk-tag--green"><b>Passed</b></p>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> LocalPlanTimetable1.pdf</span></a>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="/uploads/LocalPlanTimetable2.pdf" target="_blank" rel="noopener">
          LocalPlanTimetable2.pdf
        </a>
      </th>
      <td class="govuk-table__cell">Local Plan Timetable</td>
      <!-- <td class="govuk-table__cell">5(2)(b)</td>
      <td class="govuk-table__cell">Certified</td> -->
      <!-- <td class="govuk-table__cell">13/10/2025 11:30</td> -->
      <td class="govuk-table__cell">
        <p class="govuk-grid-column-full govuk-tag govuk-tag--green"><b>Passed</b></p>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> LocalPlanTimetable2.pdf</span></a>
      </td>
    </tr>

    </tbody>
</table>
<div class="govuk-!-padding-top-6 govuk-!-padding-bottom-6"> 
  <h2 class="govuk-heading-m">You must remove these files</h2>
  <p class="govuk-body">No files to remove.</p>
  <p> </p>
</div>

  {{ govukButton({
    text: "Continue",
    href: "document-upload-confirm"
  }) }}

  </div>
</div>


{% endblock %}
