{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/local-plan-representations/agent-person" method="POST" novalidate="">
        

  {{ govukRadios({
    name: "agent-person",
    fieldset: {
      legend: {
        text: "Are you acting as an agent on behalf of a client?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "Yes",
        text: "Yes"
      },
      {
        value: "No",
        text: "No"
      }
    ]
  }) }}

      <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
       </button>
      </form>
    </div>
  </div>


</main>
{% endblock %}