{% extends "layouts/front-office.html" %}

{% block pageTitle %} Application details – {{ serviceName }} 
{% endblock %}

{% set prototypeLinks =
  [
    {
      href: 'application-review',
      text: 'Skip to check answers'
    },
    {
      href: 'application-submission-success',
      text: 'Skip to declaration'
    }
  ]
%}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">
 
{% include "includes/front-office/application-metadata.njk" %}



{{ govukTaskList({
  idPrefix: "application-details",
  items: [
    {
      title: {
        text: "Procedural documents"
      },
      href: "#",
      status: {
        text: "Completed"
      }
    },
    {
      title: {
        text: "Consultation documents"
      },
      href: "#",
      status: {
        tag: {
          text: "Not started",
          classes: "govuk-tag--grey"
        }
      }
    },
    {
      title: {
        text: "Accept declaration and submit"
      },
      href: "#",
      status: {
        tag: {
          text: "Cannot start yet",
          classes: "govuk-tag--grey"
        }
      }
    }
  ]
}) }}

  </div>
</div>

{% endblock %}

{% block footer %}
  {% include "includes/front-office/footer.njk" %}
{% endblock %}

