{% extends "layouts/front-office.html" %}

{% block pageTitle %}
  Upload supplementary documents – {{ serviceName }}
{% endblock %}

{% from "includes/multidocumentupload.njk" import multiDocumentUpload %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "supplementary-check"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">

      {% set venueHtml %}
{{ govukInput({
  id: "contact-by-email",
  name: "contactByEmail",
  type: "email",
  autocomplete: "email",
  spellcheck: false,
  classes: "govuk-!-width-one-half",
  label: {
    text: "Name the suggested venue"
  }
}) }}
{% endset -%}

{{ govukRadios({
  name: "workshopVenue",
  fieldset: {
    legend: {
      text: "How would you like to hold the gateway 2 workshop?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Virtual",
      text: "Virtual"
    },
    {
      value: "In-person",
      text: "In-person",
      conditional: {
        html: venueHtml
      }
    },
        {
      value: "nopreference",
      text: "No preference"
    }
  ]
}) }}

      {{ govukButton({ text: "Continue" }) }}

      <p class="govuk-body">
        <a class="govuk-link" href="../application-details">Return to your submission</a>
      </p>
    </form>
  </div>
</div>
{% endblock %}