{% extends "layouts/front-office.html" %}

{% block pageTitle %}
  Upload supplementary documents – {{ serviceName }}
{% endblock %}

{% from "includes/multidocumentupload.njk" import multiDocumentUpload %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "supplementary-check"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">

      {{ govukTextarea({
  name: "workshopDetail",
  id: "workshop-detail",
  label: {
    text: "What dates would you like to suggest for your gateway 2 workshop?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Give 2 to 3 options if possible, in case your first choice isn't available"
  }
}) }}

      {{ govukButton({ text: "Save and return" }) }}

      <p class="govuk-body">
        <a class="govuk-link" href="../application-details">Return to your submission</a>
      </p>
    </form>
  </div>
</div>
{% endblock %}