<style>
  .app-header {
    margin-bottom: 20px;
  }

  .app-header__title {
    margin-bottom: 5px;
  }

  .app-header__tag {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .app-details .govuk-summary-list__key,
  .app-details .govuk-summary-list__value {
    padding-top: 6px;
    padding-bottom: 6px;
  }
</style>

{% set isCompleted = (query['status'] or data['status']) == 'completed' %}

<div class="app-header">
  <h1 class="govuk-heading-xl app-header__title">
    <span class="govuk-caption-xl">East Borough Local Plan</span>
    Examination submission
  </h1>
  {% if isCompleted %}
    <strong class="govuk-tag app-header__tag">
      Completed
    </strong>
  {% endif %}
</div>

  {% set miq %}
    <ul class="govuk-list">
      <li><a class="govuk-link" href="#">matters-issues-questions.pdf</a> (shared on 8 May 2026)</li>
    </ul>
  {% endset %}

  {% set examinationReport %}
    <ul class="govuk-list">
      <li><a class="govuk-link" href="#">examination-report.pdf</a> (shared on 30 May 2026)</li>
      <li><a class="govuk-link" href="#">main-modifications.pdf</a> (shared on 30 May 2026)</li>
    </ul>
  {% endset %}

{{ govukSummaryList({
  classes: "app-details govuk-summary-list--no-border",
  rows: [
    {
      key: { text: "Matters, issues and questions", classes: "govuk-!-width-one-third" },
      value: { html: miq }
    },
    {
      key: { text: "Examination report" if isCompleted else "Final report", classes: "govuk-!-width-one-third" },
      value: { html: examinationReport if isCompleted else '<a class="govuk-link" href="#">final-report.pdf</a> (shared on 30 May 2026)' }
    }
  ]
}) }}
