{% extends "layouts/back-office.html" %}

{% block pageTitle %}
Gateway 2 overview – {{ serviceName }} 
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
        {% if notificationMessage %}
      <div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="gw2-upload-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="gw2-upload-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">{{ notificationMessage }}</p>
        </div>
      </div>
    {% endif %}
    {% include "includes/back-office/plan-header.njk" %}
     {% set currentSection = "gateway-2" %}
      {% include "includes/back-office/secondary-nav.njk" %}
   
      {% include "projects/back-office/manage/GW2/v4/partials/_gateway-summary.njk" %}
      {% include "projects/back-office/manage/GW2/v4/partials/_workshop-details.njk" %}
      {% include "projects/back-office/manage/GW2/v4/partials/_workshop-documents.njk" %}
      <br>
      <br>
      
      
   
        <!--
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Plan status</dt>
          <dd class="govuk-summary-list__value">{{ gateway2PlanStatus if gateway2PlanStatus and gateway2PlanStatus != '-' else 'Not provided' }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/projects/back-office/manage/GW2/v2/gateway-2-plan-status.html?returnUrl=/projects/back-office/manage/GW2/v2/gateway-2.html">Change<span class="govuk-visually-hidden"> Gateway 2 Plan Status</span></a>
          </dd>
        </div> -->

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {% include "projects/back-office/manage/GW2/v4/partials/_workshop-preferences.njk" %}
    
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "projects/back-office/manage/GW2/v4/partials/_procedural-documents.njk" %}
      {% include "projects/back-office/manage/GW2/v4/partials/_consultation-documents.njk" %}
      {% include "projects/back-office/manage/GW2/v4/partials/_additional-documents.njk" %}
    </div>
    </div>
    </div>
{% endblock %}
{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}