{% extends "layouts/back-office.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Upload a new version - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/projects/back-office/manage/GW2/v4/document/" ~ document.id
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">{{ caseRef or 'PLAN/000001' }}</span>
    <h1 class="govuk-heading-l">Upload a new version</h1>

    <p class="govuk-body">Document: {{ document.title }}</p>
    <p class="govuk-body">This will create version {{ nextVersionNumber }} for this document.</p>

    <form method="post" action="/projects/back-office/manage/GW2/v4/document/{{ document.id }}/upload-new-version" novalidate>
      {{ govukInput({
        label: {
          text: "File name"
        },
        id: "fileName",
        name: "fileName",
        value: values.fileName,
        errorMessage: {
          text: errors.fileName
        } if errors and errors.fileName
      }) }}

      {{ govukButton({
        text: "Upload version"
      }) }}
    </form>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
