<style>
  .app-header {
    margin-bottom: 20px;
  }

  .app-header__title {
    margin-bottom: 5px;
  }

  .app-header__tag {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .app-details .govuk-summary-list__key,
  .app-details .govuk-summary-list__value {
    padding-top: 6px;
    padding-bottom: 6px;
  }
</style>

<div class="app-header">
  <h1 class="govuk-heading-xl app-header__title">
    <span class="govuk-caption-xl">East Borough local plan</span>
    Gateway 2 submission
  </h1>
  {% if data['procedural-started'] == 'true' %}
    <strong class="govuk-tag govuk-tag--teal app-header__tag">
      In progress
    </strong>
  {% else %}
    <strong class="govuk-tag govuk-tag--green app-header__tag">
      Ready to start
    </strong>
  {% endif %}
</div>


{% call govukInsetText() %}
  <p class="govuk-body">Gateway 2 is an important step in the development of your local plan. It gives you the opportunity to share your work and get guidance from the Planning Inspectorate.</p>

  <p class="govuk-body">You have provided the expected submission date of 25 April 2026. The assessment usually takes between 4 and 6 weeks from submission.</p>

  <p class="govuk-body">If you'd like to change your expected submission date, send an email to
    <a href="mailto:support@planninginspectorate.gov.uk" class="govuk-link">support@planninginspectorate.gov.uk</a>.</p>
{% endcall %}
