{% extends "layouts/front-office-v2.html" %}
{% set back = false %}

{% block pageTitle %}
Home – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl">
      East Borough District Council
    </span>

    <h1 class="govuk-heading-xl">
      My plans
    </h1>

{{ govukTable({
  firstCellIsHeader: true,
  head: [
    {
      text: "Plan reference"
    },
    {
    text: "Plan title"
    },
    {
    text: "Plan type"
    }
  ],
  rows: [
    [
      {
 html: '<a href="/projects/front-office/plan-details/v2/plan-details?status=ready">PLAN/000006</a>'      },
      {
        text: "East Borough Local Plan"
      },
      {
        text: "Local Plan"
      }
    ],
    [
      {
            html: '<a href="#">PLAN/000005</a>'
      },
      {
        text: "Southampton Spatial Development Strategy"
      },
      {
        text: "Spatial Development Strategy"
      }
    ]
  ]
}) }}           


  </div>

</div>

{% endblock %}