{% extends "layouts/back-office.html" %}

{% block pageTitle %}
  Check contact details – {{ serviceName }} 
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Case contact details</h1>

<p>
<a href="/projects/back-office/create-case/v3/additional-contact" class="govuk-body govuk-link">Add details<span class="govuk-visually-hidden"> for an additional contact</span></a>
</p>
<dl class="govuk-summary-list">
  {% if mainContact %}
    {% set mainContactLabel = (mainContact.firstName ~ ' ' ~ mainContact.lastName) | trim %}
    {% if not mainContactLabel %}
      {% set mainContactLabel = mainContact.email or 'main contact' %}
    {% endif %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="width: 25%;">
        Main contact
      </dt>
      <dd class="govuk-summary-list__value" style="width: 45%;">
        {{ mainContact.firstName }} {{ mainContact.lastName }}<br>
        {{ mainContact.email }}<br>
        {% if mainContact.phone %}{{ mainContact.phone }}<br>{% endif %}
      </dd>
      <dd class="govuk-summary-list__value"style="width: 20%;">
        {{ mainContact.organisation }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="/projects/back-office/create-case/v3/remove-contact-details-page?type=main">Remove<span class="govuk-visually-hidden"> {{ mainContactLabel }} from the list</span></a>
          </li>
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="/projects/back-office/create-case/v3/main-contact?edit=true&from=check-contact-details">Change<span class="govuk-visually-hidden"> {{ mainContactLabel }}</span></a>
          </li>
        </ul>
      </dd>
    </div>
  {% endif %}

  {% if contacts %}
    {% for contact in contacts %}
      {% if contact.firstName or contact.lastName or contact.email %}
      {% set contactLabel = (contact.firstName ~ ' ' ~ contact.lastName) | trim %}
      {% if not contactLabel %}
        {% set contactLabel = contact.email or ('additional contact ' ~ loop.index) %}
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width: 25%;">
          Additional contact 
        </dt>
        <dd class="govuk-summary-list__value" style="width: 45%;">
          {{ contact.firstName }} {{ contact.lastName }}<br>
          {{ contact.email }}<br>
          {% if contact.phone %}{{ contact.phone }}<br>{% endif %}
        </dd>
        <dd class="govuk-summary-list__value" style="width: 20%;">
          {{ contact.organisation or 'Not provided' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="/projects/back-office/create-case/v3/remove-contact-details-page?edit={{ loop.index0 }}">Remove<span class="govuk-visually-hidden"> {{ contactLabel }} from the list</span></a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="/projects/back-office/create-case/v3/additional-contact?edit={{ loop.index0 }}&from=check-contact-details">Change<span class="govuk-visually-hidden"> {{ contactLabel }}</span></a>
            </li>
          </ul>
        </dd>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</dl>

<a href="/projects/back-office/create-case/v3/enter-key-dates" class="govuk-button">Continue<span class="govuk-visually-hidden"> to key dates</span></a>
{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}