{% extends "layouts/back-office.html" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  Enter dates for key stages of the local plan – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
    
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{% if isEdit %}Enter the dates for key stages of the local plan{% else %}Enter dates for key stages of the local plan{% endif %}</h1>

                {% if errorList and errorList.length %}
                    {{ govukErrorSummary({
                        titleText: "There is a problem",
                        errorList: errorList
                    }) }}
                {% endif %}

        <form class="form" method="post" action="/projects/back-office/create-case/v3/enter-key-dates">
            <input type="hidden" name="isEdit" value="{{ isEdit }}">
            
            {% set noticeOfIntentionParts = noticeOfIntentionDate.split('/') if noticeOfIntentionDate else ['', '', ''] %}
                        <div class="govuk-form-group govuk-!-margin-bottom-2 {% if errors and errors.noticeOfIntentionDate %}govuk-form-group--error{% endif %}">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="notice-of-intention-hint{% if errors and errors.noticeOfIntentionDate %} notice-of-intention-error{% endif %}">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Notice of Intention to Commence Local Plan Preparation</legend>
                                <div id="notice-of-intention-hint" class="govuk-hint">For example, 27 3 2007</div>
                                {% if errors and errors.noticeOfIntentionDate %}
                                    <p id="notice-of-intention-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span> {{ errors.noticeOfIntentionDate }}
                                    </p>
                                {% endif %}
                <div class="govuk-date-input" id="notice-of-intention-date">
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="notice-of-intention-date-day">Day</label>
                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors and errors.noticeOfIntentionDate %}govuk-input--error{% endif %}" id="notice-of-intention-date-day" name="notice-of-intention-date-day" type="text" inputmode="numeric" value="{{ noticeOfIntentionParts[0] }}">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="notice-of-intention-date-month">Month</label>
                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors and errors.noticeOfIntentionDate %}govuk-input--error{% endif %}" id="notice-of-intention-date-month" name="notice-of-intention-date-month" type="text" inputmode="numeric" value="{{ noticeOfIntentionParts[1] }}">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="notice-of-intention-date-year">Year</label>
                                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if errors and errors.noticeOfIntentionDate %}govuk-input--error{% endif %}" id="notice-of-intention-date-year" name="notice-of-intention-date-year" type="text" inputmode="numeric" value="{{ noticeOfIntentionParts[2] }}">
                        </div>
                    </div>
                </div>
            </fieldset>
                        </div>
            
            {% set gateway1Parts = gateway1Date.split('/') if gateway1Date else ['', '', ''] %}
                        <div class="govuk-form-group govuk-!-margin-bottom-2 {% if errors and errors.gateway1Date %}govuk-form-group--error{% endif %}">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="gateway-1-hint{% if errors and errors.gateway1Date %} gateway-1-error{% endif %}">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Gateway 1 estimated date</legend>
                                <div id="gateway-1-hint" class="govuk-hint">For example, 17 5 2026</div>
                                {% if errors and errors.gateway1Date %}
                                    <p id="gateway-1-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span> {{ errors.gateway1Date }}
                                    </p>
                                {% endif %}
                <div class="govuk-date-input" id="gateway-1-date">
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="gateway-1-date-day">Day</label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors and errors.gateway1Date %}govuk-input--error{% endif %}" id="gateway-1-date-day" name="gateway-1-date-day" type="text" inputmode="numeric" value="{{ gateway1Parts[0] }}">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="gateway-1-date-month">Month</label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors and errors.gateway1Date %}govuk-input--error{% endif %}" id="gateway-1-date-month" name="gateway-1-date-month" type="text" inputmode="numeric" value="{{ gateway1Parts[1] }}">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="gateway-1-date-year">Year</label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if errors and errors.gateway1Date %}govuk-input--error{% endif %}" id="gateway-1-date-year" name="gateway-1-date-year" type="text" inputmode="numeric" value="{{ gateway1Parts[2] }}">
                        </div>
                    </div>
                </div>
            </fieldset>
                        </div>
            
            {% set gateway2Parts = gateway2Date.split('/') if gateway2Date else ['', '', ''] %}
                        <div class="govuk-form-group govuk-!-margin-bottom-2 {% if errors and errors.gateway2Date %}govuk-form-group--error{% endif %}">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="gateway-2-hint{% if errors and errors.gateway2Date %} gateway-2-error{% endif %}">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Gateway 2 estimated date</legend>
                                <div id="gateway-2-hint" class="govuk-hint">For example, 17 5 2026</div>
                                {% if errors and errors.gateway2Date %}
                                    <p id="gateway-2-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span> {{ errors.gateway2Date }}
                                    </p>
                                {% endif %}
                <div class="govuk-date-input" id="gateway-2-date">
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="gateway-2-date-day">Day</label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors and errors.gateway2Date %}govuk-input--error{% endif %}" id="gateway-2-date-day" name="gateway-2-date-day" type="text" inputmode="numeric" value="{{ gateway2Parts[0] }}">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="gateway-2-date-month">Month</label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors and errors.gateway2Date %}govuk-input--error{% endif %}" id="gateway-2-date-month" name="gateway-2-date-month" type="text" inputmode="numeric" value="{{ gateway2Parts[1] }}">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="gateway-2-date-year">Year</label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if errors and errors.gateway2Date %}govuk-input--error{% endif %}" id="gateway-2-date-year" name="gateway-2-date-year" type="text" inputmode="numeric" value="{{ gateway2Parts[2] }}">
                        </div>
                    </div>
                </div>
            </fieldset>
                        </div>
            
            {% set gateway3Parts = gateway3Date.split('/') if gateway3Date else ['', '', ''] %}
                        <div class="govuk-form-group govuk-!-margin-bottom-2 {% if errors and errors.gateway3Date %}govuk-form-group--error{% endif %}">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="gateway-3-hint{% if errors and errors.gateway3Date %} gateway-3-error{% endif %}">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Gateway 3 estimated date</legend>
                                <div id="gateway-3-hint" class="govuk-hint">For example, 17 5 2026</div>
                                {% if errors and errors.gateway3Date %}
                                    <p id="gateway-3-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span> {{ errors.gateway3Date }}
                                    </p>
                                {% endif %}
                <div class="govuk-date-input" id="gateway-3-date">
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="gateway-3-date-day">Day</label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors and errors.gateway3Date %}govuk-input--error{% endif %}" id="gateway-3-date-day" name="gateway-3-date-day" type="text" inputmode="numeric" value="{{ gateway3Parts[0] }}">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="gateway-3-date-month">Month</label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors and errors.gateway3Date %}govuk-input--error{% endif %}" id="gateway-3-date-month" name="gateway-3-date-month" type="text" inputmode="numeric" value="{{ gateway3Parts[1] }}">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="gateway-3-date-year">Year</label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if errors and errors.gateway3Date %}govuk-input--error{% endif %}" id="gateway-3-date-year" name="gateway-3-date-year" type="text" inputmode="numeric" value="{{ gateway3Parts[2] }}">
                        </div>
                    </div>
                </div>
            </fieldset>
                        </div>
            
            {% set submissionParts = submissionDate.split('/') if submissionDate else ['', '', ''] %}
                        <div class="govuk-form-group govuk-!-margin-bottom-2 {% if errors and errors.submissionDate %}govuk-form-group--error{% endif %}">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="submission-hint{% if errors and errors.submissionDate %} submission-error{% endif %}">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Submission for examination estimated date</legend>
                                <div id="submission-hint" class="govuk-hint">For example, 17 5 2026</div>
                                {% if errors and errors.submissionDate %}
                                    <p id="submission-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span> {{ errors.submissionDate }}
                                    </p>
                                {% endif %}
                <div class="govuk-date-input" id="submission-date">
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="submission-date-day">Day</label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors and errors.submissionDate %}govuk-input--error{% endif %}" id="submission-date-day" name="submission-date-day" type="text" inputmode="numeric" value="{{ submissionParts[0] }}">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="submission-date-month">Month</label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors and errors.submissionDate %}govuk-input--error{% endif %}" id="submission-date-month" name="submission-date-month" type="text" inputmode="numeric" value="{{ submissionParts[1] }}">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="submission-date-year">Year</label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if errors and errors.submissionDate %}govuk-input--error{% endif %}" id="submission-date-year" name="submission-date-year" type="text" inputmode="numeric" value="{{ submissionParts[2] }}">
                        </div>
                    </div>
                </div>
            </fieldset>
            </div>
            
            <div class="govuk-button-group">
                 {% if isEdit %}
                {{ govukButton({
                text: "Save and continue"
                }) }}
                {% else %}
                {{ govukButton({
                text: "Continue"
                }) }}
                {% endif %}
                
                {% if isEdit %}
                <a href="/projects/back-office/create-case/v3/check-answers" class="govuk-link">Cancel</a>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
