{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %} {% from "govuk/components/input/macro.njk"
import govukInput %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<span class="govuk-caption-l">Your documents</span>
		<h1 class="govuk-heading-l">Document name/section</h1>
	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">
		<div class="govuk-!-padding-top-6">
			<h2 class="govuk-heading-m">Check your files:</h2>
		</div>

		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row--no-actions">
				<dt class="govuk-summary-list__key">Document type:</dt>
				<dd class="govuk-summary-list__value">Local Plan Timetable</dd>
				<dd class="govuk-summary-list__actions"></dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Document(s) added</dt>
				<dd class="govuk-summary-list__value">
					<ul class="govuk-list">
						<li>
							<a
								href="#"
								class="govuk-link--no-underline"
								target="_blank"
								rel="noopener noreferrer"
								>ApplicationCoverLetter1.pdf</a
							>
						</li>
					</ul>
				</dd>
				<dd class="govuk-summary-list__actions">
					<ul class="govuk-summary-list__actions-list">
						<li class="govuk-summary-list__actions-list-item">
							<a
								class="govuk-link"
								href="#"
								>Change</a
							>
						</li>
						<li class="govuk-summary-list__actions-list-item">
							<a
								class="govuk-link"
								href="#"
								>Remove</a
							>
						</li>
					</ul>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Document(s) added</dt>
				<dd class="govuk-summary-list__value">
					<ul class="govuk-list">
						<li>
							<a
								href="#"
								class="govuk-link--no-underline"
								target="_blank"
								rel="noopener noreferrer"
								title="Preview"
								>ApplicationCoverLetter2.pdf</a
							>
						</li>
					</ul>
				</dd>
				<dd class="govuk-summary-list__actions">
					<ul class="govuk-summary-list__actions-list">
						<li class="govuk-summary-list__actions-list-item">
							<a
								class="govuk-link"
								href="#"
								>Remove<span class="govuk-visually-hidden">
									contact details</span
								></a
							>
						</li>
						<li class="govuk-summary-list__actions-list-item">
							<a
								class="govuk-link"
								href="#"
								>Change<span class="govuk-visually-hidden">
									contact details</span
								></a
							>
						</li>
					</ul>
				</dd>
			</div>
		</dl>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<form
				class="form"
				action="/projects/front-office/document-category"
				method="post"
			>
				<div class="govuk-form-group">
					{{ govukButton({ text: "Confirm upload" }) }}
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
