{% extends "layouts/main.html" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}


{% block pageTitle %}
  Portal index – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  classes: "govuk-grid-column-full",
  navigation: [
    {
      href: "application-details",
      text: "Application details"
    },  
    {
      href: "account-settings",
      text: "Acccount settings"
    },
    {
      href: "#",
      text: "Manage users",
      active: true
    },
    {
      href: "#",
      text: "This menu should be included in the header."
    }
  ]
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) 
}}

{% endblock %}





{% block content %}
  <h1 class="govuk-heading-l">Account settings</h1>


<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half govuk-body">
  <h2 class="govuk-heading-m">Manage users</h2>
   <p class="govuk-body">Page for managing users</p>


    


   </div>
{% endblock %}

  {% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
  
