 <h2 class="govuk-heading-m">Assessment information</h2>

    {% set tab1Html %}

    <p class='govuk-body'>Gateway 2 is an advisory check. An assessor reviews your plan and provides
      observations to help resolve potential soundness issues early and progress towards meeting the prescribed
      requirements.</p>


    <h3 class='govuk-heading-s'>What you need for gateway 2</h3>
    <ul class='govuk-list govuk-list--bullet'>
      <li>Gateway 2 covering letter</li>
      <li>Local plan timetable</li>
      <li>Project initiation document (PID)</li>
      <li>Statement of Compliance (draft)</li>
      <li>Statement of Soundness (draft)</li>
      <li>Notice of Intention to commence preparation of your local plan</li>
      <li>Scoping consultation documents</li>
      <li>Consultation summary of feedback to scoping consultation</li>
      <li>Gateway 1 - Self Assessment of Readiness</li>
      <li>Consultation on proposed local plan content and evidence documents</li>
      <li>Consultation summary responses for proposed local plan content and evidence documents</li>
    </ul>

    {% endset -%}

    {% set tab2Html %}

    <p class='govuk-body'>Gateway 3 tests whether your proposed local plan has met the prescribed
      requirements and is ready to proceed to examination.</p>

      <p class='govuk-body'>Available after Gateway 2 is approved.</p>

    <h3 class='govuk-heading-s govuk-!-margin-top-4'>What you need for gateway 3</h3>
    <ul class='govuk-list govuk-list--bullet'>
      <li>Submission version of the plan</li>
      <li>Final compliance statement</li>
      <li>Final soundness statement</li>
      <li>Updated evidence base</li>
    </ul>

    {% endset -%}

    {% set tab3Html %}

    <p class='govuk-body'>Examination is carried out by an independent
      inspector who assesses the plan against the tests of soundness set out in national policy.
    </p>
    <p class='govuk-body'>Available after
      Gateway 3 is approved.

      {% endset -%}

      {{ govukTabs({
      items: [
      {
      label: "Gateway 2",
      id: "tab-1",
      panel: {
      html: tab1Html
      }
      },
      {
      label: "Gateway 3",
      id: "tab-2",
      panel: {
      html: tab2Html
      }
      },
      {
      label: "Examination",
      id: "tab-3",
      panel: {
      html: tab3Html
      }
      }
      ]
      }) }}
