{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="/local-plan-representations/email-address">
      <h1 class="govuk-heading-l">What is your name?</h1>

  <div class="govuk-form-group">
    <label class="govuk-label" for="interested-first-name">First name</label>
    <input class="govuk-input govuk-input--width-20" id="interested-first-name" name="interested-first-name" type="text" autocomplete="given-name">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="interested-last-name">Last name</label>
    <input class="govuk-input govuk-input--width-20" id="interested-last-name" name="interested-last-name" type="text" autocomplete="family-name">
  </div>

  {{ govukButton({
    text: "Continue"
  }) }}
</form>

  </div>
</div>
{% endblock %}