{% extends "layouts/front-office-v2.html" %}

{% block pageTitle %}
  Application details – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/projects/front-office/plan-details/v2/plan-details"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

    {{ govukNotificationBanner({
      html: "
        <h3 class='govuk-notification-banner__heading'>
          Your examination submission is with the Planning Inspectorate
        </h3>

        <p class='govuk-body'>
          You don't need to do anything right now. You will be notified by email if any action is required.
        </p>
      "
    }) }}


        {% include "./_includes/main-mods-metadata.njk" %}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

    <p class="govuk-body">
      Your submission was sent on 25 April 2026 at 12:00pm by Laura Thornton.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Local plan</h2>

    {{ govukSummaryList({
      classes: "app-summary-list--narrow-key",
      rows: [
        {
          key: { text: "Local plan" },
          value: {
            html: '<ul class="govuk-list"><li><a class="govuk-link" href="#" target="_blank" rel="noopener">local-plan.pdf</a></li></ul>'
          }
        }
      ]
    }) }}

  </div>
</div>

{% endblock %}
