{% extends "layouts/front-office-v2.html" %}
{% set back = false %}

{% block pageTitle %}
Application complete – {{ serviceName }}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
    titleText: "Submission complete"    }) }}

    <p class="govuk-body">We have sent you a confirmation email.</p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">We'll appoint one or more inspectors to your case, who will:

      <ul class="govuk-list govuk-list--bullet">
        <li>
          review your submission documents
        </li>
        <li>
          let you know if they need any additional information
        </li>
      </ul>

  <p class="govuk-body">At any point you can <a class="govuk-link" href="/projects/front-office/plan-details/v3/plan-details?status=with-pins&stage=examination">check your submission status</a>.</p>

  </div>
</div>
{% endblock %}

{% block footer %}
{% include "includes/front-office/pins-footer.njk" %}
{% endblock %}
