{% extends "layouts/front-office-v2.html" %}
{% set reportShared = query['report'] or data['report'] %}
{% set mainMods = query['main-mods'] or data['main-mods'] %}

{% block pageTitle %}
Application details – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/projects/front-office/plan-details/v2/plan-details?stage=examination&status=with-pins"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

    {% if reportShared == 'true' %}

    {{ govukNotificationBanner({
    html: "
    <h3 class='govuk-notification-banner__heading'>
      Your final report has been shared by the Planning Inspectorate
    </h3>
    "
    }) }}

    {% elseif mainMods == 'true' %}

        {{ govukNotificationBanner({
    html: "
    <h3 class='govuk-notification-banner__heading'>
      Main modifications have been shared by the Planning Inspectorate
    </h3>
    "
    }) }}

    {% else %}

    {{ govukNotificationBanner({
    html: "
    <h3 class='govuk-notification-banner__heading'>
      Your examination submission is with the Planning Inspectorate
    </h3>

    <p class='govuk-body'>
      You don't need to do anything right now. You will be notified by email if any action is required.
    </p>
    "
    }) }}

    {% endif %}

    {% if reportShared == 'true' %}
    {% include "./_includes/report-metadata.njk" %}
    {% elseif mainMods == 'true' %}
    {% include "./_includes/main-mods-metadata.njk" %}
    {% else %}
    {% include "./_includes/application-metadata.njk" %}
    {% endif %}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

    <p class="govuk-body">
      Your submission was sent on 25 April 2026 at 12:00pm by Laura Thornton.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Local plan</h2>

    {{ govukSummaryList({
    classes: "app-summary-list--narrow-key",
    rows: [
    {
    key: { text: "Local plan" },
    value: {
    html: '<ul class="govuk-list">
      <li><a class="govuk-link" href="#" target="_blank" rel="noopener">local-plan.pdf</a></li>
    </ul>'
    }
    }
    ]
    }) }}

  </div>
</div>

{% endblock %}