{% from "./_includes/examination-documents.njk" import examinationSections %}

{% for section in examinationSections %}
<li>
<div class="govuk-form-group{% if errorStatus == 'true' %} govuk-form-group--error{% endif %}">
  <h2 class="app-task-list__section" id="{{ section.id }}">
    {{ section.heading }}
  </h2>
  <p class="govuk-body">Documents as outlined in section 15D(2) of the Act.</p>
    {% if errorStatus == 'true' %}
    <p class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Add all required documents before your submit
    </p>
  {% endif %}
</div>

  {% set rows = [] %}
  {% for doc in section.documents %}
    {% set label = doc.name | lower %}
    {% set keyHtml = doc.name + ('<br><span class="govuk-hint govuk-!-margin-bottom-0">Required</span>' if not doc.conditional else '') %}

    {% if doc.website %}
      {% set row = {
        key: { html: keyHtml },
        value: { html: "<a href='#'>" + (data['examination-website-link'] or 'https://www.example.gov.uk/examination-library') + "</a>" },
        actions: { items: [
          { href: 'documents/examination-website-link?cya=true', html: 'Change', visuallyHiddenText: label }
        ]}
      } %}
    {% else %}
      {% set complete = data['document-upload-' + doc.id + '-complete'] %}
      {% set row = {
        key: { html: keyHtml },
        value:
          { html: "<a href='#'>" + doc.id + ".pdf</a>" } if complete
          else { html: '<span class="govuk-hint">Not added</span>' },
        actions: { items: [
          { href: 'documents/document-upload?doc=' + doc.id + '&cya=true', html: 'Change', visuallyHiddenText: label } if complete
          else { href: 'documents/document-upload?doc=' + doc.id, html: 'Add', visuallyHiddenText: label }
        ]}
      } %}
    {% endif %}

    {% set rows = (rows.push(row), rows) %}
  {% endfor %}

  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9',
    rows: rows
  }) }}
</li>
{% endfor %}
