{% extends "layouts/front-office-v2.html" %}

{% set title = "Guidance" %}
{% set activeNav = "guidance" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

{% set gateway2 %}
<p class="govuk-body">Document requirements depend on your plan's complexity. You may not need to provide all of the listed documents but it is recommended to provide what you have to get the most out of Gateway 2.</p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Document</th>
          <th scope="col" class="govuk-table__header">What is needed</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Gateway 2 cover letter
          </th>
          <td class="govuk-table__cell">
            Overview of progress, key issues for advice and list of submitted documents.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Local Plan timetable
          </th>
          <td class="govuk-table__cell">
            Current timetable showing planned and actual milestone dates.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Project Initiation Document
          </th>
          <td class="govuk-table__cell">
            Project management arrangements.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Draft Statement of Compliance
          </th>
          <td class="govuk-table__cell">
            Early evidence of progress towards meeting prescribed requirements.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Draft Statement of Soundness
          </th>
          <td class="govuk-table__cell">
            Potential soundness issues for discussion.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Notice of Intention to commence local plan preparation
          </th>
          <td class="govuk-table__cell">
            Lorem ipsum
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Scoping consultation documents
          </th>
          <td class="govuk-table__cell">
            Lorem ipsum
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
          Consultation Summary of Feedback to Scoping Consultation
          </th>
          <td class="govuk-table__cell">
            Lorem ipsum
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Gateway 1 - Self Assessment of Readiness
          </th>
          <td class="govuk-table__cell">
            Lorem ipsum
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Consultation on proposed local plan content and evidence documents
          </th>
          <td class="govuk-table__cell">
            Lorem ipsum
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Consultation summary for the above
          </th>
          <td class="govuk-table__cell">
            Lorem ipsum
          </td>
        </tr>


      </tbody>

    </table>

{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Guidance</h1>
  </div>

  <div class="govuk-grid-column-two-thirds">

    {{ govukTable({
  caption: "Overview of assessment stages",
  captionClasses: "govuk-table__caption--l",
  head: [
    { text: "Stage", classes: "govuk-!-width-one-quarter" },
    { text: "Typical duration", classes: "govuk-!-width-one-quarter" },
    { text: "Purpose", classes: "govuk-!-width-one-half" }
  ],
  rows: [
    [
      { text: "Gateway 1", classes: "govuk-!-font-weight-bold" },
      { text: "Varies" },
      { text: "Self-assessment of readiness. No assessor involved." }
    ],
    [
      { text: "Gateway 2", classes: "govuk-!-font-weight-bold" },
      { text: "4 to 6 weeks" },
      { text: "Assessor provides advice on progress and emerging soundness issues." }
    ],
    [
      { text: "Gateway 3", classes: "govuk-!-font-weight-bold" },
      { text: "4 to 6 weeks" },
      { text: "Formal stop/go check before examination." }
    ],
    [
      { text: "Examination", classes: "govuk-!-font-weight-bold" },
      { text: "Up to 6 months" },
      { text: "Independent examination by an Inspector." }
    ]
  ]
}) }}

    {# Size modifiers: xl, l, m #}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

    <h2 class="govuk-heading-l">Document requirements</h2>

    {{ govukAccordion({
    id: "",
    items: [
    {
    heading: {
    text: "Gateway 2"
    },
    content: {
    html: gateway2
    }
    },
    {
    heading: {
    text: "Gateway 3"
    },
    content: {
    html: '<table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Document</th>
          <th scope="col" class="govuk-table__header">What is needed</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Statement of Compliance
          </th>
          <td class="govuk-table__cell">
            Demonstrates prescribed requirements have been met.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Statement of Soundness
          </th>
          <td class="govuk-table__cell">
            Explains why the plan is capable of being found sound.
          </td>
        </tr>

      </tbody>

    </table>'
    }
    },
    {
    heading: {
    text: "Examination"
    },
    content: {
    html: '<table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Document</th>
          <th scope="col" class="govuk-table__header">What is needed</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Submitted local plan
          </th>
          <td class="govuk-table__cell">
            Version of the plan that forms the basis of examination.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Full evidence base
          </th>
          <td class="govuk-table__cell">
            All evidence relied on to demonstrate soundness.
          </td>
        </tr>

      </tbody>

    </table>'
    }
    }
    ]
    }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

    <h2 class="govuk-heading-l">Related content</h2>

    <ul class="govuk-list">
      <li>
        <a href="https://www.gov.uk/guidance/procedural-guide-for-examinations-and-gateways-under-the-town-and-country-planning-local-planning-england-regulations-2026"
          class="govuk-link">
          Planning Inspectorate procedural guide
        </a>
      </li>
      <li>
        <a href="https://www.gov.uk/government/collections/create-or-update-a-local-plan-using-the-new-system"
          class="govuk-link">
          Create or update a local plan using the new system
        </a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/gateway-2-assessment-for-local-plans-what-you-need-to-do"
          class="govuk-link">
          Gateway 2 assessment for local plans: what you need to do
        </a>
      </li>

      <li>
        <a href="https://www.gov.uk/guidance/gateway-3-for-local-plans-what-you-need-to-do" class="govuk-link">
          Gateway 3 for local plans: what you need to do
        </a>
      </li>
    </ul>



  </div>

  {% endblock %}