{% extends "layouts/front-office.html" %}

{% block pageTitle %}
East Borough Local Plan – Local Plans Portal
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back to my plans",
href: "/projects/front-office/home/v1/homepage"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Header -->
    <span class="govuk-caption-xl">PLAN/000006</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">East Borough Local Plan</h1>

    {% include "includes/front-office/plan-metadata.njk" %}

    {{ govukButton({
      text: "Start Gateway 2 submission",
      href: "../../application-details-g2/v2/application-details"
  }) }}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Task list -->
   <h2 class="govuk-heading-m">Plan progress</h2>

    {% from "govuk/components/task-list/macro.njk" import govukTaskList %}

    {{ govukTaskList({
      idPrefix: "plan-details",
      items: [
        {
          title: {
            text: "Gateway 1 - self assessment (opens in new tab)"
          },
          hint: {
            text: "Completed outside this service on 12 September 2025"
          },
          href: "#",
          status: {
              text: "Completed"
          }
        },
        {
          title: {
            text: "Gateway 2 - advisory check"
          },
          hint: {
            text: "Target date: 25 April 2026"
          },
          href: "../../application-details-g2/v2/application-details",
          status: {
            tag: {
              text: "Ready to start",
              classes: "govuk-tag--green"
            }
          }
        },
        {
          title: {
            text: "Gateway 3 - 12 readiness check"
          },
          hint: {
            html: "Target date: June 2026"
          },
          status: {
            text: "Cannot start yet",
            classes: "govuk-task-list__status--cannot-start-yet"
          }
        },
        {
          title: {
            text: "Examination"
          },
          hint: {
            html: "Target date: 8 August 2026"
          },
          status: {
            text: "Cannot start yet",
            classes: "govuk-task-list__status--cannot-start-yet"
          }
        }
      ]
    }) }}

    {% include "includes/front-office/plan-guidance.njk" %}

<!--<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Case officer</h2>

    <p class="govuk-body-s govuk-!-margin-bottom-1">
      <strong>Sarah Thompson</strong><br>
      Planning Inspectorate
    </p>

    <p class="govuk-body-s govuk-!-margin-bottom-1">
      Email:
      <a class="govuk-link" href="mailto:s.thompson@planninginspectorate.gov.uk">
        s.thompson@planninginspectorate.gov.uk
      </a>
    </p>

    <p class="govuk-body-s">
      General enquiries:
      <a class="govuk-link" href="mailto:support@planninginspectorate.gov.uk">
        support@planninginspectorate.gov.uk
      </a>
    </p>-->

  </div>
</div>

{% endblock %}