{% extends "layouts/front-office.html" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}


{% block pageTitle %}
  Portal index – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}



  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) 
}}

{% endblock %}





{% block content %}
  <h1 class="govuk-heading-l">Account settings</h1>


<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half govuk-body">
  <h2 class="govuk-heading-m">Change your details</h2>
   <p class="govuk-body">Your details</p>

   <task-list>
     <task-list-item>
       <a href="#">Change email address</a> <br>
       <a href="#">Change password</a>
     </task-list-item>
   </task-list>
    


   </div>
{% endblock %}

  {% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
  
