{% extends "layouts/front-office-v2.html" %}

{% set documentName = "Gateway 2 covering letter" %}
{% set title = "Upload your " + documentName %}

{% block questions %}

  <span class="govuk-caption-l">
    Procedural documents
  </span>

  {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

  {{ govukFileUpload({
  id: "document-upload",
  name: "documentUpload",
  label: {
    text: "Upload your " + documentName | lower,
    classes: "govuk-fieldset__legend--l"
  },
  javascript: true
}) }}

{% endblock %}