{% extends "layouts/back-office.html" %}

{% block pageTitle %}
Edit hearing – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Edit hearing date</h1>
    <form method="post" action="/projects/back-office/manage/hearings/edit-hearing/index">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="hearing-date-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <span class="govuk-visually-hidden">Hearing date</span>
        </legend>
        <div id="hearing-date-hint" class="govuk-hint">
          For example, 27 3 2024
        </div>
        <div class="govuk-date-input" id="hearing-date">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="hearing-date-day">Day</label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hearing-date-day" name="hearing-date-day" type="text" inputmode="numeric" value="{{ editHearing.date.day or '' }}">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="hearing-date-month">Month</label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hearing-date-month" name="hearing-date-month" type="text" inputmode="numeric" value="{{ editHearing.date.month or '' }}">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="hearing-date-year">Year</label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="hearing-date-year" name="hearing-date-year" type="text" inputmode="numeric" value="{{ editHearing.date.year or '' }}">
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="govuk-fieldset govuk-!-margin-top-8" role="group" aria-describedby="hearing-time-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <span class="govuk-visually-hidden">Hearing time</span>
        </legend>
        <div id="hearing-time-hint" class="govuk-hint">
          For example, 14 30
        </div>
        <div class="govuk-date-input" id="hearing-time">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="hearing-time-hour">Hour</label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hearing-time-hour" name="hearing-time-hour" type="text" inputmode="numeric" value="{{ editHearing.time.hour or '' }}">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="hearing-time-minute">Minute</label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hearing-time-minute" name="hearing-time-minute" type="text" inputmode="numeric" value="{{ editHearing.time.minute or '' }}">
            </div>
          </div>
        </div>
      </fieldset>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button">Continue</button>
        <a href="javascript:window.history.back()" class="govuk-link">Back</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
