{% extends "layouts/main.html" %}

{% set title="Homepage" %}
{% set activeNav = 'front-office' %}

{% block header %}
{% include "includes/PINS-header--internal.html" %}
{% include "includes/service-navigation.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
html: 'Back to all prototypes',
href: '/front-office'
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Dasboards
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "2" %}
    <h2 class="govuk-heading-m">
      Version {{ version }}
      {{ govukTag({
      classes: 'govuk-tag--yellow govuk-!-margin-left-2',
      text: 'Ready for research'
      }) }}
    </h2>

    <p class="govuk-body">Designed to give LPAs a quick overview of all plans and their current status.</p>

    {{ govukInsetText({
    html: '<a href="https://app.mural.co/t/allpins6990/m/allpins6990/1765884601123/237bc418b7dd56fd74fe7b0ce600936fbf9aba46" target="_blank" rel="noopener noreferrer">Design Mural board</a>'
    }) }}

    {{ govukButton({
    html: 'View prototype',
    href: '/projects/front-office/home/v' ~ version ~ '/homepage',
    isStartButton: true
    }) }}

    {% set v2NotesHtml %}
    <h3 class="govuk-heading-s">Changes</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>only display this page when there is more than 1 plan for an LPA / user</li>
      <li>reduce information displayed in the table to only show plan ref, title and type</li>
    </ul>

    {% endset %}

    {{ govukDetails({
    summaryText: "Version 2 notes",
    html: v2NotesHtml
    }) }}

    {% set version = "1" %}

    {% set v1HTML %}
    {{ govukButton({
    html: 'View prototype',
    href: '/projects/front-office/home/v' ~ version ~ '/homepage',
    isStartButton: true
    }) }}

    {% set v1NotesHtml %}
    <h3 class="govuk-heading-s">Notes</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>'My plans' LPA dashboard page created as the landing page after sign-in</li>
      <li>Designed to give LPAs a quick overview of all plans and their current status</li>
      <li>Table includes reference number, plan title, type, current stage and status</li>
      <li>Status column aims to help users quickly understand progress and identify next actions</li>
      <li>Each plan links to a detailed "Plan details" page with full visibility of stages, materials and decisions</li>
      <li>Focus on supporting user needs around understanding readiness, progress across gateways, and stop/go decisions
      </li>
    </ul>

    <h3 class="govuk-heading-s">Things to test</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Do users understand what each status means (for example "New" or "Ready to start", "In progress", "With PINS",
        "Completed")?</li>
      <li>Can users quickly identify which plans need attention?</li>
      <li>Is the difference between "Current stage" and "Status" clear?</li>
      <li>Do users know what happens when they click into a plan?</li>
      <li>Is additional filtering or sorting needed (for example by stage or status)?</li>
      <li>Do users need a clearer indication of "next action" directly in the table?</li>
      <li>Should the dashboard highlight overdue or at-risk plans more prominently?</li>
    </ul>

    <h3 class="govuk-heading-s">Open questions</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Do we need the "Plan type" column if all plans are local plans?</li>
      <li>Do we need a separate view for invalid or rejected plans?</li>
      <li>What should drive the ordering of the plans?</li>
    </ul>
    {% endset %}

    {{ govukDetails({
    summaryText: "Version 1 notes",
    html: v1NotesHtml
    }) }}
    {% endset %}

    {{ govukAccordion({
    id: 'previous',
    classes: 'govuk-!-margin-top-9',
    items: [
      {
        heading: {
          html: 'Version 1 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Research complete</strong>'
        },
        content: {
          html: v1HTML
        }
      }
    ]
    }) }}

  </div>
</div>
{% endblock %}