{% extends "layouts/main.html" %}

{% set pageName="Back office" %}
{% set activeNav = 'back-office' %}

{% block header %}
  {% include "includes/PINS-header--internal.html" %}
  {% include "includes/service-navigation.html" %}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <h1 class="govuk-heading-l">{{ pageName }}</h1>
  

<h2 class="govuk-heading-m">Common journeys and patterns</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/projects/back-office/create-case/index.html">Create a case</a>
        </li>
        <li>
          <a href="/projects/back-office/create-case/index2.html">All cases (back office homepage)</a>
        </li>
        </ul>
         <h2 class="govuk-heading-m">Manage a case</h2>
        <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/projects/back-office/manage/overview/index.html">Case overview</a>
        </li>
        <li>
          <a href="/projects/back-office/manage/timetable/index.html">Timetable</a>
        </li>
        <li>
          <a href="/projects/back-office/manage/GW1/index.html">Gateway 1</a>
        </li>
        <li>
          <a href="/projects/back-office/manage/GW2/index.html">Gateway 2</a>
        </li>
        <li>
          <a href="/projects/back-office/manage/GW3/index.html">Gateway 3</a>
        </li>
        <li>
          <a href="/projects/back-office/manage/examination/index.html">Examination</a>
          </li> 
        <li>
          <a href="/projects/back-office/manage/documents/index.html">Documents</a>
        </li>
        <li>
          <a href="/projects/back-office/manage/updates/index.html">Case updates</a>
        </li>
        </ul>

     
    
        
    
   
{% endblock %}