{% extends "layouts/main.html" %}

{% set pageName="Front office" %}
{% set activeNav = 'front-office' %}

{% block header %}
{% include "includes/PINS-header--internal.html" %}
{% include "includes/service-navigation.html" %}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <h1 class="govuk-heading-l">{{ pageName }}</h1>

  {{ govukButton({
  text: "Start prototype",
  href: "projects/front-office/user-login/v2/login-email",
  isStartButton: true
}) }}

  <h2 class="govuk-heading-m">
    Service-wide pages
  </h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="projects/front-office/user-login/">User login</a>
    </li>
    <li>
      <a href="projects/front-office/guidance/">Guidance</a>
    </li>
    <li>
      Manage users
    </li>
    <li>
      Account settings
    </li>
  </ul>

  <h2 class="govuk-heading-m">
    Dashboards
  </h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="projects/front-office/home/">Homepage (plan list)</a>
    </li>
    <li>
      <a href="projects/front-office/plan-details/">Plan details</a>
    </li>
  </ul>

  <h2 class="govuk-heading-m">
    Submit a local plan
  </h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="projects/front-office/gw2/">Gateway 2</a>
    </li>
    <li>
      <a href="projects/front-office/gw3/">Gateway 3</a>
    </li>
    <li>
      <a href="projects/front-office/examination/">Examination</a>
    </li>
  </ul>

  {% endblock %}