{% extends "layouts/main.html" %}

{% set pageName="Front office" %}
{% set activeNav = 'front-office' %}

{% block header %}
{% include "includes/PINS-header--internal.html" %}
{% include "includes/service-navigation.html" %}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <h1 class="govuk-heading-l">{{ pageName }}</h1>

  <h2 class="govuk-heading-m">
    Common journeys and patterns
  </h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="projects/front-office/user-login/">User login</a>
    </li>
    <li>
      Guidance
    </li>
    <li>
      Manage users
    </li>
    <li>
      Account settings
    </li>
  </ul>

  <h2 class="govuk-heading-m">
    Landing pages
  </h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="projects/front-office/home/">Dashboard</a>
    </li>
    <li>
      <a href="projects/front-office/plan-details/">Plan details</a>
    </li>
  </ul>

  <h2 class="govuk-heading-m">
    Submit a local plan
  </h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="projects/front-office/application-details-g2/">Gateway 2</a>
    </li>
    <li>
      Gateway 3
    </li>
  </ul>

  {% endblock %}