{% extends "layouts/main.html" %}

{% set pageName="Front office" %}
{% set activeNav = 'front-office' %}

{% block header %}
  {% include "includes/PINS-header--internal.html" %}
  {% include "includes/service-navigation.html" %}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <h1 class="govuk-heading-l">{{ pageName }}</h1>

  <h2 class="govuk-heading-m">
      Common journeys and patterns
  </h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="projects/front-office/user-login/">User login</a>
    </li>
    <li>
      Home (gateway navigation)
    </li>
  </ul>

  <h2 class="govuk-heading-m">
    Gateway 2
</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="projects/front-office/application-details-g2/">Submit a local plan</a>
  </li>
</ul>

<h2 class="govuk-heading-m">
  Gateway 3
</h2>
<ul class="govuk-list govuk-list--bullet">
<li>
  Submit a local plan
</li>
</ul>
   
{% endblock %}