{% extends "layouts/main.html" %}

{% set pageName="Prototypes" %}

{% block content %}
<div class="govuk-width-container">
  <h1 class="govuk-heading-l">{{ pageName }}</h1>
  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#back-office">
          Back Office
        </a>
      </li>
      <!---<li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#portal">
          Portal
        </a>
      </li>
    
       <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#reps">
          Representations
        </a>
      </li>--->
      
      
      <!--<li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#archive">
          Archive
        </a>
      </li>
      -->
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#resources">
          Resources
        </a>
      </li>
    </ul>

<!--
     <div class="govuk-tabs__panel" id="reps">
      <ul>
        <li><a href="/projects/local-plan-representations/start.html">Comment on a Local Plan landing page</a></li>
        <li><a href="/projects/local-plan-representations/who-are-you-representing.html">Who are you making the submission for?</a></li>
        <br>
        <p>
        Representation for myself
        </p>
        <li><a href="/projects/local-plan-representations/agent">Are you acting as an agent on behalf of a client?</a></li>
        <li><a href="/projects/local-plan-representations/name.html">What is your name?</a> </li>
        <li><a href="/projects/local-plan-representations/email-address.html">What is you email address?</a> </li>
        <li><a href="/projects/local-plan-representations/address.html">What is your address?</a> </li>
        <br>
        <p>
        Representation for another person
        </p>
        <li><a href="/projects/local-plan-representations/agent-person.html">Are you acting as an agent on behalf of a client?</a> </li>
        <li><a href="/projects/local-plan-representations/name-of-organisation-another-person.html" >What is the name of the organisation you work for?</a> </li>
        <li><a href="/projects/local-plan-representations/email-rep-person.html">What is your email address?</a> </li>
        <li><a href="/projects/local-plan-representations/email-rep-not-agent-person.html">What is your email address (not agent)</a></li>
        <li><a href="/projects/local-plan-representations/person-representing.html">What is the name of the person you are representing?</a> </li>
        <br>
        <p>
        Representation for a client
        </p>
        <li><a href="/projects/local-plan-representations/agent.html">Are you acting as an agent on behalf of a client?</a> </li>
        <li><a href="/projects/local-plan-representations/name-of-organisation.html" >What is the name of the organisation you work for?</a> </li>
        <li><a href="/projects/local-plan-representations/email-rep-organisation.html">What is your email address?</a> </li>
        <li><a href="/projects/local-plan-representations/email-rep-not-agent-organisation.html">What is your email address (not agent)</a></li>
        <li><a href="/projects/local-plan-representations/organisation-representing.html">What is the full name of the organisation or charity that you are representing?</a> </li>
        <br>
        <p>
        Representation comments 
        </p>
          <li><a href="/projects/local-plan-representations/part-of-plan.html">What part of the plan are you commenting on?</a> </li>
          <li><a href="/projects/local-plan-representations/soundness.html">Do you consider the Local Plan to be sound?</a> </li>
          <li><a href="/projects/local-plan-representations/legally-compliant.html">Do you consider the Local Plan to be legally compliant?</a> </li>
          <li><a href="/projects/local-plan-representations/duty-to-cooperate.html">Do you consider the Local Plan complies with Duty to Co-operate?</a> </li>
          <li><a href="/projects/local-plan-representations/add-your-comment.html">What do you want to say about this Local Plan?</a> </li>
          <li><a href="/projects/local-plan-representations/upload-files-to-support-comment.html">Do you want to include any supporting documents with your comment?</a> </li>
          <li><a href="/projects/document-category/upload-documents.html">Upload documents</a> </li>
       </ul>
     </div>
    -->
    <div class="govuk-tabs__panel" id="back-office">
      <ul>
        <li><a href="/projects/back-office/create-case/index">Local plans back office homepage</a></li>
        <!--<li><a href="/projects/back-office/view-case/overview ">View case</a>
          <ul>
            <li><a href="/projects/back-office/view-case/overview">Overview</a></li>
            <li><a href="/projects/back-office/view-case/key-dates">Key dates</a></li>
            <li><a href="/projects/back-office/view-case/project-team">Project Team</a></li>
            <li><a href="/projects/back-office/view-case/project-documentation">Project documentation</a>
            <ul>
              <li><a href="/projects/back-office/view-case/project-documentation/generic-folder-page">Generic folder page</a></li>
              <li><a href="/projects/back-office/view-case/project-documentation/relevant-representations">Relevant representations</a></li>
            </ul>
            </li>
            <li><a href="/projects/back-office/view-case/project-updates">Project updates</a></li>
            <li><a href="/projects/back-office/view-case/examination-timetable">Examination timetable</a></li>
            <li><a href="/projects/back-office/view-case/fees-and-forecasting">Fees and forecasting</a></li>
          </ul>
        </li>-->
        <li><a href="/projects/back-office/create-case/0-case-officer-name.html">Create case (add case officer)</a>
          <ol>
            <li><a href="/projects/back-office/create-case/1-plan-title">Plan title</a></li>
            <li><a href="/projects/back-office/create-case/2-plan-type">Plan type</a></li>
            <li><a href="/projects/back-office/create-case/3-select-LPA">Lead LPA</a></li>
            <li><a href="/projects/back-office/create-case/3a-LPA-region">LPA region</a></li>
            <li><a href="/projects/back-office/create-case/4-lead-contact-name">Lead contact name</a></li>
            <li><a href="/projects/back-office/create-case/5-lead-email-address">Lead email address</a></li>
            <li><a href="/projects/back-office/create-case/6-lead-phone-number">Lead phone number</a></li>
            <li><a href="/projects/back-office/create-case/7-add-secondary">Add secondary LPA</a></li>
            <li><a href="/projects/back-office/create-case/8-secondary-LPA">Secondary LPA</a></li>
            <li><a href="/projects/back-office/create-case/9-secondary-LPA-contact-name">Secondary LPA contact name</a></li>
            <li><a href="/projects/back-office/create-case/10-secondary-LPA-email-address">Secondary LPA email address</a></li>     
            <li><a href="/projects/back-office/create-case/11-secondary-LPA-phone-number">Secondary LPA phone number</a></li>
            <li><a href="/projects/back-office/create-case/contact-name">Additional contact name</a></li>
            <li><a href="/projects/back-office/create-case/contact-email-address">Additional contact email address</a></li>
            <li><a href="/projects/back-office/create-case/contact-phone-number">Additional contact phone number</a></li>
            <li><a href="/projects/back-office/create-case/check-answers">Check answers</a></li>
            <li><a href="/projects/back-office/create-case/confirmation">Confirmation</a></li>
          </ol>
        </li>
      </ul>
    </div>
    <!--
    <div class="govuk-tabs__panel" id="portal">
      <p>Accessing the service:</p>
      <ul>
      <li><a href="/projects/portal/service-invite.html">Service invite (email template)</a> </li>
      <li><a href="/projects/portal/sign-in.html">Sign in</a> </li>
      <li><a href="/projects/portal/application-reference-v2.html">Do you have an application reference number</a> </li>
      <li><a href="/projects/portal/code-email.html">Code email (email template)</a> </li>
      <li><a href="/projects/portal/enter-code.html">Enter code</a> </li>
      <li><a href="/projects/portal/request-new-code.html">Request a new code</a> </li>
      <li><a href="/projects/portal/enter-code-success.html">Enter code with success banner</a> </li>
      <li><a href="/projects/portal/no-access.html">No access</a> </li>
    </p>
      </ul>
      <p>Inside the service:</p>
      <ul>
        <li>
      <a href="/projects/portal/tasklist.html">Landing page (tasklist)</a>
        </li>
        </ul>
    
    <p>Document upload:</p>
    <ul>
      <li><a href="/projects/portal/document-category.html">Document category homepage empty</a></li>
      <li><a href="/projects/portal/document-category/upload-documents.html">Upload documents</a></li>
      <li><a href="/projects/portal/document-category/document-type.html">Document type</a></li>
      <li><a href="/projects/portal/document-category/confirm-document-upload">Confirm document upload</a></li>
      <li><a href="/projects/portal/document-category/with-documents.html">Document category homepage with documents</a></li>
    </ul>

    <h1 class="govuk-heading-m">
      Application form:
    </h1>
    <p>
      <a href="/application-form/01a-organisation.html">Applicant organisation</a> <br>
      <a href="/application-form/01b-contact-name.html">Applicant contact name</a> <br>
    </p>  
    
    <h1 class="govuk-heading-m">
      Archived
    </h1>
    <p>
      <a href="/reference-number.html">Enter reference number</a> <br>
      <a href="/email-address.html">Enter email address</a> <br>
      <a href="/application-reference.html">Enter application reference</a> <br>
      <a href="/document-category/apfp-v1.html">APFP Regulation (Version 1)</a> <br>
      <a href="/sign-in-v1.html">Sign in (Version 1)</a> <br>
      <a href="/sign-in-v2.html">Sign in (Version 2)</a> <br>
      <a href="/sign-in-v3.html">Sign in (Version 3)</a> <br>
      <a href="/sign-in-v4.html">Sign in (Version 4)</a> <br>
    </p>
  
    </div>
    <div class="govuk-tabs__panel" id="archive">
      <p>Add links here for archived prototypes
      </p>
      <ul>
        <li><a href="/Applications/archive-homepage">Archived applications homepage</a></li>
      </ul>
  
    </div>
  -->
    <div class="govuk-tabs__panel" id="resources">
      <p>Prototypes</p>
      <ul>
        <li><a href="https://pins-app-prototype-applications-back-office.azurewebsites.net">Old Applications prototype</a></li>
        <li><a href="https://pins-app-prototype-appeals-front-office.azurewebsites.net">Appeals Front Office prototype</a></li>
        <li><a href="https://pins-app-prototype-appeals-back-office.azurewebsites.net">Appeals Back Office prototype</a></li>
        <li><a href="https://pins-app-prototype-crown-dev.azurewebsites.net/">Crown Development prototype</a></li>
      </ul>
      <p>User research</p>
      <ul>
        <li><a href="https://pins-ds.atlassian.net/wiki/spaces/LO/folder/2424700939?atlOrigin=eyJpIjoiZmUzZjg1ODBlMmI1NDdiM2EyYTM3MWYwYWFlZjMxYTMiLCJwIjoiYyJ9">Local Plans - User research</a></li>
        <li><a href="https://pins-ds.atlassian.net/wiki/spaces/AS2/pages/1223655425/Applications+User+Research">Applications - User research</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}