
{% extends "layouts/back-office.html" %}

{% block pageTitle %}
  Delete document – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/projects/back-office/manage/documents/v1/documents"
  }) }}
{% endblock %}


{% block content %} 

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">{{ caseRef or 'PLAN/000001' }} - Manage documents</span>
    <h1 class="govuk-heading-l">Delete document</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          File name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ documentName or 'Unknown document' }}
        </dd>
      </div>
    </dl>

    <form action="/projects/back-office/manage/documents/delete" method="post">
      <input type="hidden" name="documentName" value="{{ documentName }}">
      

      <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span> This action cannot be undone.
    </strong>
</div>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Delete document",
          classes: "govuk-button--warning"
        }) }}
        
        {{ govukButton({
          text: "Cancel",
          classes: "govuk-button--secondary",
          href: "/projects/back-office/manage/documents/v1/documents"
        }) }}
      </div>
    </form>
        
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
