{% extends "layouts/back-office.html" %}

{% block pageTitle %}
Documents – {{ serviceName }}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl">Document properties</span>
    <h1 class="govuk-heading-xl"> Document_1.pdf</h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Case reference</th>
          <td class="govuk-table__cell">EN0110007</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Document reference number</th>
          <td class="govuk-table__cell">EN0110007-000011</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">File type and size</th>
          <td class="govuk-table__cell">PDF, 17 KB</td>
        </tr>
        <!--<tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Version</th>
          <td class="govuk-table__cell">2</td>
        </tr>-->
      </tbody>
    </table>

    <!--{% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
    text: "Upload new version"
  }) }}-->

    <h2 class="govuk-heading-m">Document actions</h2>

    <div class="govuk-button-group">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Open
      </button>
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Download
      </button>
     <!-- <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Open in Adobe
      </button>
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Unpublish
      </button>-->
    </div>

  </div>

  <div class="govuk-grid-column-full">
         
     
        <h2 class="govuk-heading-m">Document properties</h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header">File name</td>
              <td class="govuk-table__cell">document.pdf</td>
              <td class="govuk-table__cell govuk-!-text-align-right"><a href="#">Change</a></td>
            </tr>
            <!--<tr class="govuk-table__row">
              <td class="govuk-table__header">IP number (optional)</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-!-text-align-right"><a href="#">Change</a></td>
            </tr>-->
            <tr class="govuk-table__row">
              <td class="govuk-table__header">Who the document is from</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-!-text-align-right"><a href="#">Change</a></td>
            </tr>
           <!-- <tr class="govuk-table__row">
              <td class="govuk-table__header">Agent (optional)</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-!-text-align-right"><a href="#">Change</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header">Document case stage</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-!-text-align-right"><a href="#">Change</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header">Webfilter</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-!-text-align-right"><a href="#">Change</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header">Document type (optional)</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-!-text-align-right"><a href="#">Change</a></td>
            </tr>-->
            <tr class="govuk-table__row">
              <td class="govuk-table__header">Date received</td>
              <td class="govuk-table__cell">11 April 2025</td>
              <td class="govuk-table__cell govuk-!-text-align-right"><a href="#">Change</a></td>
            </tr>
           <!-- <tr class="govuk-table__row">
              <td class="govuk-table__header">Published date</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-!-text-align-right"><a href="#">Change</a></td>
            </tr>
           
            <tr class="govuk-table__row">
              <td class="govuk-table__header">Status</td>
              <td class="govuk-table__cell">Not checked</td>
              <td class="govuk-table__cell govuk-!-text-align-right"><a href="#">Change</a></td>
            </tr>-->
          </tbody>
        </table>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
        <h2 class="govuk-heading-m">Document history</h2>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">File name</th>
              <th scope="col" class="govuk-table__header">Activity</th>
             <!-- <th scope="col" class="govuk-table__header">Redaction</th>-->
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

            {% for i in [5,4,3,2,1] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <p class="govuk-body">{{ i }}</p>
      </div>
      </td>
      <td class="govuk-table__cell">
        <strong><a href="#" class="govuk-link">Document_v{{ i }}.pdf</a></strong><br>
        PDF, 1.2MB
      </td>
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--spaced">
          <li>
            <p class="govuk-body"><strong>Uploaded: </strong>13:23, 11 Apr 2025, McShane, Claire</p>
          </li>
          <li>
            <p class="govuk-body"><strong>Published: </strong>Not published</p>
          </li>
        </ul>
      </td>
     <!-- <td class="govuk-table__cell">Unredacted</td>-->
      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-list--spaced">
          <li><a href="#" class="govuk-link">Download</a></li>
          <li><a href="#" class="govuk-link">Open in Adobe</a></li>
        </ul>
      </td>
      </tr>
      {% endfor %}

      </tbody>
      </table>
    </div>
  </div>
</div>



{% endblock %}
{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}