{% extends "layouts/front-office-v2.html" %}

{% set planStatus = data['status'] or 'ready' %}
{% set currentStage = data['stage'] or 'gateway-2' %}

{% block pageTitle %}East Borough Local Plan – Local Plans Portal{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back to my plans",
href: "/projects/front-office/home/v2/homepage"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if planStatus == 'with-pins' %}

    {{ govukNotificationBanner({
      html: "
        <h3 class='govuk-notification-banner__heading'>
          Gateway 2 is with the Planning Inspectorate
        </h3>

        <p class='govuk-body'>
          Your submission is being reviewed. You do not need to do anything right now.
          You will be notified by email if any action is required.
        </p>

        <a class='govuk-notification-banner__link' href='../../gw2/v2/application-details-submitted'>
          View your Gateway 2 submission
        </a>
      "
    }) }}

    {% elif planStatus == 'action-needed' %}

    {{ govukNotificationBanner({
      html: "
        <h3 class='govuk-notification-banner__heading'>Your gateway 2 submission is incomplete</h3>
        <p class='govuk-body'>PINS has reviewed your submission and found issues with some documents. You must upload corrected files before your plan can progress.</p>
        <p class='govuk-body govuk-!-margin-bottom-0'><a class='govuk-link' href='/projects/front-office/gw2/v2/application-details-option-a'>Review and correct your documents</a></p>
      "
    }) }}

    {% endif %}

    {% include "./_includes/plan-heading.njk" %}
    {% include "./_includes/plan-tasklist.njk" %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
    {% if currentStage == 'gateway-3' %}
    {% include "./_includes/shared-documents.njk" %}
    {% endif %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
    <!-- {% include "./_includes/plan-guidance-tabs.njk" %} -->

  </div>
</div>
{% endblock %}