{% extends "layouts/front-office.html" %}

{% block pageTitle %}
East Borough Local Plan – Local Plans Portal
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back to my plans",
href: "/projects/front-office/home/v1/homepage"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukNotificationBanner({
      type: "important",
      html: "
        <h3 class='govuk-notification-banner__heading'>Action needed: Gateway 2 submission incomplete</h3>
        <p class='govuk-body'>PINS has reviewed your submission and found issues with some documents. You must upload corrected files before your plan can progress.</p>
        <p class='govuk-body govuk-!-margin-bottom-0'><a class='govuk-link' href='#'>Review and correct your documents</a></p>
      "
    }) }}

    <!-- Header -->
    <span class="govuk-caption-xl">PLAN/000003</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">North District Local Plan</h1>

     <!--<p class="govuk-body-l govuk-!-margin-bottom-5">
      <strong>Current stage:</strong> Gateway 2
      {{ govukTag({ text: "In progress", classes: "govuk-tag--blue govuk-!-margin-left-2" }) }}
    </p>

   <p class="govuk-body">
      Submit all required documents before <strong>12 March 2026</strong>.
    </p>-->

    {% include "includes/front-office/plan-metadata-action-needed.njk" %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Task list -->
    <h2 class="govuk-heading-m">Plan progress</h2>

    {% from "govuk/components/task-list/macro.njk" import govukTaskList %}

    {{ govukTaskList({
      idPrefix: "plan-details",
      items: [
        {
          title: {
            text: "Gateway 1 - self assessment (opens in new tab)"
          },
          hint: {
            text: "Completed outside this service on 12 September 2025"
          },
          href: "#",
          status: {
              text: "Completed"
          }
        },
        {
          title: {
            text: "Gateway 2 - advisory check"
          },
          hint: {
            text: "Submitted on 25 April 2026"
          },
          href: "#",
          status: {
            tag: {
              text: "Action needed",
              classes: "govuk-tag--red"
            }
          }
        },
        {
          title: {
            text: "Gateway 3 - readiness check"
          },
          hint: {
            html: "Target date: 20 June 2026"
          },
          status: {
            text: "Cannot start yet",
            classes: "govuk-task-list__status--cannot-start-yet"
          }
        },
        {
          title: {
            text: "Examination"
          },
          hint: {
            html: "Target date: 8 August 2026"
          },
          status: {
            text: "Cannot start yet",
            classes: "govuk-task-list__status--cannot-start-yet"
          }
        }
      ]
    }) }}

       {% include "includes/front-office/plan-guidance.njk" %}

  </div>
</div>

<!--<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h2 class="govuk-heading-m">Case officer</h2>

    <p class="govuk-body-s govuk-!-margin-bottom-1">
      <strong>Sarah Thompson</strong><br>
      Planning Inspectorate
    </p>

    <p class="govuk-body-s govuk-!-margin-bottom-1">
      Email:
      <a class="govuk-link" href="mailto:s.thompson@planninginspectorate.gov.uk">
        s.thompson@planninginspectorate.gov.uk
      </a>
    </p>

    <p class="govuk-body-s">
      General enquiries:
      <a class="govuk-link" href="mailto:support@planninginspectorate.gov.uk">
        support@planninginspectorate.gov.uk
      </a>
    </p>

  </div>
</div>-->

{% endblock %}